<!DOCTYPE html>
<html>
<head>
    <title>TruDesk &middot; {{{title}}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>
    <!--<link rel="stylesheet" href="/css/foundation.min.css"/>-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css"/>

    {{#block 'css'}}

    {{/block}}

    <link rel="stylesheet" href="/css/plugins.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor/requirejs/requirejs.min.js"></script>
    <script src="/js/trudesk.min.js"></script>

</head>
<body>
<div id="loader"></div>
<div id="nomobile" class="hide-for-large-up" style="
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    background: #f6f6f6;
">
<div style="position: absolute; top: 50%; left: 0; width: 100%;text-align: center;font-size: 32px; font-weight: 300;">Currently No Mobile Support.</div>
</div>

<div id="__loggedInAccount__id" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.loggedInAccount._id}}</div>
<div id="__loggedInAccount_username" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.loggedInAccount.username}}</div>
<div id="__loggedInAccount_role" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.loggedInAccount.role}}</div>

<div class="wrapper show-for-large-up" style="height: 100%;">
    <div id="notice-banner" style="
        width: 100%;
        height: 30px;
        background: {{data.common.notice.color}};
        color: {{data.common.notice.fontColor}};
        font-size: 13px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding-top: 7px;" {{#if data.common.notice}} class="show" {{else}} class="hide" {{/if}}>

        {{formatDate data.common.notice.activeDate "MM/DD/YYYY HH:mm"}} - Important: {{data.common.notice.message}}
    </div>

    {{> topbar }}
    <div class="row" style="background: #223140;">
        {{> nav }}

            <div id="page-content" class="clearfix" ng-controller="truCtrl">
                {{{body}}}
            </div>

    </div>
    {{> chatdock }}
</div>

<audio id="newticketaudio" src="/sounds/newticket.ogg" class="hide"></audio>
<audio id="newmessageaudio" src="/sounds/newmessage.ogg" class="hide"></audio>

{{> newMessageWindow }}
{{> ticketFilterWindow }}
</body>

{{#block "js-plugins"}}

{{/block}}

</html>