<!DOCTYPE html>
<html>
<head>
    <title>TruDesk &middot; {{{title}}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>
    <!--<link rel="stylesheet" href="/css/foundation.min.css"/>-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css"/>

    <!--Keep Separate for Loader-->
    <link rel="stylesheet" href="/js/vendor/wdtLoading/wdtLoading.css"/>
    <script src="/js/vendor/wdtLoading/wdtLoading.js" type="text/javascript"></script>
    {{#block 'css'}}

    {{/block}}

    <link rel="stylesheet" href="/css/plugins.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor/requirejs/requirejs.min.js"></script>
    <script src="/js/trudesk.min.js"></script>

</head>
<body>
<div class="wdt-loading-screen">
    <div class="wdt-loading-phrases">
        <div class="wdt-loading-phrase-category" data-category="default">
            <div class="wdt-loading-phrase">Warming engines...</div>
            <div class="wdt-loading-phrase">Writing project descriptions...</div>
            <div class="wdt-loading-phrase">Looking for work...</div>
            <div class="wdt-loading-phrase">Collecting Tickets...</div>
            <div class="wdt-loading-phrase">Calculating Graphs...</div>
            <div class="wdt-loading-phrase">Populating the cloud...</div>
            <div class="wdt-loading-phrase">Fixing responsive issues...</div>
            <div class="wdt-loading-phrase">Generating Colors...</div>
            <div class="wdt-loading-phrase">Coffee break...</div>
            <div class="wdt-loading-phrase">Engine Check...</div>
            <div class="wdt-loading-phrase">Health check...</div>
            <div class="wdt-loading-phrase">Storage check...</div>
        </div>
        <div class="wdt-loading-phrase-category" data-category="profile">
            <div class="wdt-loading-phrase">Getting avatar...</div>
            <div class="wdt-loading-phrase">Collecting project memberships...</div>
            <div class="wdt-loading-phrase">Getting dom together...</div>
            <div class="wdt-loading-phrase">Getting followers...</div>
            <div class="wdt-loading-phrase">Calculating best skills...</div>
            <div class="wdt-loading-phrase">Getting feed...</div>
            <div class="wdt-loading-phrase">Writing title...</div>
        </div>
    </div>
</div>
<script type="text/javascript">
//    wdtLoading.start({
//        speed: 1000
//    });
</script>
<div id="nomobile" class="hide-for-medium-up" style="
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    background: #f6f6f6;
">
<div style="position: absolute; top: 50%; left: 0; width: 100%;text-align: center;font-size: 32px; font-weight: 300;">Currently No Mobile Support.</div>
</div>

<div id="__loggedInAccount__id" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.loggedInAccount._id}}</div>
<div id="__loggedInAccount_username" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.loggedInAccount.username}}</div>
<div id="__loggedInAccount_role" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.loggedInAccount.role}}</div>

<div class="wrapper show-for-medium-up" style="height: 100%;">
    <div id="notice-banner" style="
        width: 100%;
        height: 30px;
        background: {{data.common.notice.color}};
        color: {{data.common.notice.fontColor}};
        font-size: 13px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding-top: 7px;" {{#if data.common.notice}} class="show" {{else}} class="hide" {{/if}}>

        {{formatDate data.common.notice.activeDate "MM/DD/YYYY HH:mm"}} - Important: {{data.common.notice.message}}
    </div>

    {{> topbar }}
    <div class="row" style="background: #223140;">
        {{> nav }}

            <div id="page-content" class="clearfix" ng-controller="truCtrl">
                {{{body}}}
            </div>

    </div>
    {{> chatdock }}
</div>

<audio id="newticketaudio" src="/sounds/newticket.ogg" class="hide"></audio>
<audio id="newmessageaudio" src="/sounds/newmessage.ogg" class="hide"></audio>

{{> newMessageWindow }}
{{> ticketFilterWindow }}

{{#block "js-plugins"}}

{{/block}}
</body>

</html>