<!DOCTYPE html>
<html>
<head>
    <title>{{data.common.siteTitle}} &middot; {{{title}}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{data.common.favicon}}" />
    <link rel="stylesheet" href="/css/normalize.min.css"/>

    {{#block 'css'}}

    {{/block}}

    <link rel="stylesheet" href="/css/plugins.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

    {{#block 'plugincss'}}

    {{/block}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/truRequire.js"></script>
</head>
<body>
<!--<header>-->
    <!--<div aria-busy="false" aria-label="Loading, please wait." role="progressbar"></div>-->
<!--</header>-->
<div id="loader-wrapper" class="loader-wrapper">
    <div class="shadow-wrapper">
        <svg class="shadow">
            <defs>
                <radialGradient r="0.5" cy="0.5" cx="0.5" id="bigdotshadow">
                    <stop stop-color="#000000" offset="0"/>
                    <stop stop-opacity="0" stop-color="#000000" offset="1"/>
                </radialGradient>
            </defs>
            <ellipse class="shadow" opacity="0.2" ry="6" rx="10" id="svg_1" cy="65" cx="103" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="url(#bigdotshadow)"/>
        </svg>
    </div>
    <div class="test-wrapper">
        <svg id="t" class="bigdot" style="width: 140px; height: 75px;" viewBox="0 0 288.9 70.1" preserveAspectRatio="xMidYMid meet">
            <g id="g" style="width: 100%; height: 100%;">
                <circle class="s1" cx="35.9" cy="82" r="10" />
            </g>
        </svg>
    </div>
</div>
<div id="serverRestarting" class="loader-wrapper hide" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #ddd; z-index: 999998;">
    <div class="shadow-wrapper">
        <svg class="shadow">
            <defs>
                <radialGradient r="0.5" cy="0.5" cx="0.5" id="shadow">
                    <stop stop-color="#323232" offset="0"/>
                    <stop stop-opacity="0" stop-color="#323232" offset="1"/>
                </radialGradient>
            </defs>
            <ellipse class="shadow" opacity="0.2" ry="6" rx="35" id="svg_1" cy="65" cx="90" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#323232" fill="url(#shadow)"/>
        </svg>
    </div>
    <div class="test-wrapper" style="width: 280px;">
        <svg id="t" class="t" style="width: 140px; height: 75px;" viewBox="0 0 288.9 70.1" preserveAspectRatio="xMidYMid meet">
            <g id="g" style="width: 100%; height: 100%;">
                <path class="s1" d="M28.5,28.4c-0.1,1.6-0.7,3.4-1.6,5.4c-2.4-0.3-4.6-0.4-6.8-0.4h-1.7c-2.9,13.9-4.3,22.6-4.3,26.1 c0,1.8,0.4,2.7,1.2,2.7c0.8,0,2.9-0.8,6.2-2.3l1.7,3.1C17.7,67.7,12.5,70,7.8,70c-2.2,0-4-0.7-5.4-2.1c-1.4-1.4-2.1-3.2-2.1-5.5	c0-2.3,0.3-4.9,0.8-7.7c0.5-2.9,1.3-6.4,2.2-10.6c0.9-4.2,1.6-7.5,2.1-10.1c-2.3,0.2-4,0.4-5.2,0.6c-0.1-0.8-0.2-1.8-0.2-3	c0-1.3,0.1-2.3,0.3-3.1h5.9c0.5-3.4,0.8-6.6,0.8-9.6L6.8,16v-0.3c4.9-1.7,9.5-2.5,13.8-2.5c0.2,1.3,0.4,2.8,0.4,4.7	c0,1.9-0.5,5.4-1.6,10.6H28.5z" />
                <circle class="s1" cx="35.9" cy="82" r="4" />
            </g>
        </svg>
    </div>
    <div class="test-wrapper" style="height: auto; top: 52%; width: 280px;">
        <h4 style="font-size: 24px; font-weight: 300; margin-left: 25px;">Please Wait...</h4>
    </div>
</div>
<div id="nomobile" class="uk-visible-small uk-hidden-medium uk-hidden-large" style="
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    background: #f6f6f6;
">
<div style="position: absolute; top: 50%; left: 0; width: 100%;text-align: center;font-size: 28px; font-weight: 300;"><a
        href="/mobile">View Mobile Site...</a></div>
</div>

<div class="disconnected loader-wrapper" style="display: none; opacity: 0; z-index: 999997;">
    <div class="shadow-wrapper">
        <svg class="shadow">
            <defs>
                <radialGradient r="0.5" cy="0.5" cx="0.5" id="shadow">
                    <stop stop-color="#323232" offset="0"/>
                    <stop stop-opacity="0" stop-color="#323232" offset="1"/>
                </radialGradient>
            </defs>
            <ellipse class="shadow" opacity="0.2" ry="6" rx="35" id="svg_1" cy="65" cx="90" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#323232" fill="url(#shadow)"/>
        </svg>
    </div>
    <div class="test-wrapper">
        <svg id="t" class="t" style="width: 140px; height: 75px;" viewBox="0 0 288.9 70.1" preserveAspectRatio="xMidYMid meet">
            <g id="g" style="width: 100%; height: 100%;">
                <path class="s1" style="fill: white !important;" d="M28.5,28.4c-0.1,1.6-0.7,3.4-1.6,5.4c-2.4-0.3-4.6-0.4-6.8-0.4h-1.7c-2.9,13.9-4.3,22.6-4.3,26.1 c0,1.8,0.4,2.7,1.2,2.7c0.8,0,2.9-0.8,6.2-2.3l1.7,3.1C17.7,67.7,12.5,70,7.8,70c-2.2,0-4-0.7-5.4-2.1c-1.4-1.4-2.1-3.2-2.1-5.5	c0-2.3,0.3-4.9,0.8-7.7c0.5-2.9,1.3-6.4,2.2-10.6c0.9-4.2,1.6-7.5,2.1-10.1c-2.3,0.2-4,0.4-5.2,0.6c-0.1-0.8-0.2-1.8-0.2-3	c0-1.3,0.1-2.3,0.3-3.1h5.9c0.5-3.4,0.8-6.6,0.8-9.6L6.8,16v-0.3c4.9-1.7,9.5-2.5,13.8-2.5c0.2,1.3,0.4,2.8,0.4,4.7	c0,1.9-0.5,5.4-1.6,10.6H28.5z" />
                <circle class="s1" cx="35.9" cy="82" r="4" />
            </g>
        </svg>
    </div>
    <div style="position:absolute;width: 400px;top:50%; left: 50%;transform: translate(-50%, -50%);">
        <p style="padding-top: 75px;">Disconnected... Trying to reconnect</p>
    </div>
</div>
<div id="restoreBackupOverlay" class="loader-wrapper hide" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #ddd; z-index: 999998;">
    <div class="page-center">
        <h1 class="text-light" style="color: #444;">Restore in Progress...</h1>
        <div class="uk-progress uk-progress-striped uk-progress-accent uk-active" style="height: 31px;">
            <div class="uk-progress-bar" style="width: 100%;"></div>
        </div>
    </div>
</div>
<!--<div class="tour-fader hide" style="top: 0; left: 0; position: absolute; width: 100vw; height: 100vh; background: rgba(0,0,0,0.3); z-index: 1;"></div>-->

<!--Tour Start Here-->
<div id="__tourEnabled" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.showTour}}</div>
<div id="__timezone" class="hide" style="display:none; visibility: hidden; opacity: 0;">{{data.common.timezone}}</div>
<div class="wrapper uk-hidden-small" style="overflow: hidden; height: 100%;">

    {{> topbar }}
    {{> nav }}

    <div class="ajaxyContent">
        <div id="page-content" style="margin-left: 57px;" ng-controller="TrudeskController">
            <div id="__sidebar_route" class="hide" style="visibility: hidden">{{nav}}</div>
            <div id="__sidebar_sub_route" class="hide" style="visibility: hidden">{{subnav}}</div>
            {{{body}}}
        </div>
    </div>
    {{> onlineListSidebar }}
    {{> chatdock }}
    <div id="modal-wrapper"></div>
</div>

<audio id="newticketaudio" src="/sounds/newticket.ogg" class="uk-hidden"></audio>
<audio id="newmessageaudio" src="/sounds/newmessage.ogg" class="uk-hidden"></audio>
<audio id="sendChatMessage_audio" src="/sounds/messagesent.ogg" class="uk-hidden"></audio>
<audio id="receivedChatMessage_audio" src="/sounds/messagereceived.ogg" class="uk-hidden"></audio>
<audio id="success_audio" src="/sounds/success.ogg" class="uk-hidden"></audio>
<audio id="error_audio" src="/sounds/error.ogg" class="uk-hidden"></audio>
<audio id="clicksound" src="/sounds/click.ogg" class="uk-hidden"></audio>

{{#block "js-plugins"}}

{{/block}}
<script type="text/javascript">
    if (screen.width <= 800) {
        document.location = '/mobile';
    }
</script>
<script type="text/javascript" id="preloader">
    // TODO: Temp. Until we pass render fully on server.
    if (!window.trudesk)
        window.trudesk = {};
    window.trudesk.__PRELOADED_STATE__ = {{{stringify data.common}}};
    window.trudesk.viewdata = {{{stringify data.common}}};
</script>

<script src="/js/trudesk.min.js"></script>

</body>

</html>
