<div id="mail-notifications" data-scroll="mail-Messages" class="notifications p-dropdown" data-top-offset="-10" data-left-offset="4">
    <div class="actions">
        <a href="/messages" class="blackLink">Conversations</a>
        <!--<div class="right"><a href="#" class="eh-sendNewMessage hoverUnderline no-ajaxy" ng-click="openNewMessageWindow($event)">Send a New Message</a></div>-->
        <div class="right"><a href="/messages/startconversation" class="hoverUnderline">Start Conversation</a></div>
    </div>
    <div id="mail-Messages" class="mail-Messages close-on-click">
        <ul>
            {{#each data.common.conversations}}
                <li>
                    <a class="messageNotification" href="/messages/{{_id}}" role="button">
                        <div class="clearfix">
                            {{#if partner.image}}
                                <div class="profilePic left"><img src="/uploads/users/{{partner.image}}" alt="profile"/></div>
                            {{else}}
                                <div class="profilePic left"><img src="/uploads/users/defaultProfile.jpg" alt="profile"/></div>
                            {{/if}}
                            <div class="messageAuthor"><strong>{{partner.fullname}}</strong></div>
                            <div class="messageSnippet">
                                <span>{{recentMessage}}</span>
                            </div>
                            <div class="messageDate" style="position: absolute; top: 10px; right: 15px;">
                                <time datetime="{{formatDate updatedAt "YYYY-MM-DDThh:mm"}}" class="timestamp">{{formatDate updatedAt "MMM DD, YYYY"}}</time>
                            </div>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>