<div id="notifications" data-scroll="notifications-Messages" class="notifications p-dropdown" data-top-offset="-10" data-left-offset="4">
    <div class="actions"><span style="padding-left: 5px;">Notifications </span><div class="right"><a class="hoverUnderline no-ajaxy" ng-click="clearNotifications($event)">Clear Notifications</a></div></div>
    <div id="notifications-Messages" class="notifications-Messages close-on-click">
        <ul>
            {{#each data.common.notifications.items}}
                <li>
                    <a class="messageNotification" href="/tickets/{{data.ticket.uid}}" role="button" data-notificationId="{{_id}}" ng-click="markRead($event)">
                        <div class="clearfix">
                            {{#if unread}}
                                <div class="messageUnread"></div>
                            {{/if}}
                            {{#compare type 0}}
                                <div class="messageIcon left"><i class="fa fa-check green"></i></div>
                            {{/compare}}
                            {{#compare type 1}}
                                <div class="messageIcon left"><i class="fa fa-comment-o green" style="margin-top: -5px"></i></div>
                            {{/compare}}
                            {{#compare type 2}}
                                <div class="messageIcon left"><i class="fa fa-exclamation red"></i></div>
                            {{/compare}}
                            <div class="messageAuthor"><strong>{{title}}</strong></div>
                            <div class="messageSnippet">
                                <span>{{message}}</span>
                            </div>
                            <div class="messageDate">
                                <time datetime="{{formatDate created "YYYY-MM-DDThh:mm"}}" class="timestamp">{{formatDate created "MMM DD"}}</time>
                            </div>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="bottom-actions actions uk-float-left {{#compare (size data.common.notifications.items) '<' 1}} hide {{/compare}}" style="border-bottom: none; border-top: 1px solid rgba(0,0,0,0.2)">
        <div class="uk-text-center">
            <a class="hoverUnderline" ng-click="showAllNotifications($event)">View All Notifications</a>
        </div>
    </div>
</div>
<div>
    {{> viewAllNotifications }}
</div>