<div class="small-5 medium-5 large-3 columns message-list">
    <div class="page-title noshadow nopadding-right">
        <div class="page-title-border-right">
            <p>Messages</p>
        </div>
    </div>

    <div class="full-height">
        <form action="#" style="margin: 0">
            <ul class="message-items full-height scrollable">
                <li class="message-folder">{{{folder}}}</li>

                {{#foreach data.messages.inbox}}
                    <li class="{{#if unread}}unread message-tag{{/if}}">
                        <input id="c_{{_id}}" type="checkbox"/>
                        <label for="c_{{_id}}"></label>
                        <span class="message-date">{{formatDate date "MM/DD/YYYY"}}</span>
                        <a href="#" class="message-from">{{from.fullname}}</a>
                        <span class="message-subject">{{subject}}</span>
                    </li>
                {{/foreach}}



            </ul>
        </form>
    </div>

</div>
<div class="small-7 columns nopadding page-message">
    <div class="page-title-right noshadow">
        <ul class="button-group">
            <li class="active"><a href="#" class="btn"><i class="fa fa-pencil"></i>New</a></li>
            <li class="hide-for-medium-down"><a href="#" class="btn"><i class="fa fa-reply"></i>Reply</a></li>
            <li class="hide-for-medium-down"><a href="#" class="btn"><i class="fa fa-mail-forward"></i>Forward</a></li>
            <li class="hide-for-medium-down"><a href="#" class="btn"><i class="fa fa-print"></i>Print</a></li>
            <li class="hide-for-medium-down"><a href="#" class="btn"><i class="fa fa-trash-o"></i>Trash</a></li>
            <li class="show-for-medium-down right"><a href="#" data-dropdown="drop1" data-options="right_align:true" class="icon-button dropdown"><i class="fa fa-gear"></i></a></li>
            <li>
                <ul id="drop1" class="f-dropdown" data-dropdown-content>
                    <li><a href="#">Here</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="page-content full-height scrollable">
        <div class="message-header">
            <h1>Please Check on this ticket.</h1>
            <span>From:</span>
            <a href="#" data-dropdown="drop" class="button dropdown">Rick Spencer</a>
            <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">Chat</a></li>
                <li><a href="#">View Contact</a></li>
            </ul>
        </div>
        <div class="message">
            <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Donec eu aliquam ante, sit amet
                aliquam dolor. Aliquam eu tempus sem, id ultrices massa. Aenean aliquam vel urna a
                elementum.</p>

            <p>Fusce ut erat ut magna semper placerat. Vivamus feugiat diam a consequat venenatis.
                Pellentesque volutpat justo tellus, vitae condimentum nibh scelerisque a. Donec in pretium mi,
                sed sagittis quam. Etiam at nisl dignissim, pulvinar libero eget, placerat lorem. Nunc semper est
                in libero tincidunt, vel sollicitudin enim imperdiet. Vivamus imperdiet posuere ligula, nec
                dignissim lectus ornare ac. Cras auctor accumsan orci non lacinia. Curabitur erat metus,
                fermentum id fringilla ac, placerat non tortor. Sed mattis aliquet leo ac mollis. Nam felis magna,
                elementum sed mauris at, blandit fermentum leo.</p>
        </div>
    </div>
</div>