<div id="test" ng-controller="accountsCtrl">
    <div id="__accounts-page" class="hide">{{data.page}}</div>
    <div class="accountContent" style="background: #f6f8fb;">
        <div class="uk-grid uk-grid-collapse page-title noshadow dt-borderBottom" style="padding-left: 24px;">
            <p class="left uk-width-2-10">Accounts</p>
            <div class="uk-width-8-10 right">
                <div class="md-fab-wrapper">
                    <a class="md-fab md-fab-accent no-ajaxy" href="#" data-uk-modal="{target:'#accountCreateModal',bgclose:false}">
                        <i class="material-icons" style="color: white;">add</i>
                    </a>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2" style="margin-top: 30px;">
                        <div class="uk-vertical-align">
                            <div class="uk-vertical-align-middle">
                                <ul id="account_list_filter" class="uk-subnav uk-subnav-pill">
                                    <li class="uk-active filter-all uk-margin-remove" data-uk-filter=""><a href="#" class="no-ajaxy">All</a>
                                    </li>
                                    <li class="uk-margin-remove" data-uk-filter="admin"><a href="#" class="no-ajaxy">Administrators</a>
                                    </li>
                                    <li class="uk-margin-remove" data-uk-filter="mod"><a href="#" class="no-ajaxy">Moderators</a>
                                    </li>
                                    <li class="uk-margin-remove" data-uk-filter="user"><a href="#" class="no-ajaxy">Users</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="md-input-wrapper" style="margin-top: 10px;">
                            <label for="account_list_search">Find Account</label>
                            <input type="text" class="md-input uk-margin-remove" id="account_list_search"/>

                            <div class="md-input-bar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="full-height scrollable page-content no-border-top" style="padding: 0 24px;">
            <div class="account-list-wrapper" style="padding-top: 24px; padding-bottom: 100px;">
                <div id="account_list" class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-5">
                    {{#each data.accounts}}
                        <div data-uk-filter="{{role}},{{fullname}}">
                            <div class="tru-card tru-card-hover" data-card-username="{{username}}">
                                <div class="tru-card-head {{#compare role '==' 'admin'}} tru-card-head-admin {{/compare}} {{#compare deleted '==' true}} tru-card-head-deleted {{/compare}}">
                                    <div class="tru-card-head-menu" data-uk-dropdown="{pos: 'bottom-right', mode:'click'}">
                                        <i class="material-icons tru-icon">&#xE5D4;</i>

                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav">
                                                <li><a href="#" class="no-ajaxy" data-username="{{username}}" ng-click="editAccount($event)">Edit</a></li>
                                                <li><a href="#" data-username="{{username}}"
                                                       ng-click="deleteAccount($event)" class="no-ajaxy delete-account-action {{#compare deleted '==' true}}hide{{/compare}}">Delete</a></li>
                                                <li><a href="#" data-username="{{username}}"
                                                       ng-click="enableAccount($event)" class="no-ajaxy enable-account-action {{#compare deleted '==' false}}hide{{/compare}}">Enable</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="uk-text-center">
                                        <div class="account-image relative uk-display-inline-block">
                                            {{#if image}}
                                                <img src="/uploads/users/{{image}}" alt="Profile Pic"
                                                     class="tru-card-head-avatar"/>
                                            {{else}}
                                                <img src="/uploads/users/defaultProfile.jpg" alt="Profile Pic"
                                                     class="tru-card-head-avatar"/>
                                            {{/if}}

                                            <span class="user-status-large user-offline uk-border-circle" data-user-status-id="{{_id}}"></span>
                                        </div>
                                    </div>
                                    <h3 class="tru-card-head-text uk-text-center">
                                        {{fullname}}
                                        <span class="uk-text-truncate">{{firstCap title}}</span>
                                    </h3>
                                </div>
                                <div class="tru-card-content">
                                    <ul class="tru-list">
                                        <li>
                                            <div class="tru-list-content">
                                                <span class="tru-list-heading">Role</span>
                                                <span class="uk-text-small uk-text-muted">{{firstCap role}}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tru-list-content">
                                                <span class="tru-list-heading">Email</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate"><a
                                                    href="mailto:{{email}}">{{email}}</a></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tru-list-content">
                                                <span class="tru-list-heading">Groups</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">
                                                {{#each groups}}
                                                    {{this}}{{#compare (size ../groups) '>' 1}}, {{/compare}}
                                                {{/each}}
                                            </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                </div>
                <div id="scrollspy" class="uk-text-center">
                    <i class="uk-icon-refresh uk-icon-spin uk-hidden"></i>
                </div>
            </div>

</div>

    {{> createAccountWindow}}
    {{> editAccountWindow}}
</div>
{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['pages/accounts'], function (a) {
            a.init();
        });
    </script>
{{/contentFor}}