<div class="small-12 large-10 columns nopadding ticketContent" ng-controller="accountsCtrl">
    <div class="page-title noshadow">
        <p class="left">Accounts</p>
        <div class="right">
            <ul class="button-group">

                <li class="active" style="position:relative;">
                    <a href="#" class="btn no-ajaxy" data-notifications="account-actions">Actions</a>
                    <div id="account-actions" data-scroll="aAction-list" data-override="true" data-top-offset="60" data-left-offset="-65" class="notifications p-dropdown p-dropdown-xsmall pSmall">
                        <div class="actions"><strong>Account Actions</strong></div>
                        <div id="aAction-list" class="notifications-Messages">
                            <ul>
                                <li>
                                    <a class="messageNotification no-ajaxify" href="#" role="button" ng-click="deleteAccount()">
                                        <div class="clearfix">
                                            <div class="messageIcon left"><i class="fa fa-trash-o"></i></div>
                                            <div class="messageAuthor"><strong>Delete</strong></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                {{#canUser data.user "account:create"}}<li class="active"><a href="/accounts/create" role="button" class="btn md-btn-wave-light">Create User</a></li>{{/canUser}}
            </ul>
        </div>
    </div>

    <div class="full-height">
        <div class="accountList full-height dt-borderTop" style="background: #f6f8fb;">
            <table id="accountsTable" class="pDataTable stripe">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Title</th>
                    <!--<th>Groups</th>-->
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {{#each data.accounts}}
                    <tr ng-click="editAccount($event)" data-username="{{username}}">
                        <td>
                            <input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>
                            <label for="c_{{_id}}"></label>
                        </td>
                        <td>{{fullname}}</td>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td>{{title}}</td>
                        <!--<td>{{{split groups "<br />"}}} </td>-->
                        <td>{{firstCap role}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['pages/accounts'], function(a) {
            a.init();
        });
    </script>
{{/contentFor}}