<div id="changeMappingOrCreate-container"
data-username="{{username}}" 
data-phone="{{phone}}" 
data-email="{{email}}"
data-contactID="{{contactID}}" 
data-accountID="{{accountID}}" 
data-customAttributes="{{customAttributes}}" 
data-conversationID="{{conversationID}}" 
data-fullname="{{contactName}}" 
></div>
