<div id="createTicketFromChatwoot-container"
     data-user="{{user}}"
     data-group="{{group}}"
     data-accountID="{{accountID}}" 
     data-contactName="{{contactName}}" 
     data-conversationID="{{conversationID}}" 
     data-phoneNumber = "{{phoneNumber}}"
</div>