<div class="small-12 large-10 columns nopadding page-right-content">
    <div class="page-title">
        <p class="left">Dashboard</p>
    </div>
    <!--Content Here-->
    <div class="page-wrapper full-height scrollable no-overflow-x">
        <div class="row" style="padding-top: 65px; padding-left: 60px;">
            <div class="small-12 large-6 columns padtop20">
                <div class="circle-chart-wrapper clearfix">
                    <div class="donutchart-wrapper">
                        <div class="donutchart" data-percent="{{data.summary.completedPercent}}" data-trackColor="#2fb150"><span class="chart-value percent"></span></div>
                        <div class="donutchart-caption">completed</div>
                    </div>
                    <div class="donutchart-wrapper">
                        <div class="donutchart"
                             data-percent="{{data.summary.activePercent}}"
                             data-trackColor="#3498db"
                             data-numCount="true"
                             data-totalNumCount="{{data.summary.activeCount}}"><span class="chart-value">{{data.summary.activeCount}}</span></div>
                        <div class="donutchart-caption">active</div>
                    </div>
                    <div class="donutchart-wrapper">
                        <div class="donutchart "
                             data-percent="{{data.summary.newPercent}}"
                             data-numCount="true"
                             data-totalNumCount="{{data.summary.newCount}}"><span class="chart-value">{{data.summary.newCount}}</span></div>
                        <div class="donutchart-caption">new</div>
                    </div>
                </div>
                <div class="small-12 columns circle-chart-caption">
                    <span>Tickets Summary <img src="/img/small-midDots.png" alt="Divider"/> Total {{data.summary.totalCount}}</span>
                </div>
            </div>
            <div class="small-12 large-6 columns">
                <div class="bar-chart-wrapper clearfix">
                    <div id="ticketBarChart" class="bar-chart clearfix">
                        <div class="bar-axis">
                            <ul class="y-axis">
                                <li><span>{{data.dailyYAxis.maxValue}}</span></li>
                                <li><span>{{data.dailyYAxis.v1}}</span></li>
                                <li><span>{{data.dailyYAxis.v2}}</span></li>
                                <li><span>{{data.dailyYAxis.v3}}</span></li>
                                <li><span>0</span></li>
                            </ul>
                        </div>
                        {{#each data.dailycount}}
                            <div class="bar" data-percent="{{percent}}">
                                    <span id="dc_{{formatDate date "MMMDDYYYY"}}"
                                          data-ptooltip
                                          data-title="{{formatDate date "MMM Do"}}"
                                          data-ptooltip-type="dailyticket"
                                          data-new-count="{{total}}"
                                          data-closed-count="{{closedCount}}"
                                          class="bar-track ptooltip">
                                    </span>
                                <span class="bar-label">{{#substring 0 1}}{{formatDate date "dd"}}{{/substring}}</span>
                            </div>
                        {{/each}}
                    </div>
                    <div class="bar-chart-caption">
                        <span>Tickets per Day</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns" style="margin-top: 30px; padding: 0 75px 0 70px">
                <div id="ticketLines" style="width: 100%; height: 240px"></div>
                <div class="chart-caption"><h4>Ticket Progress for 2015</h4></div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['jquery', 'pages/dashboard'], function($, d) {
            d.init();
        });
    </script>
{{/contentFor}}