<div ng-controller="groupsCtrl">
    <div class="groupContent" style="background: #f6f8fb;">
        <div class="uk-grid page-title noshadow dt-borderBottom">
            <div class="uk-width-2-10 left" style="padding-left: 20px !important;">
                <p>Groups</p>
            </div>
            <div class="uk-width-8-10 right">
                <div class="md-fab-wrapper">
                    <a class="md-fab md-fab-accent no-ajaxy" href="#" data-uk-modal="{target:'#groupCreateModal',bgclose:false}">
                        <i class="material-icons" style="color: white;">add</i>
                    </a>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2"></div>
                    <div class="uk-width-medium-1-2">
                        <div class="md-input-wrapper" style="margin-top: 10px;">
                            <label for="group_list_search">Find Group</label>
                            <input type="text" class="md-input uk-margin-remove" id="group_list_search"/>

                            <div class="md-input-bar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="full-height page-right-content scrollable" style="padding: 0 24px;">
        <div class="group-list-wrapper" style="padding-top: 24px; padding-bottom: 100px;">
            <div id="group_list" class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-5">
                {{#each data.groups}}
                    <div class="tru-card-wrapper" data-uk-filter="{{name}}">
                        <div class="tru-card tru-card-hover">
                            <div class="tru-card-head">
                                <div class="tru-card-head-menu" data-uk-dropdown="{pos: 'bottom-right',mode:'click'}">
                                    <i class="material-icons tru-icon">&#xE5D4;</i>

                                    <div class="uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav">
                                            <li><a href="#" class="no-ajaxy" data-group-id="{{_id}}" ng-click="editGroup($event)">Edit</a></li>
                                            <li><a href="#" class="no-ajaxy" data-group-id="{{_id}}" ng-click="deleteGroup($event)">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="tru-card-head-text uk-text-center" style="padding-top: 60px;" data-group-name="{{name}}">
                                    {{name}}
                                    <span class="uk-text-truncate">{{size members}} member{{#compare (size members) '>' 1}}s {{/compare}}</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>
            <div id="scrollspy" class="uk-text-center">
                <i class="uk-icon-refresh uk-icon-spin uk-hidden"></i>
            </div>
        </div>
    </div>

    {{> createGroupWindow }}
    {{> editGroupWindow}}
</div>



{{#contentFor 'js-plugins'}}

{{/contentFor}}