<div id="__folder" class="hide">{{folderNum}}</div>
<div class="uk-grid uk-grid-collapse" ng-controller="messagesCtrl">
    <div class="uk-width-3-10 message-list">
        <div class="page-title noshadow nopadding-right">
            <div class="page-title-border-right">
                <p>Invoices</p>
            </div>
        </div>

        <div class="page-content-left noborder full-height">
            <form id="messagesForm" action="#" style="margin: 0">
                <ul class="message-items full-height scrollable">
                    <!--<li class="message-folder font-weight-300">Invoices</li>-->

                    <li class="{{#if unread}}unread message-tag{{/if}}" data-messageId="{{_id}}">
                        <!--<input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>-->
                        <!--<label for="c_{{_id}}" style="top: 23px"></label>-->
                        <span class="invoice-date">03/25/2016</span>
                        <span class="invoice-overdue">Overdue</span>
                        <span class="invoice-name">Invoice 143/250</span>
                        <span class="invoice-payee uk-text-muted">Butner Public Safety</span>
                    </li>

                    <li class="{{#if unread}}unread message-tag{{/if}}" data-messageId="{{_id}}">
                        <!--<input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>-->
                        <!--<label for="c_{{_id}}" style="top: 23px"></label>-->
                        <span class="invoice-date">03/25/2016</span>
                        <!--<span class="invoice-overdue">Overdue</span>-->
                        <span class="invoice-name">Invoice 143/250</span>
                        <span class="invoice-payee uk-text-muted">Butner Public Safety</span>
                    </li>



                </ul>
            </form>
        </div>
    </div>
    <div class="uk-width-7-10 nopadding page-message">
        <div class="page-title-right nopadding noshadow">
            <ul class="button-group uk-clearfix">
                <!--<li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="showNewMessage()"><i class="fa fa-pencil"></i>New</a></li>-->
                <!--<li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="replyClicked($event)"><i class="fa fa-reply"></i>Reply</a></li>-->
                <!--<li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="forwardClicked($event)"><i class="fa fa-mail-forward"></i>Forward</a></li>-->
                <!--<li class=""><a href="#" class="btn md-btn-wave-light"><i class="fa fa-print"></i>Print</a></li>-->
                <!--{{#is folder 'Trash'}}-->
                    <!--<li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="deleteSelectedMessages($event)"><i class="fa fa-trash-o"></i>Delete</a></li>-->
                <!--{{else}}-->
                    <!--<li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="moveSelectedMessagesToTrash($event)"><i class="fa fa-trash-o"></i>Trash</a></li>-->
                <!--{{/is}}-->
            </ul>
        </div>

        <div id="invoice-content" class="page-content page-content-right full-height scrollable">

        </div>
    </div>

</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}