<!DOCTYPE html>
<html>
<head>
    <title>{{{siteTitle}}} &middot; {{{title}}}</title>
    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
    <style type="text/css">
        html {
            overflow-x: hidden;
        }
        body {
            background: {{colorSecondary}};
            text-align: center;
            font-family: "Roboto", Arial, sans-serif;
        }

        .login-wrapper {
            width: 400px;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            margin-bottom: 50px;
        }

        label {
            text-align: left
        }

        button {
            font-family: "Roboto", Arial, sans-serif;
            width: 340px;
            height: 20px;
            text-align: left;
            padding: 15px 20px;
            background: #384b5f;
            border: 1px solid #1c2937;
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font-weight: 300;
        }

        button.button {
            width: 380px;
            height: auto;
            text-align: center;
            background: {{colorTertiary}};
            border: none;
            text-transform: uppercase;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        button.button:hover {
            background: #f15849;
            cursor: pointer;
        }

        *:focus {
            outline: 0;
        }

        a {
            display: inline-block;
            padding-right: 10px;
            color: {{colorPrimary}};
            font-size: 14px;
            float: right;
            text-decoration: none;
            font-weight: 300;
        }

        a:hover {
            color: {{colorPrimary}};
        }

        ::-webkit-input-placeholder { /* WebKit browsers */
            color:    #222;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #222;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #222;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #222;
        }

        .alert-message {
            padding: 0;
            position: fixed;
            top: 75px;
            left: 50%;
            width: 380px;
            height: 50px;
            /*margin-bottom: 50px;*/
            background: {{colorTertiary}};
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            transform: translate(-50%, 0);
        }

        .alert-message p {
            margin-top: 8px;
            margin-bottom: 0;
            color: white;
            font-weight: 300;
            text-align: center;
            font-size: 22px;
        }

        button.button.noCap {
            text-transform: none;
        }

        .hide {
            display: none;
        }

        .green {
            background: #29b955;
        }

        input {
            color: {{colorPrimary}};
        }

        .md-input-bar:before,
        .md-input-bar:after {
            background: {{colorTertiary}} !important;
        }

        .btn {
            width: 100%;
            height: 50px;
            margin-bottom: 24px !important;
            /*color: #E74C3C;*/
        }

        .btn:hover, .btn:active, .btn:focus {
            /*color: #222;*/
        }
        .bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            font-size: 12px;
            font-family: "Roboto", Arial, sans-serif;
            margin: 0 0 5px 15px;
            color: rgba(0,0,0,0.5);
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/truRequire.js"></script>
</head>
<body>
<div class="alert-message {{#if flash}} {{else}} hide {{/if}} {{#if flash.success}} green {{/if}}">
    <p>{{#if flash.message}} {{{flash.message}}} {{else}} {{{flash}}}{{/if}}</p>
</div>
<div class="login-wrapper">
    <img src="{{pageLogo}}" alt="Logo" class="site-logo-login" />

    <div class="loginForm">
        <form id="loginForm" method="post" action="/login" class="uk-form-stacked uk-clearfix">
            <div class="uk-margin-medium-bottom">
                <label for="login-username">Username</label>
                <input id="login-username" name="login-username" class="md-input" type="text" />
            </div>
            <div class="uk-margin-medium-bottom">
                <label for="login-password">Password</label>
                <input id="login-password" name="login-password" class="md-input md-waves-light" type="password" />
            </div>
            <button class="btn md-btn md-btn-flat md-btn-wave md-btn-flat-accent" type="submit">Login</button>
        </form>
        {{#if allowUserRegistration}}
            <hr>
            <a id="allowUserRegistration" href="/signup" class="no-ajaxy left">Create an Account.</a>
        {{/if}}
        {{#if mailerEnabled}}
            <a id="forgotPass" href="#" class="no-ajaxy right" style="display: block; clear: right;">Forgot your password?</a>
        {{/if}}
    </div>

    {{#if mailerEnabled}}
        <div class="forgotPassForm" style="display: none;">
            <form id="forgotPassForm" method="post" action="/">
                <div class="uk-margin-medium-bottom">
                    <label for="forgotPass-email">Email</label>
                    <input id="forgotPass-email" name="forgotPass-email" type="text" class="md-input" />
                </div>
                <!--<input id="login-password" name="login-password" type="password" placeholder="Password" />-->
                <button class="btn no-ajaxy md-btn md-btn-flat md-btn-wave md-btn-flat-danger" type="submit">Forgot Password</button>
            </form>

            <a id="backToLogin" href="#" class="no-ajaxy">Back to Login</a>
        </div>
    {{/if}}

</div>

<div class="bottom">
    {{bottom}}
</div>

<script type="text/javascript">
    window.truRequire(['jquery', 'helpers'], function(loadedModules) {
        var $ = loadedModules[0];
        var helpers = loadedModules[1];
        helpers.UI.inputs();
        helpers.UI.waves();

        $('#loginForm').submit(function(e) {
            var u = $('#login-username').val();
            var p = $('#login-password').val();
            if (u.length < 3 || p.length < 3)
                e.preventDefault();
        });

        $('#forgotPass').click(function(e) {
            e.preventDefault();
            $('.loginForm').fadeOut(100, function() {
                $('.forgotPassForm').fadeIn();
            });

        });

        $('#backToLogin').click(function(e) {
            e.preventDefault();
            $('.forgotPassForm').fadeOut(100, function() {
                $('.loginForm').fadeIn();
            })
        });

        $('#forgotPassForm').submit(function(e) {
            e.preventDefault();
            var self = $(this);
            var alertMessage = $('.alert-message');
            $.ajax({
                type: 'POST',
                url: '/forgotpass',
                data: self.serialize(),
                async: true,
                success: function(data) {
                    alertMessage.removeClass('hide')
                            .addClass('green')
                            .find('p')
                            .html('Password Reset Email Sent!');

                    $('#forgotPass-email').val('');

                    $('.forgotPassForm').fadeOut(100, function() {
                        $('.loginForm').fadeIn();
                    })
                },

                error: function(xhr, ajaxOptions, thrownError) {
                    alertMessage.removeClass('hide')
                            .find('p')
                            .html(xhr.responseText);
                }
            });

            return false;
        });

        $(document).ready(function() {
            if (screen.width <= 800) {
                document.location = '/mobile';
            }

            setTimeout(function() {
                $('#login-username').focus();
            }, 700);
        });
    });
</script>
</body>
</html>