<!DOCTYPE html>
<html>
<head>
    <title>Trudesk &middot; {{{title}}}</title>
    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
    <style type="text/css">
        html {
            overflow-x: hidden;
        }
        body {
            background: #eee;
            text-align: center;
            font-family: "Roboto", Arial, sans-serif;
        }

        .login-wrapper {
            width: 400px;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            margin-bottom: 55px;
        }

        label {
            text-align: left
        }

        button {
            font-family: "Roboto", Arial, sans-serif;
            width: 340px;
            height: 20px;
            text-align: left;
            padding: 15px 20px;
            background: #384b5f;
            border: 1px solid #1c2937;
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font-weight: 300;
        }

        button.button {
            width: 380px;
            height: auto;
            text-align: center;
            background: #e74b3b;
            border: none;
            text-transform: uppercase;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        button.button:hover {
            background: #f15849;
            cursor: pointer;
        }

        *:focus {
            outline: 0;
        }

        a {
            display: inline-block;
            padding-right: 10px;
            color: #727272;
            font-size: 14px;
            float: right;
            text-decoration: none;
            font-weight: 300;
        }

        a:hover {
            color: #A5A5A5;
        }

        ::-webkit-input-placeholder { /* WebKit browsers */
            color:    #222;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #222;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #222;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #222;
        }

        .alert-message {
            padding: 0;
            position: fixed;
            top: 75px;
            left: 50%;
            width: 380px;
            height: 50px;
            /*margin-bottom: 50px;*/
            background: #e73c3c;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            transform: translate(-50%, 0);
        }

        .alert-message p {
            margin-top: 8px;
            margin-bottom: 0;
            color: white;
            font-weight: 300;
            text-align: center;
            font-size: 22px;
        }

        button.button.noCap {
            text-transform: none;
        }

        .hide {
            display: none;
        }

        .green {
            background: #29b955;
        }

        .md-input-bar:before,
        .md-input-bar:after {
            background: #e74c3c !important;
        }

        .btn {
            width: 100%;
            height: 50px;
            margin-bottom: 24px !important;
            /*color: #E74C3C;*/
        }

        .btn:hover, .btn:active, .btn:focus {
            /*color: #222;*/
        }
    </style>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/truRequire.js"></script>
    <!--<script src="/js/trudesk.min.js"></script>-->
</head>
<body>
<div class="alert-message {{#if flash}} {{else}} hide {{/if}} {{#if flash.success}} green {{/if}}">
    <p>{{#if flash.message}} {{{flash.message}}} {{else}} {{{flash}}}{{/if}}</p>
</div>
<div class="login-wrapper">
    <img src="{{pageLogo}}" alt="Logo" class="site-logo-login" />

    <div class="level2auth" style="margin-top: 25px;">
        <form action="/l2auth" id="level2auth" method="post">
            <div class="uk-margin-medium-bottom">
                <label for="code">Code</label>
                <input type="text" id="code" class="md-input" name="code" />
            </div>

            <button class="btn no-ajaxy md-btn md-btn-flat md-btn-wave md-btn-flat-danger" type="submit">Send</button>
        </form>
        {{#if mailerEnabled}}
            <hr>
            <a id="cantlogin" href="#" class="no-ajaxy right" style="display: block; clear: right;">Can't login?</a>
        {{/if}}
    </div>

    <div class="forgotl2auth" style="display: none;">
        <form id="forgotl2auth" method="post" action="/">
            <div class="uk-margin-medium-bottom">
                <label for="forgotl2auth-email">Email</label>
                <input id="forgotl2auth-email" name="forgotl2auth-email" type="text" class="md-input" />
            </div>
            <!--<input id="login-password" name="login-password" type="password" placeholder="Password" />-->
            <button class="btn no-ajaxy md-btn md-btn-flat md-btn-wave md-btn-flat-danger" type="submit">Recover Account</button>
        </form>

        <a id="backToLogin" href="#" class="no-ajaxy">Back to Login</a>
    </div>
</div>

<script type="text/javascript">
    window.truRequire(['jquery', 'helpers'], function(loadedModules) {
        var $ = loadedModules[0];
        var helpers = loadedModules[1];
        helpers.UI.inputs();
        helpers.UI.waves();

        $('#cantlogin').click(function(e) {
            e.preventDefault();
            $('.level2auth').fadeOut(100, function() {
                $('.forgotl2auth').fadeIn();
            });

        });

        $('#backToLogin').click(function(e) {
            e.preventDefault();
            $('.forgotl2auth').fadeOut(100, function() {
                $('.level2auth').fadeIn();
            })
        });

        $('#forgotl2auth').submit(function(e) {
            e.preventDefault();
            var self = $(this);
            var alertMessage = $('.alert-message');
            $.ajax({
                type: 'POST',
                url: '/forgotl2auth',
                data: self.serialize(),
                async: true,
                success: function(data) {
                    alertMessage.removeClass('hide')
                            .addClass('green')
                            .find('p')
                            .html('Account recovery email sent');

                    $('#forgotl2auth-email').val('');

                    $('.forgotl2auth').fadeOut(100, function() {
                        $('.loginForm').fadeIn();
                    });

                    setTimeout(function() {
                        window.location = '/';
                    }, 3000);
                },

                error: function(xhr, ajaxOptions, thrownError) {
                    alertMessage.removeClass('hide')
                            .find('p')
                            .html(xhr.responseText);
                }
            });

            return false;
        });

        setTimeout(function() {
            $('input#code').focus();
        }, 600);
    });
</script>
</body>
</html>