<div id="__folder" class="hide">{{folderNum}}</div>
<div class="uk-grid uk-grid-collapse" ng-controller="messagesCtrl">
    <div class="uk-width-3-10 message-list">
        <div class="page-title noshadow nopadding-right">
            <div class="page-title-border-right">
                <p>Messages</p>
            </div>
        </div>

        <div class="full-height">
            <form id="messagesForm" action="#" style="margin: 0">
                <ul class="message-items full-height scrollable" data-folder="{{lowercase folder}}">
                    <li class="message-folder font-weight-300">{{{folder}}}</li>

                    {{#foreach data.messages.items}}
                        <li class="{{#if unread}}unread message-tag{{/if}}" data-messageId="{{_id}}">
                            <input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>
                            <label for="c_{{_id}}" style="top: 23px"></label>
                            <span class="message-date">{{calendarDate date "MM/DD/YYYY"}}</span>
                            <span class="message-from">{{from.fullname}}</span>
                            <span class="message-subject">{{subject}}</span>
                        </li>
                    {{/foreach}}



                </ul>
            </form>
        </div>
    </div>
    <div class="uk-width-7-10 nopadding page-message">
        <div class="page-title-right nopadding noshadow">
            <ul class="button-group uk-clearfix">
                <li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="showNewMessage()"><i class="fa fa-pencil"></i>New</a></li>
                <li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="replyClicked($event)"><i class="fa fa-reply"></i>Reply</a></li>
                <li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="forwardClicked($event)"><i class="fa fa-mail-forward"></i>Forward</a></li>
                <li class=""><a href="#" class="btn md-btn-wave-light"><i class="fa fa-print"></i>Print</a></li>
                {{#is folder 'Trash'}}
                    <li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="deleteSelectedMessages($event)"><i class="fa fa-trash-o"></i>Delete</a></li>
                {{else}}
                    <li class=""><a href="#" class="btn no-ajaxy md-btn-wave-light" ng-click="moveSelectedMessagesToTrash($event)"><i class="fa fa-trash-o"></i>Trash</a></li>
                {{/is}}
            </ul>
        </div>

        <div id="message-content" class="page-content full-height scrollable">
            {{#if data.messages.message}}
                <div class="message-header">
                    <div class="message-from-id hide">{{data.messages.message.from._id}}</div>
                    <div class="message-profile-image">
                        {{#if data.messages.message.from.image}}
                            <img src="/uploads/users/{{data.messages.message.from.image}}" alt="{{data.messages.message.from.fullname}}"/>
                        {{else}}
                            <img src="/uploads/users/defaultProfile.jpg" alt="Default User Image"/>

                        {{/if}}
                    </div>
                    <h1>{{data.messages.message.subject}}</h1>
                    <span>From:</span>
                    <h5>{{data.messages.message.from.fullname}}</h5>
                    <br/>
                    <span>Sent:</span>
                    <h5>{{formatDate data.messages.message.date "MM/DD/YYYY hh:mma"}}</h5>
                </div>
                <div class="message">
                    {{{data.messages.message.message}}}
                </div>
            {{/if}}
        </div>
    </div>

</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['pages/messages'], function(m) {
            m.init();
        });
    </script>
{{/contentFor}}