<div class="uk-grid uk-grid-collapse" ng-controller="messagesCtrl">
    <div id="__showNewConvo" class="hide uk-hidden">{{data.showNewConvo}}</div>
    <div id="__page" class="hide uk-hidden">messages</div>
    <div class="uk-width-3-10 message-list full-height" data-offset="68">
        <div class="page-title noshadow nopadding-right" style="border-top: none !important; border-bottom: none !important; height: 68px !important; padding-left: 20px !important;">
            <div class="page-title-border-right" style="position:relative;">
                <p style="font-size: 24px;">Conversations</p>
                <div id="convo-actions" style="position:absolute; top: 20px; right: 15px;">
                    <a title="Start Conversation" class="no-ajaxy" style="display: block; height: 28px;" ng-click="showUserList($event);"><i class="material-icons" style="font-size: 28px; font-weight: 300;">add</i></a>
                    <a class="no-ajaxy" style="display: none; height: 28px; line-height: 30px; font-size: 16px; font-weight: 300;" ng-click="hideUserList($event);">Cancel</a>
                </div>
            </div>
        </div>

        <div id="convo-list" class="page-content-left noborder full-height">
            <ul class="message-items scrollable">
                {{#foreach data.conversations}}
                    <li ng-click="loadConversation('{{_id}}');" data-conversation-id="{{_id}}" data-updatedAt="{{updatedAt}}">
                        <div class="profile-pic">
                            {{#if partner.image}}
                                <img src="/uploads/users/{{partner.image}}" class="uk-border-circle profileImage" data-userid="{{partner._id}}" />
                            {{else}}
                                <img src="/uploads/users/defaultProfile.jpg" class="uk-border-circle profileImage" data-userid="{{partner._id}}" />
                            {{/if}}
                            <span class="user-offline uk-border-circle" data-user-status-id="{{partner._id}}"></span>
                        </div>
                        <div class="convo-info">
                            <span class="message-from">{{partner.fullname}}</span>
                            <span class="message-date">{{calendarDate updatedAt}}</span>
                            <span class="message-subject">{{recentMessage}}</span>
                        </div>
                    </li>
                {{/foreach}}
            </ul>
        </div>

        <div id="new-convo-user-list" class="page-content-left noborder" style="display: none; overflow-y: hidden; height: 100%;">
            <div class="search-box">
                <input type="text" placeholder="Search" />
            </div>
            <ul class="all-user-list message-items scrollable">
                {{#each data.common.users}}
                    {{#compare username '!=' ../data.common.loggedInAccount.username}}
                        {{#compare ../data.common.loggedInAccount.role '==' 'user'}}
                            <!-- Only allow 'user' role to see 'support' and 'admin' -->
                            {{#compare role '==' 'support'}}
                                <li data-search-term="{{lowercase fullname}}" ng-click="startNewConversation('{{_id}}');">
                                    <div class="profile-pic">
                                        {{#if image}}
                                            <img src="/uploads/users/{{image}}" class="uk-border-circle profileImage"/>
                                        {{else}}
                                            <img src="/uploads/users/defaultProfile.jpg" class="uk-border-circle profileImage"/>
                                        {{/if}}
                                        <span class="user-offline uk-border-circle" data-user-status-id="{{_id}}"></span>
                                    </div>
                                    <div class="convo-info">
                                        <span class="message-from">{{fullname}}</span>
                                        <span class="message-date">{{group.name}}</span>
                                        <span class="message-subject">{{email}}</span>
                                    </div>
                                </li>
                            {{/compare}}
                            <!-- Only allow 'user' role to see 'support' and 'admin' -->
                            {{#compare role '==' 'admin'}}
                                <li data-search-term="{{lowercase fullname}}" ng-click="startNewConversation('{{_id}}');">
                                    <div class="profile-pic">
                                        {{#if image}}
                                            <img src="/uploads/users/{{image}}" class="uk-border-circle profileImage"/>
                                        {{else}}
                                            <img src="/uploads/users/defaultProfile.jpg" class="uk-border-circle profileImage"/>
                                        {{/if}}
                                        <span class="user-offline uk-border-circle" data-user-status-id="{{_id}}"></span>
                                    </div>
                                    <div class="convo-info">
                                        <span class="message-from">{{fullname}}</span>
                                        <span class="message-date">{{group.name}}</span>
                                        <span class="message-subject">{{email}}</span>
                                    </div>
                                </li>
                            {{/compare}}

                        {{else}}
                            <li data-search-term="{{lowercase fullname}}" ng-click="startNewConversation('{{_id}}');">
                                <div class="profile-pic">
                                    {{#if image}}
                                        <img src="/uploads/users/{{image}}" class="uk-border-circle profileImage"/>
                                    {{else}}
                                        <img src="/uploads/users/defaultProfile.jpg" class="uk-border-circle profileImage"/>
                                    {{/if}}
                                    <span class="user-offline uk-border-circle" data-user-status-id="{{_id}}"></span>
                                </div>
                                <div class="convo-info">
                                    <span class="message-from">{{fullname}}</span>
                                    <span class="message-date">{{group.name}}</span>
                                    <span class="message-subject">{{email}}</span>
                                </div>
                            </li>
                        {{/compare}}
                    {{/compare}}
                {{/each}}
            </ul>
        </div>

    </div>
    {{#if data.conversation}}
        <div class="uk-width-7-10 nopadding page-message" style="position:relative;">
            <div id="message-content" class="page-content page-content-right full-height scrollable" data-offset="41" style="margin-bottom: 41px !important;" data-conversation-id="{{data.conversation._id}}">
                <span class="conversation-start">Conversation Started on {{formatDate data.conversation.createdAt (concat data.common.longDateFormat data.common.timeFormat true true)}}</span>
                {{#if data.conversation.requestingUserMeta.deletedAt}}
                    <span class="conversation-deleted">Conversation Deleted at {{formatDate data.conversation.requestingUserMeta.deletedAt (concat data.common.longDateFormat data.common.timeFormat true true)}}</span>
                {{/if}}
                <div id="conversation-scrollspy" class="uk-text-center">
                    <i class="uk-icon-refresh uk-icon-spin uk-hidden"></i>
                </div>
                <div id="messages">
                    {{#each data.conversation.messages}}
                        {{#isNotAsString owner._id ../data.common.loggedInAccount._id}}
                            <div class="message message-left">
                                {{#if owner.image}}
                                    <img class="profileImage"
                                         src="/uploads/users/{{owner.image}}"
                                         data-userid="{{owner._id}}"
                                         data-uk-tooltip="{pos:'left', animation: false}"
                                         title="{{formatDate createdAt (concat ../data.common.shortDateFormat ../data.common.timeFormat true) }}"/>
                                {{else}}
                                    <img class="profileImage"
                                         src="/uploads/users/defaultProfile.jpg"
                                         data-userid="{{owner._id}}"
                                         data-uk-tooltip="{pos:'left', animation: false}"
                                         title="{{formatDate createdAt (concat ../data.common.shortDateFormat ../data.common.timeFormat true)}}"/>
                                {{/if}}
                                <div class="message-body">
                                    <p>{{{body}}}</p>
                                </div>
                            </div>
                        {{else}}
                            <div class="message message-right">
                                <div class="message-body" data-uk-tooltip="{pos:'right', animation: false}" title="{{formatDate createdAt (concat ../data.common.shortDateFormat ../data.common.timeFormat true)}}">
                                    <p>{{{body}}}</p>
                                </div>
                            </div>
                        {{/isNotAsString}}
                    {{/each}}
                </div>

                <div class="user-is-typing-wrapper padding-10 uk-clearfix hide">
                    <div class="chat-user-profile smaller round" style="position:relative; float: left; left: 0;">
                        {{#if data.conversation.partner.image}}
                            <img class="round profileImage" src="/uploads/users/{{data.conversation.partner.image}}" data-userid="{{data.conversation.partner._id}}"/>
                        {{else}}
                            <img class="round profileImage" src="/uploads/users/defaultProfile.jpg" data-userid="{{data.conversation.partner._id}}"/>
                        {{/if}}
                    </div>
                    <div class="user-is-typing hide-arrow" style="margin-left: 40px; margin-top: 3px; background: #ddd; border: none;">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>

            <div class="message-textbox">
                <form ng-submit="sendChatMessage('{{data.conversation._id}}', '{{data.conversation.partner._id}}', $event)">
                    <input type="text" name="chatMessage" placeholder="Type your message..." ng-keydown="onKeyDown('{{data.conversation._id}}', '{{data.conversation.partner._id}}', $event);" />
                    <button type="submit">SEND</button>
                </form>
            </div>
        </div>
    {{/if}}

    <div>
        <ul class="context-menu">
            <li data-action="delete" style="color: #d32f2f;">Delete Conversation</li>
        </ul>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}