<div class="small-12 large-10 columns nopadding ticketContent" ng-controller="noticesCtrl">
    <div class="page-title noshadow no-border-bottom">
        <p class="left">{{title}}</p>
        <div class="uk-float-right">
            <div class="pagination uk-float-left">
                <ul class="button-group uk-float-left">
                    <li class="pagination relative">
                        <div class="right" data-uk-dropdown="{pos: 'bottom-right', mode: 'click'}" aria-haspopup="true" aria-expanded="false">
                            <a href="#" class="btn no-ajaxy" data-notifications="ticket-actions" style="border-radius: 3px;"><i class="fa fa-large fa-tasks"></i></a>
                            <div class="uk-dropdown uk-dropdown-xsmall uk-dropdown-bottom">
                                <ul class="uk-nav">
                                    {{#canUser data.user "notices:create"}}
                                        <li>
                                            <a href="/notices/create" role="button">Create</a>
                                        </li>
                                        <li>
                                            <hr style="margin: 5px 0;">
                                        </li>
                                    {{/canUser}}
                                    <li>
                                        <a class="no-ajaxy" role="button" ng-click="activateNotice()" close-uk-dropdown>Activate</a>
                                    </li>
                                    <li>
                                        <a class="no-ajaxy" role="button" ng-click="clearNotice()" close-uk-dropdown>Deactivate</a>
                                    </li>
                                    {{#canUser data.user "notices:delete"}}
                                        <li>
                                            <hr style="margin: 5px 0;">
                                        </li>
                                        <li>
                                            <a class="no-ajaxy" role="button" ng-click="deleteNotices()" style="color: red;" close-uk-dropdown>Delete</a>
                                        </li>
                                    {{/canUser}}
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="full-height page-content no-border-top scrollable">
        <div class="noticesList">
            <table id="noticesTable" class="pDataTable stripe">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each data.notices}}
                    <tr ng-click="editNotice($event)" data-noticeOId="{{_id}}">
                        <td>
                            <input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>
                            <label for="c_{{_id}}"></label>
                        </td>
                        <td>{{name}}</td>
                        <td>{{message}}</td>
                        <td>{{formatDate date "MMM DD, YYYY h:mma"}}</td>
                        <td><span style="display: block;width:15px; height:15px; background: {{color}}"></span></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}