<div class="small-12 large-10 columns nopadding ticketContent" ng-controller="pluginsCtrl">
    <div class="page-title noshadow">
        <p class="left">{{title}}</p>
    </div>

    <div class="full-height page-content no-border-top scrollable">
        <!--<div class="noticesList">-->
            <!--<table id="noticesTable" class="pDataTable stripe">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th></th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Message</th>-->
                    <!--<th>Date</th>-->
                    <!--<th></th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--{{#each data.notices}}-->
                    <!--<tr ng-click="editNotice($event)" data-noticeOId="{{_id}}">-->
                        <!--<td>-->
                            <!--<input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>-->
                            <!--<label for="c_{{_id}}"></label>-->
                        <!--</td>-->
                        <!--<td>{{name}}</td>-->
                        <!--<td>{{message}}</td>-->
                        <!--<td>{{formatDate date "MMM DD, YYYY h:mma"}}</td>-->
                        <!--<td><span style="display: block;width:15px; height:15px; background: {{color}}"></span></td>-->
                    <!--</tr>-->
                <!--{{/each}}-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
//        require(['pages/notices'], function(n) {
//            n.init();
//        });
    </script>
{{/contentFor}}