<div class="uk-grid uk-grid-collapse" data-page="settings" ng-controller="settingsCtrl" ng-init="
    siteTitle='{{data.settings.siteTitle.value}}';
    siteUrl='{{data.settings.siteUrl.value}}';
    selectedTimezone='{{data.settings.timezone.value}}';
    defaultTicketType='{{data.settings.defaultTicketType.value}}';
    mailerEnabled={{data.settings.mailerEnabled.value}};
    mailerHost='{{data.settings.mailerHost.value}}';
    mailerSSL={{data.settings.mailerSSL.value}};
    mailerPort={{data.settings.mailerPort.value}};
    mailerUsername='{{data.settings.mailerUsername.value}}';
    mailerPassword='{{data.settings.mailerPassword.value}}';
    mailerFrom='{{data.settings.mailerFrom.value}}';

    mailerCheckEnabled={{data.settings.mailerCheckEnabled.value}};
    mailerCheckHost='{{data.settings.mailerCheckHost.value}}';
    mailerCheckPort={{data.settings.mailerCheckPort.value}};
    mailerCheckUsername='{{data.settings.mailerCheckUsername.value}}';
    mailerCheckPassword='{{data.settings.mailerCheckPassword.value}}';
    mailerCheckTicketType='{{data.settings.mailerCheckTicketType.value}}';
    mailerCheckTicketPriority='{{data.settings.mailerCheckTicketPriority.value}}';
    mailerCheckCreateAccount={{data.settings.mailerCheckCreateAccount.value}};
    mailerCheckDeleteMessage={{data.settings.mailerCheckDeleteMessage.value}};

    showTour={{data.settings.showTour.value}};
    showOverdueTickets={{data.settings.showOverdueTickets.value}};
    allowPublicTickets={{data.settings.allowPublicTickets.value}};
    allowUserRegistration={{data.settings.allowUserRegistration.value}};
    tpsEnabled={{data.settings.tpsEnabled.value}};
    tpsUsername='{{data.settings.tpsUsername.value}}';
    tpsApiKey='{{data.settings.tpsApiKey.value}}';

    colorHeaderBG='{{data.settings.colorHeaderBG.value}}';
    colorHeaderPrimary='{{data.settings.colorHeaderPrimary.value}}';
    colorPrimary='{{data.settings.colorPrimary.value}}';
    colorSecondary='{{data.settings.colorSecondary.value}}';
    colorTertiary='{{data.settings.colorTertiary.value}}';
    colorQuaternary='{{data.settings.colorQuaternary.value}}';

    privacyPolicy='{{data.settings.privacyPolicy.value}}';

    ticketTagsCount={{data.tags.count}};

    init();
">
    <div class="uk-width-1-6 message-list full-height" data-offset="68">
        <div class="page-title noshadow nopadding-right" style="border-top: none !important; border-bottom: none !important; height: 68px !important; padding-left: 20px !important;">
            <div class="page-title-border-right1" style="position:relative;">
                <p style="font-size: 24px;">Settings</p>
            </div>

        </div>

        <div id="" class="page-content-left noborder full-height">
            <ul class="settings-categories scrollable">
                <li {{#ifeq subnav compare='settings-general'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-general');">
                    <div class="setting-category">
                        <h3>General</h3>
                    </div>
                </li>
                <li {{#ifeq subnav compare='settings-appearance'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-appearance');">
                    <div class="setting-category">
                        <h3>Appearance</h3>
                    </div>
                </li>
                <li {{#ifeq subnav compare='settings-tickets'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-tickets');">
                    <div class="setting-category">
                        <h3>Tickets</h3>
                    </div>
                </li>
                <li {{#ifeq subnav compare='settings-mailer'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-mailer');">
                    <div class="setting-category">
                        <h3>Mailer</h3>
                    </div>
                </li>
                <!--<li {{#ifeq subnav compare='settings-notifications'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-notifications');">-->
                    <!--<div class="setting-category">-->
                        <!--<h3>Notifications</h3>-->
                    <!--</div>-->
                <!--</li>-->
                <li {{#ifeq subnav compare='settings-tps'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-tps');">
                    <div class="setting-category">
                        <h3>Push Service</h3>
                    </div>
                </li>
                <li {{#ifeq subnav compare='settings-legal'}} class="active" {{/ifeq}} ng-click="switchSettings($event, 'settings-legal');">
                    <div class="setting-category">
                        <h3>Legal</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="uk-width-5-6">
        <div class="page-title-right noshadow page-title-border-bottom" style="border-top: none !important; height: 69px !important;"></div>
        <div class="page-wrapper full-height scrollable no-overflow-x">
            <div class="settings-wrap">
                <div data-settings-id="settings-general" {{#ifeq subnav compare='settings-general'}} class="active" {{/ifeq}}>
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Site Title</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Title of site. Used as page title. <i>default: Trudesk</i>
                                </h5>
                            </div>
                            <div class="right uk-width-1-3 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-3-4 uk-float-left" style="padding-right: 10px;">
                                    <input id="siteTitle" class="md-input md-input-width-medium" type="text" ng-model="siteTitle" />
                                </div>
                                <div class="uk-width-1-4 uk-float-right" style="margin-top: 10px; text-align: center;">
                                    <button class="md-btn md-btn-small" ng-click="saveSiteTitleClicked();">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Site Url</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Publicly accessible URL of this site. <i>ex: {{data.common.hosturl}} </i>
                                </h5>
                            </div>
                            <div class="right uk-width-1-3 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-3-4 uk-float-left" style="padding-right: 10px;">
                                    <input id="siteUrl" class="md-input md-input-width-medium" name="siteUrl" type="text" ng-model="siteUrl" />
                                </div>
                                <div class="uk-width-1-4 uk-float-right" style="margin-top: 10px; text-align: center;">
                                    <button class="md-btn md-btn-small" ng-click="saveSiteUrlClicked();">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Time Zone
                                    <i class="material-icons"
                                       style="color: #888;
                                            font-size: 16px;
                                            cursor: pointer;
                                            line-height: 3px;"
                                       data-uk-tooltip title="Requires Server Restart">error</i>
                                </h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Set the local timezone for date display
                                </h5>
                            </div>
                            <div class="right uk-width-1-2 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-3-4 uk-float-right" style="padding-right: 10px;">
                                    <select class="selectize" name="tz" id="tz" ng-model="selectedTimezone" ng-change="timezoneChanged()"
                                            ng-options="v.value as v.label for v in timeZones" data-md-selectize-bottom>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Show Tour - <i style="font-size: 13px; color: #a1a1a1;">Beta</i></h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Tour the user interface on initial login.
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input type="checkbox" id="showTour" name="showTour" ng-change="showTourChanged()" ng-model="showTour">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Allow User Registration</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Allow users to create accounts on the login screen.
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input type="checkbox" id="allowUserRegistration" name="allowUserRegistration" ng-change="allowUserRegistrationChanged()" ng-model="allowUserRegistration">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-settings-id="settings-appearance" {{#ifeq subnav compare='settings-appearance'}} class="active" {{/ifeq}}>
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Site Logo</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Upload site logo to display in top navigation. <i>Note: Image will resize to a max width of 140px</i>
                                </h5>
                            </div>
                            <div class="right uk-width-1-3 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-1-1 uk-float-right" style="margin-top: 10px; text-align: right;">
                                    <form class="uk-form-stacked" id="logo-upload-form">
                                        <button id="remove-custom-logo-btn" class="md-btn md-btn-danger md-btn-small right {{#if data.common.hasCustomLogo}} {{else}} hide{{/if}}" ng-click="removeCustomLogo($event);">X</button>
                                        <button class="uk-form-file md-btn md-btn-small right" style="text-transform: none;">Upload Logo<input id="logo-upload-select" type="file"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Page Logo</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Upload logo to display within page views. <i>Note: Used on login page. (515px x 125px)</i>
                                </h5>
                            </div>
                            <div class="right uk-width-1-3 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-1-1 uk-float-right" style="margin-top: 10px; text-align: right;">
                                    <form class="uk-form-stacked" id="page-logo-upload-form">
                                        <button id="remove-custom-page-logo-btn" class="md-btn md-btn-danger md-btn-small right {{#if data.common.hasCustomPageLogo}} {{else}} hide{{/if}}" ng-click="removeCustomPageLogo($event);">X</button>
                                        <button class="uk-form-file md-btn md-btn-small right" style="text-transform: none;">Upload Logo<input id="page-logo-upload-select" type="file"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Favicon</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Upload a custom favicon
                                </h5>
                            </div>
                            <div class="right uk-width-1-3 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-1-1 uk-float-right" style="margin-top: 10px; text-align: right;">
                                    <form class="uk-form-stacked" id="favicon-upload-form">
                                        <button id="remove-custom-favicon-btn" class="md-btn md-btn-danger md-btn-small right {{#if data.common.hasCustomFavicon}} {{else}} hide{{/if}}" ng-click="removeCustomFavicon($event);">X</button>
                                        <button class="uk-form-file md-btn md-btn-small right" style="text-transform: none;">Upload Favicon<input id="favicon-upload-select" type="file"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Built-in Color Scheme</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Select a predefined color scheme
                                </h5>
                            </div>
                            <div class="right uk-width-1-3 uk-clearfix" style="position:relative; margin-right: 15px; margin-top: 5px;">
                                <div class="uk-width-2-3 uk-float-right">
                                    <select name="colorSchemeSelect" id="colorSchemeSelect" data-md-selectize>
                                        <option value="light">Light (Default)</option>
                                        <option value="dark">Dark</option>
                                        <option value="moonlight">Moonlight</option>
                                        <option value="bluejean">Blue Jean</option>
                                        <option value="sandstone">Sandstone</option>
                                        <option value="winterfire">Winter's Fire</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Color Scheme</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Select the colors for your color scheme.
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <div style="margin: 12px 15px 0 0;">
                                    <button class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" ng-click="saveColorScheme($event);">Save</button>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                                <div class="uk-position-relative">
                                    <div class="zone">
                                        <div class="z-box uk-clearfix">
                                            <div class="uk-float-left uk-width-1-2">
                                                <h5 style="font-weight: normal;">Header Background</h5>
                                                <p class="uk-text-muted">Background color of the header</p>
                                            </div>
                                            <div class="uk-float-right uk-clearfix uk-width-1-3">
                                                <div class="uk-float-right">
                                                    <button id="headerBGColorBtn" class="uk-button uk-button-small uk-color-button mr-5 mt-10 uk-float-left" style="background: {{htmlColor}}" ng-click="generateRandomColor('', $event);"><i class="material-icons">refresh</i></button>
                                                    <div class="md-input-wrapper uk-float-left" style="width: 50%">
                                                        <label for="">Color</label>
                                                        <input type="text" class="md-input" ng-model="colorHeaderBG" />
                                                        <span class="md-input-bar"></span>
                                                    </div>
                                                    <button class="md-btn md-btn-small md-btn-flat mr-5 mt-10 uk-float-right" ng-click="revertColor('colorHeaderBG', '#42464d');">Revert</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="z-box uk-clearfix">
                                            <div class="uk-float-left uk-width-1-2">
                                                <h5 style="font-weight: normal;">Header Primary</h5>
                                                <p class="uk-text-muted">Text and icon color within the header</p>
                                            </div>
                                            <div class="uk-float-right uk-clearfix uk-width-1-3">
                                                <div class="uk-float-right">
                                                    <button id="headerPrimaryColorBtn" class="uk-button uk-button-small uk-color-button mr-5 mt-10 uk-float-left" style="background: {{htmlColor}}" ng-click="generateRandomColor('', $event);"><i class="material-icons">refresh</i></button>
                                                    <div class="md-input-wrapper uk-float-left" style="width: 50%">
                                                        <label for="">Color</label>
                                                        <input type="text" class="md-input" ng-model="colorHeaderPrimary" />
                                                        <span class="md-input-bar"></span>
                                                    </div>
                                                    <button class="md-btn md-btn-small md-btn-flat mr-5 mt-10 uk-float-right" ng-click="revertColor('colorHeaderPrimary', '#f6f7fa');">Revert</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="z-box uk-clearfix">
                                            <div class="uk-float-left uk-width-1-2">
                                                <h5 style="font-weight: normal;">Primary</h5>
                                                <p class="uk-text-muted">Most text and icons. Choose a darker color.</p>
                                            </div>
                                            <div class="uk-float-right uk-clearfix uk-width-1-3">
                                                <div class="uk-float-right">
                                                    <button id="primaryColorBtn" class="uk-button uk-button-small uk-color-button mr-5 mt-10 uk-float-left" style="background: {{htmlColor}}" ng-click="generateRandomColor('{{_id}}', $event);"><i class="material-icons">refresh</i></button>
                                                    <div class="md-input-wrapper uk-float-left" style="width: 50%">
                                                        <label for="">Color</label>
                                                        <input type="text" class="md-input" ng-model="colorPrimary" />
                                                        <span class="md-input-bar"></span>
                                                    </div>
                                                    <button class="md-btn md-btn-small md-btn-flat mr-5 mt-10 uk-float-right" ng-click="revertColor('colorPrimary', '#606771');">Revert</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="z-box uk-clearfix">
                                            <div class="uk-float-left uk-width-1-2">
                                                <h5 style="font-weight: normal;">Secondary</h5>
                                                <p class="uk-text-muted">The main background color</p>
                                            </div>
                                            <div class="uk-float-right uk-clearfix uk-width-1-3">
                                                <div class="uk-float-right">
                                                    <button id="secondaryColorBtn" class="uk-button uk-button-small uk-color-button mr-5 mt-10 uk-float-left" style="background: {{htmlColor}}" ng-click="generateRandomColor('{{_id}}', $event);"><i class="material-icons">refresh</i></button>
                                                    <div class="md-input-wrapper uk-float-left" style="width: 50%">
                                                        <label for="">Color</label>
                                                        <input type="text" class="md-input" ng-model="colorSecondary" />
                                                        <span class="md-input-bar"></span>
                                                    </div>
                                                    <button class="md-btn md-btn-small md-btn-flat mr-5 mt-10 uk-float-right" ng-click="revertColor('colorSecondary', '#f7f8fa');">Revert</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="z-box uk-clearfix">
                                            <div class="uk-float-left uk-width-1-2">
                                                <h5 style="font-weight: normal;">Tertiary</h5>
                                                <p class="uk-text-muted">Accent color, used for links, some buttons, and notifications</p>
                                            </div>
                                            <div class="uk-float-right uk-clearfix uk-width-1-3">
                                                <div class="uk-float-right">
                                                    <button id="tertiaryColorBtn" class="uk-button uk-button-small uk-color-button mr-5 mt-10 uk-float-left" style="background: {{htmlColor}}" ng-click="generateRandomColor('{{_id}}', $event);"><i class="material-icons">refresh</i></button>
                                                    <div class="md-input-wrapper uk-float-left" style="width: 50%">
                                                        <label for="">Color</label>
                                                        <input type="text" class="md-input" ng-model="colorTertiary" />
                                                        <span class="md-input-bar"></span>
                                                    </div>
                                                    <button class="md-btn md-btn-small md-btn-flat mr-5 mt-10 uk-float-right" ng-click="revertColor('colorTertiary', '#E74C3C');">Revert</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="z-box uk-clearfix">
                                            <div class="uk-float-left uk-width-1-2">
                                                <h5 style="font-weight: normal;">Quaternary</h5>
                                                <p class="uk-text-muted">Sidebar background color</p>
                                            </div>
                                            <div class="uk-float-right uk-clearfix uk-width-1-3">
                                                <div class="uk-float-right">
                                                    <button id="quaternaryColorBtn" class="uk-button uk-button-small uk-color-button mr-5 mt-10 uk-float-left" style="background: {{htmlColor}}" ng-click="generateRandomColor('{{_id}}', $event);"><i class="material-icons">refresh</i></button>
                                                    <div class="md-input-wrapper uk-float-left" style="width: 50%">
                                                        <label for="">Color</label>
                                                        <input type="text" class="md-input" ng-model="colorQuaternary" />
                                                        <span class="md-input-bar"></span>
                                                    </div>
                                                    <button class="md-btn md-btn-small md-btn-flat mr-5 mt-10 uk-float-right" ng-click="revertColor('colorQuaternary', '#E6E7E8');">Revert</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div data-settings-id="settings-tickets" {{#ifeq subnav compare='settings-tickets'}} class="active" {{/ifeq}}>
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">
                                    Default Ticket Type
                                </h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Default ticket type for newly created tickets.
                                </h5>
                            </div>
                            <div class="right" style="position:relative; padding-top: 5px;">
                                <div class="uk-float-left" style="padding-right: 11px; min-width: 130px; width: 100%;">
                                    <select class="selectize" name="type" id="type" ng-model="defaultTicketType" ng-change="defaultTicketTypeChanged()"
                                            data-md-selectize-inline2 selectize>
                                        {{#each data.common.ticketTypes}}
                                            <option value="{{{_id}}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Allow Public Tickets</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Allow the creation of tickets by users that are unregistered. (<a href="/newissue" class="no-ajaxy">{{data.common.hosturl}}/newissue</a>)
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input type="checkbox" id="allowPublicTickets" name="allowPublicTickets" ng-change="allowPublicTicketsChanged()" ng-model="allowPublicTickets">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Show Overdue Tickets
                                    <i class="material-icons"
                                       style="color: #888;
                                            font-size: 16px;
                                            cursor: pointer;
                                            line-height: 3px;"
                                       data-uk-tooltip="{cls:'long-text'}" title="If disabled, priority SLA times will not mark tickets overdue.">help</i>
                                </h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Enable/Disable flashing of tickets based on SLA time of type priority.
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input type="checkbox" id="showOverdueTickets" name="showOverdueTickets" ng-change="showOverdueTicketsChanged()" ng-model="showOverdueTickets">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Ticket Types-->
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Ticket Types</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Create / Modify Ticket Types
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <div style="margin: 12px 15px 0 0;">
                                    <button class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" ng-click="showCreateTicketTypeWindow($event);">Create</button>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="">
                                <div class="uk-grid uk-grid-collapse">
                                    <div class="ticket-type-categories uk-width-1-4 scrollable br" style="min-height: 400px; max-height: 2000px;">
                                        <ul class="settings-categories " style="border: none; height: auto;">
                                            {{#forEach data.ticketTypes}}
                                                <li data-key="{{_id}}" {{#ifeq isFirst compare=true}}class="active"{{/ifeq}} ng-click="switchTicketType($event);">
                                                    <div class="setting-category">
                                                        <h3>{{name}}</h3>
                                                    </div>
                                                </li>
                                            {{/forEach}}
                                        </ul>
                                    </div>
                                    <div class="uk-width-3-4" style="padding: 20px 15px 15px 15px;">
                                        {{#each data.ticketTypes}}
                                            <div data-ticket-type-id="{{_id}}" {{#ifeq isFirst compare=true}}class="active" {{else}} class="hide"{{/ifeq}} style="{{#ifeq isFirst compare=true}}opacity: 1; {{else}}opacity: 0; {{/ifeq}} height: 100%;">
                                                <div class="ticket-type-general-wrapper">
                                                    <h2 class="text-light">General</h2>
                                                    <hr style="margin: 5px 0 25px 0;" />

                                                    <form ng-submit="submitUpdateTicketType($event, '{{_id}}');">
                                                        <div class="uk-input-group">
                                                            <div class="md-input-wrapper">
                                                                <label for="ticket-type-name-{{_id}}">Type Name</label>
                                                                <input id="ticket-type-name-{{_id}}" type="text" class="md-input" value="{{name}}">
                                                            </div>
                                                            <span class="uk-input-group-addon">
                                                                <button type="submit" class="md-btn md-btn-small">Rename</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="priorities-wrapper uk-margin-medium-top">
                                                    <h2 class="text-light uk-display-inline-block">Priorities
                                                        <i class="material-icons"
                                                            style="color: #888;
                                                            font-size: 16px;
                                                            cursor: pointer;
                                                            line-height: 18px;"
                                                            data-uk-tooltip="{cls:'long-text'}" title="Priorities linked to this type. <br /> Editing a priority will update all types linked.">help</i>
                                                    </h2>
                                                    <div class="uk-float-right">
                                                        <button type="button" class="md-btn md-btn-flat md-btn-flat-success" ng-click="showAddPriorityToType('{{_id}}', $event);">Add</button>
                                                    </div>
                                                    <hr style="margin: 5px 0 25px 0;" />
                                                    <div class="priority-loop zone">
                                                        {{#forEach priorities}}
                                                            <div id="t-{{../_id}}-view-p-{{_id}}" data-pId="{{_id}}" class="z-box uk-clearfix">
                                                                <div class="uk-float-left">
                                                                    <h5 class="p-{{_id}}-name" style="color: {{htmlColor}}; font-weight: bold;">{{name}}</h5>
                                                                    <p class="uk-text-muted">SLA Overdue: <strong class="p-{{_id}}-overdueIn">{{durationFormat overdueIn 'minutes'}}</strong></p>
                                                                </div>
                                                                <div class="uk-float-right">
                                                                    <div class="md-btn-group mt-5">
                                                                        <a class="md-btn md-btn-small" ng-click="editTicketTypePriority('{{../_id}}', '{{_id}}', $event);">Edit</a>
                                                                        <a class="md-btn md-btn-small md-btn-danger {{#ifeq default compare=true}}1disabled {{/ifeq}}" ng-click="submitRemoveTicketTypePriority('{{../_id}}', '{{_id}}', $event);">Remove</a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div id="t-{{../_id}}-edit-p-{{_id}}" data-pId="{{_id}}" class="z-box uk-clearfix hide" style="padding-top: 19px;">
                                                                <form data-priority-id="{{_id}}" ng-submit="submitUpdatePriority($event);">
                                                                    <div class="uk-grid uk-grid-collapse uk-clearfix">
                                                                        <div class="uk-width-1-4">
                                                                            <label for="">Priority Name</label>
                                                                            <input type="text" class="md-input" name="p-{{_id}}-name" value="{{name}}" />
                                                                        </div>
                                                                        <div class="uk-width-1-4 uk-padding-small-sides">
                                                                            <label for="">SLA Overdue (minutes)</label>
                                                                            <input type="text" class="md-input" name="p-{{_id}}-overdueIn" value="{{overdueIn}}" />
                                                                        </div>
                                                                        <div class="uk-width-1-4 uk-padding-small-sides">
                                                                            <button type="button" class="uk-button uk-button-small uk-color-button mr-5 mt-10" style="background: {{htmlColor}}" ng-click="generateRandomColor('{{_id}}', $event);"><i class="material-icons">refresh</i></button>
                                                                            <div class="md-input-wrapper uk-float-left" style="width: 70%;">
                                                                                <label for="">Color</label>
                                                                                <input type="text" class="md-input" name="p-{{_id}}-htmlColor" value="{{htmlColor}}" />
                                                                                <span class="md-input-bar"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="uk-width-1-4">
                                                                            <div class="md-btn-group uk-float-right uk-text-right mt-5">
                                                                                <a class="md-btn md-btn-small" ng-click="cancelEditTicketTypePriority('{{../_id}}','{{_id}}', $event);">Cancel</a>
                                                                                <button type="submit" class="md-btn md-btn-small md-btn-success">Save</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        {{/forEach}}
                                                    </div>
                                                </div>

                                                <div style="margin-top: 25px;">
                                                    <h2 class="text-light">Danger Zone</h2>
                                                    <div class="danger-zone">
                                                        <div class="dz-box uk-clearfix">
                                                            <div class="uk-float-left">
                                                                <h5>Delete this type</h5>
                                                                <p>Once you delete a ticket type, there is no going back. Please be certain.</p>
                                                            </div>
                                                            <div class="uk-float-right" style="padding-top: 10px;">
                                                                <button class="md-btn md-btn-small md-btn-danger" ng-click="showDeleteTicketType('{{_id}}', true)">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{> addPriorityToTypeWindow}}
                                            {{> deleteTicketTypeWindow}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{> createTicketTypeWindow}}
                    </div>

                    <!--Ticket Priorities-->
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Ticket Priorities</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Ticket priorities set the level of SLAs for each ticket.
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <div style="margin: 12px 15px 0 0;">
                                    <button class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" ng-click="showCreatePriorityWindow($event);">Create</button>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                                <div class="uk-position-relative">
                                    <div class="all-priorities-loop zone">
                                        {{#each data.priorities}}
                                            <div id="view-p-{{_id}}" data-pId="{{_id}}" class="z-box uk-clearfix">
                                                <div class="uk-float-left">
                                                    <h5 class="p-{{_id}}-name" style="color: {{htmlColor}}; font-weight: bold;">{{name}}</h5>
                                                    <p class="uk-text-muted">SLA Overdue: <strong class="p-{{_id}}-overdueIn">{{durationFormat overdueIn 'minutes'}}</strong></p>
                                                </div>
                                                <div class="uk-float-right">
                                                    <div class="md-btn-group mt-5">
                                                        <a class="md-btn md-btn-small" ng-click="editPriority('{{_id}}', $event);">Edit</a>
                                                        <a class="md-btn md-btn-small md-btn-danger {{#ifeq default compare=true}}disabled {{/ifeq}}" ng-click="removePriorityClicked('{{_id}}', $event);">Remove</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="edit-p-{{_id}}" data-pId="{{_id}}" class="z-box uk-clearfix hide" style="padding-top: 19px;">
                                                <form data-priority-id="{{_id}}" ng-submit="submitUpdatePriority($event);">
                                                    <div class="uk-grid uk-grid-collapse uk-clearfix">
                                                        <div class="uk-width-1-4">
                                                            <label for="">Priority Name</label>
                                                            <input type="text" class="md-input" name="p-{{_id}}-name" value="{{name}}" />
                                                        </div>
                                                        <div class="uk-width-1-4 uk-padding-small-sides">
                                                            <label for="">SLA Overdue (minutes)</label>
                                                            <input type="text" class="md-input" name="p-{{_id}}-overdueIn" value="{{overdueIn}}" />
                                                        </div>
                                                        <div class="uk-width-1-4 uk-padding-small-sides">
                                                            <button class="uk-button uk-button-small uk-color-button mr-5 mt-10" style="background: {{htmlColor}}" ng-click="generateRandomColor('{{_id}}', $event);"><i class="material-icons">refresh</i></button>
                                                            <div class="md-input-wrapper uk-float-left" style="width: 70%;">
                                                                <label for="">Color</label>
                                                                <input type="text" class="md-input" name="p-{{_id}}-htmlColor" value="{{htmlColor}}" />
                                                                <span class="md-input-bar"></span>
                                                            </div>
                                                        </div>
                                                        <div class="uk-width-1-4">
                                                            <div class="md-btn-group uk-float-right uk-text-right mt-5">
                                                                <a class="md-btn md-btn-small" ng-click="cancelEditPriority('{{_id}}', $event);">Cancel</a>
                                                                <button type="submit" class="md-btn md-btn-small md-btn-success">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            {{> deletePriorityWindow}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{> createPriorityWindow}}
                    </div>

                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Ticket Tags</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Create / Modify Ticket Tags
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <div style="margin: 12px 15px 0 0;">
                                    <button class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" ng-click="showCreateTagWindow($event);">Create</button>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                                <div class="uk-position-relative">
                                    <div class="uk-margin-medium-bottom">
                                        <div class="ticket-tags-wrapper uk-grid uk-grid-collapse zone uk-margin-medium-bottom">

                                        </div>
                                        <ul class="uk-pagination ticket-tags-pagination"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{> createTagWindow}}
                    </div>

                </div>

                <div data-settings-id="settings-mailer" {{#ifeq subnav compare='settings-mailer'}} class="active" {{/ifeq}}>
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Mailer</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Preferences for trudesk to send email notifications to users.
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input id="mailerEnabled" name="mailerEnabled" type="checkbox" ng-model="mailerEnabled" ng-change="mailerEnabledChange()">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                                <div class="uk-position-relative">
                                    <div class="uk-margin-medium-bottom">
                                        <div class="right">
                                            <div class="md-switch md-green" style="position: absolute; top: 5px; right: -15px; z-index: 99;">
                                                <label>
                                                    Use SSLv3
                                                    <input id="mailerSSL" name="mailerSSL" type="checkbox" ng-model="mailerSSL" ng-change="mailerSSLChange()">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <label for="mailerHost">Mail Server</label>
                                        <input id="mailerHost" class="md-input md-input-width-medium" name="mailerHost" type="text" ng-model="mailerHost" />

                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerPort">Port</label>
                                        <input id="mailerPort" class="md-input md-input-width-medium" name="mailerPort" type="text" value="25" ng-model="mailerPort" />
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerUsername">Auth Username</label>
                                        <input id="mailerUsername" class="md-input md-input-width-medium" name="mailerUsername" type="text" ng-model="mailerUsername" />
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerPassword">Auth Password</label>
                                        <input id="mailerPassword" class="md-input md-input-width-medium" name="mailerPassword" type="password" ng-model="mailerPassword" />
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerFrom">From Address</label>
                                        <input id="mailerFrom" class="md-input md-input-width-medium" name="mailerFrom" type="email" ng-model="mailerFrom" />
                                    </div>

                                    <div class="uk-clearfix">
                                        <button type="submit" class="uk-float-left md-btn md-btn-flat md-btn-flat-primary md-btn-wave-light" id="mailerTest" ng-click="submitTestMailer($event)">Test Settings</button>
                                        <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="mailerSubmit" ng-click="mailerFormSubmit($event);">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Mail Check-->
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Mailer Check</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Trudesk will periodically check a mailbox for emails to convert to tickets. (Over IMAP) - <em>Settings are applied after server restart</em>
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input id="mailerCheckEnabled" name="mailerCheckEnabled" type="checkbox" ng-model="mailerCheckEnabled" ng-change="mailerCheckEnabledChange()" />
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                                <div class="">
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerCheckHost">Mail Server</label>
                                        <input id="mailerCheckHost" class="md-input md-input-width-medium" name="mailerCheckHost" type="text" ng-model="mailerCheckHost"/>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerCheckPort">Port</label>
                                        <input id="mailerCheckPort" class="md-input md-input-width-medium" name="mailerCheckPort" type="text" value="143" ng-model="mailerCheckPort"/>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerCheckUsername">Username</label>
                                        <input id="mailerCheckUsername" class="md-input md-input-width-medium" name="mailerCheckUsername" type="text" ng-model="mailerCheckUsername"/>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerCheckPassword">Password</label>
                                        <input id="mailerCheckPassword" class="md-input md-input-width-medium" name="mailerCheckPassword" type="password" ng-model="mailerCheckPassword"/>
                                    </div>
                                    <div class="uk-clearfix uk-margin-medium-bottom">
                                        <div class="left">
                                            <h6 style="padding: 0; margin: 5px 0 0 0; font-size: 16px; line-height: 14px;">Create Account</h6>
                                            <h5 style="padding: 0 0 10px 0; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                                Create a user account if account does not exist.
                                            </h5>
                                        </div>
                                        <div class="right" style="position:relative;">
                                            <!-- Switch -->
                                            <div class="md-switch md-green" style="margin: 10px 0 0 0;">
                                                <label>
                                                    Enable
                                                    <input type="checkbox" id="mailerCheckCreateAccount" name="mailerCheckCreateAccount" ng-model="mailerCheckCreateAccount">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <hr style="float: left; margin-top: 10px;" />
                                    </div>
                                    <div class="uk-clearfix uk-margin-medium-bottom">
                                        <div class="left">
                                            <h6 style="padding: 0; margin: 5px 0 0 0; font-size: 16px; line-height: 14px;">Delete Message</h6>
                                            <h5 style="padding: 0 0 10px 0; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                                Delete email message from INBOX once processed?
                                            </h5>
                                        </div>
                                        <div class="right" style="position:relative;">
                                            <!-- Switch -->
                                            <div class="md-switch md-green" style="margin: 10px 0 0 0;">
                                                <label>
                                                    Enable
                                                    <input type="checkbox" id="mailerCheckDeleteMessage" name="mailerCheckDeleteMessage" ng-model="mailerCheckDeleteMessage">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <hr style="float: left; margin-top: 10px;" />
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerCheckTicketType">Default Ticket Type</label>
                                        <select name="mailerCheckTicketType" id="mailerCheckTicketType" class="selectize selectize-noremove" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12"
                                                ng-model="mailerCheckTicketType"
                                                ng-change="mailerCheckTicketTypeChanged()"
                                        >
                                            {{#each data.common.ticketTypes}}
                                                <option value="{{{_id}}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="mailerCheckTicketPriority">Default Priority</label>
                                        <select name="mailerCheckTicketPriority" id="mailerCheckTicketPriority" class="selectize selectize-noremove" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12"
                                                ng-model="mailerCheckTicketPriority"
                                        >

                                        </select>
                                    </div>
                                    <div class="uk-clearfix">
                                        <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="mailerCheckSubmit" ng-click="mailerCheckFormSubmit($event)">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-settings-id="settings-notifications" {{#ifeq subnav compare='settings-notifcations'}} class="active" {{/ifeq}}>

                </div>

                <div data-settings-id="settings-tps" {{#ifeq subnav compare='settings-tps'}} class="active" {{/ifeq}}>
                    <div class="setting-item-wrap uk-margin-medium-bottom">
                        <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                            <div class="left">
                                <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">TPS</h6>
                                <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                    Trudesk Push Server authentication for push notifications. <a href="http://push.trudesk.io/signup" target="_blank">Get API Key</a>
                                </h5>
                            </div>
                            <div class="right" style="position:relative;">
                                <!-- Switch -->
                                <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                    <label>
                                        Enable
                                        <input id="tpsEnabled" name="tpsEnabled" type="checkbox" ng-model="tpsEnabled" ng-change="tpsEnabledChange()">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <hr class="nomargin-top clear">
                            <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                                <div class="">
                                    <div class="uk-margin-medium-bottom">
                                        <label for="tpsUsername">Username</label>
                                        <input id="tpsUsername" class="md-input md-input-width-medium" name="tpsUsername" type="text" ng-model="tpsUsername" />
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <label for="tspAPIKey">API Key</label>
                                        <input id="tspAPIKey" class="md-input md-input-width-medium" name="tpsApiKey" type="text" ng-model="tpsApiKey" />
                                    </div>
                                    <div class="uk-clearfix">
                                        <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="tpsSubmit" ng-click="tpsFormSubmit($event);">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-settings-id="settings-legal" {{#ifeq subnav compare='settings-legal'}} class="active" {{/ifeq}}>
                    <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Privacy Policy</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Paste in HTML / Text of your privacy policy.
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                        </div>
                        <hr class="nomargin-top">
                        <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                            <div class="uk-position-relative">
                                <div class="uk-margin-medium-bottom">
                                    <textarea name="privacyPolicy" id="privacyPolicy" wrap="soft" ng-model="privacyPolicy"
                                              style="
                                              height: 350px;
                                              width: 100%;
                                              padding: 15px;
                                              font-size: 12px;
                                              resize: none;
                                              overflow: auto;
                                              overflow-wrap: normal;
                                              white-space: pre;
                                    "></textarea>
                                </div>
                                <div class="uk-clearfix">
                                    <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="privacyPolicySubmit" ng-click="savePrivacyPolicy($event);">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}