<div ng-controller="settingsCtrl" ng-init="
    defaultTicketType='{{data.settings.defaultTicketType.value}}';
    mailerEnabled={{data.settings.mailerEnabled.value}};
    mailerHost='{{data.settings.mailerHost.value}}';
    mailerSSL={{data.settings.mailerSSL.value}};
    mailerPort={{data.settings.mailerPort.value}};
    mailerUsername='{{data.settings.mailerUsername.value}}';
    mailerPassword='{{data.settings.mailerPassword.value}}';
    mailerFrom='{{data.settings.mailerFrom.value}}';

    mailerCheckEnabled={{data.settings.mailerCheckEnabled.value}};
    mailerCheckHost='{{data.settings.mailerCheckHost.value}}';
    mailerCheckPort={{data.settings.mailerCheckPort.value}};
    mailerCheckUsername='{{data.settings.mailerCheckUsername.value}}';
    mailerCheckPassword='{{data.settings.mailerCheckPassword.value}}';
    mailerCheckTicketType='{{data.settings.mailerCheckTicketType.value}}';

    showTour={{data.settings.showTour.value}};
    showOverdueTickets={{data.settings.showOverdueTickets.value}};
    allowPublicTickets={{data.settings.allowPublicTickets.value}};
    allowUserRegistration={{data.settings.allowUserRegistration.value}};
    tpsEnabled={{data.settings.tpsEnabled.value}};
    tpsUsername='{{data.settings.tpsUsername.value}}';
    tpsApiKey='{{data.settings.tpsApiKey.value}}';
    init();
">
    <div class="nopadding settings">
        <div class="uk-width-1-1 page-title noshadow" style="padding-left: 25px !important; border-bottom: 1px solid #dadada;">
            <p class="left">{{title}}</p>
        </div>
        <!--Content Here-->
        <div class="page-wrapper full-height scrollable no-overflow-x">
            <div id="page-content-inner">

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Default Ticket Type</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Default ticket type for newly created tickets.
                            </h5>
                        </div>
                        <div class="right" style="position:relative; padding-top: 5px;">
                            <div class="uk-float-left" style="padding-right: 11px; min-width: 130px; width: 100%;">
                                <select class="selectize-white" name="type" id="type"  ng-model="defaultTicketType" data-md-selectize-inline2 selectize>
                                    {{#each data.common.ticketTypes}}
                                        <option value="{{{_id}}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Show Tour - <i style="font-size: 13px; color: #a1a1a1;">Beta</i></h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Tour the user interface on initial login.
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input type="checkbox" id="showTour" name="showTour" ng-change="showTourChanged()" ng-model="showTour">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Show Overdue Tickets</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Flash tickets that have been idle for a length of time. (<a href="#">Configure Priorities</a>)
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input type="checkbox" id="showOverdueTickets" name="showOverdueTickets" ng-change="showOverdueTicketsChanged()" ng-model="showOverdueTickets">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Allow Public Tickets</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Allow the creation of tickets by users that are unregistered. (<a href="/newissue" class="no-ajaxy">{{data.common.hosturl}}/newissue</a>)
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input type="checkbox" id="allowPublicTickets" name="allowPublicTickets" ng-change="allowPublicTicketsChanged()" ng-model="allowPublicTickets">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Allow User Registration</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Allow users to create accounts on the login screen.
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input type="checkbox" id="allowUserRegistration" name="allowUserRegistration" ng-change="allowUserRegistrationChanged()" ng-model="allowUserRegistration">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Mailer</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Preferences for trudesk to send email notifications to users.
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input id="mailerEnabled" name="mailerEnabled" type="checkbox" ng-model="mailerEnabled" ng-change="mailerEnabledChange()">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <hr class="nomargin-top clear">
                        <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                            <div class="uk-position-relative">
                                <div class="uk-margin-medium-bottom">
                                    <div class="right">
                                        <div class="md-switch md-green" style="position: absolute; top: 5px; right: -15px; z-index: 99;">
                                            <label>
                                                Use SSLv3
                                                <input id="mailerSSL" name="mailerSSL" type="checkbox" ng-model="mailerSSL" ng-change="mailerSSLChange()">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <label for="mailerHost">Mail Server</label>
                                    <input id="mailerHost" class="md-input md-input-width-medium" name="mailerHost" type="text" ng-model="mailerHost" />

                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerPort">Port</label>
                                    <input id="mailerPort" class="md-input md-input-width-medium" name="mailerPort" type="text" value="25" ng-model="mailerPort" />
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerUsername">Auth Username</label>
                                    <input id="mailerUsername" class="md-input md-input-width-medium" name="mailerUsername" type="text" ng-model="mailerUsername" />
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerPassword">Auth Password</label>
                                    <input id="mailerPassword" class="md-input md-input-width-medium" name="mailerPassword" type="password" ng-model="mailerPassword" />
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerFrom">From Address</label>
                                    <input id="mailerFrom" class="md-input md-input-width-medium" name="mailerFrom" type="email" ng-model="mailerFrom" />
                                </div>

                                <div class="uk-clearfix">
                                    <button type="submit" class="uk-float-left md-btn md-btn-flat md-btn-flat-primary md-btn-wave-light" id="mailerTest" ng-click="submitTestMailer($event)">Test Settings</button>
                                    <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="mailerSubmit" ng-click="mailerFormSubmit($event);">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 60px;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Mailer Check</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Trudesk will periodically check a mailbox for emails to convert to tickets. (Over IMAP) - <em>Settings are applied after server restart</em>
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input id="mailerCheckEnabled" name="mailerCheckEnabled" type="checkbox" ng-model="mailerCheckEnabled" ng-change="mailerCheckEnabledChange()" />
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <hr class="nomargin-top clear">
                        <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                            <div class="">
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerCheckHost">Mail Server</label>
                                    <input id="mailerCheckHost" class="md-input md-input-width-medium" name="mailerCheckHost" type="text" ng-model="mailerCheckHost"/>
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerCheckPort">Port</label>
                                    <input id="mailerCheckPort" class="md-input md-input-width-medium" name="mailerCheckPort" type="text" value="143" ng-model="mailerCheckPort"/>
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerCheckUsername">Username</label>
                                    <input id="mailerCheckUsername" class="md-input md-input-width-medium" name="mailerCheckUsername" type="text" ng-model="mailerCheckUsername"/>
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerCheckPassword">Password</label>
                                    <input id="mailerCheckPassword" class="md-input md-input-width-medium" name="mailerCheckPassword" type="password" ng-model="mailerCheckPassword"/>
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="mailerCheckTicketType">Default Ticket Type</label>
                                    <select name="mailerCheckTicketType" id="mailerCheckTicketType" class="selectize-white selectize-noremove" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">
                                        {{#each data.common.ticketTypes}}
                                            <option value="{{{_id}}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="uk-clearfix">
                                    <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="mailerCheckSubmit" ng-click="mailerCheckFormSubmit($event)">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">TPS</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Trudesk Push Server authentication for push notifications. <a href="http://push.trudesk.io/signup" target="_blank">Get API Key</a>
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                            <!-- Switch -->
                            <div class="md-switch md-green" style="margin: 20px 0 0 0;">
                                <label>
                                    Enable
                                    <input id="tpsEnabled" name="tpsEnabled" type="checkbox" ng-model="tpsEnabled" ng-change="tpsEnabledChange()">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <hr class="nomargin-top clear">
                        <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                            <div class="">
                                <div class="uk-margin-medium-bottom">
                                    <label for="tpsUsername">Username</label>
                                    <input id="tpsUsername" class="md-input md-input-width-medium" name="tpsUsername" type="text" ng-model="tpsUsername" />
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="tspAPIKey">API Key</label>
                                    <input id="tspAPIKey" class="md-input md-input-width-medium" name="tpsApiKey" type="text" ng-model="tpsApiKey" />
                                </div>
                                <div class="uk-clearfix">
                                    <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="tpsSubmit" ng-click="tpsFormSubmit($event);">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}