<div ng-init="preferences_autoRefreshTicketGrid={{data.user.preferences.autoRefreshTicketGrid}}; username='{{data.user.username}}';" ng-controller="ticketsCtrl">
    <div class="nopadding ticketContent">
        <div class="page-title noshadow uk-clearfix">
            <p class="uk-display-inline-block">Tickets</p>
            <div class="uk-float-right">
                <div class="autorefresh uk-float-left uk-clearfix"></div>
                <div class="pagination uk-float-left uk-clearfix">
                    <span class="pagination-info">{{data.pagination.start}} - {{data.pagination.end}} of {{data.pagination.total}}</span>
                    <ul class="button-group">
                        {{#is data.pagination.prevEnabled true}}

                            {{#is data.pagination.type 'filter'}}
                                <li class="pagination"><a href="{{{data.filter.raw}}}&page={{{data.pagination.prevpage}}}" class="btn md-btn-wave-light"><i class="fa fa-large fa-chevron-left"></i></a></li>
                            {{else}}
                                <li class="pagination"><a href="/tickets/{{data.pagination.type}}/page/{{{data.pagination.prevpage}}}" class="btn md-btn-wave-light"><i class="fa fa-large fa-chevron-left"></i></a></li>
                            {{/is}}

                        {{else}}
                            <li class="pagination"><a href="#" class="btn no-ajaxy md-btn-wave-light"><i class="fa fa-large fa-chevron-left"></i></a></li>
                        {{/is}}

                        {{#is data.pagination.nextEnabled true}}

                            {{#is data.pagination.type 'filter'}}
                                <li class="pagination"><a href="{{{data.filter.raw}}}&page={{{data.pagination.nextpage}}}" class="btn md-btn-wave-light"><i class="fa fa-large fa-chevron-right"></i></a></li>
                            {{else}}
                                <li class="pagination"><a href="/tickets/{{data.pagination.type}}/page/{{{data.pagination.nextpage}}}" class="btn md-btn-wave-light"><i class="fa fa-large fa-chevron-right"></i></a></li>
                            {{/is}}

                        {{else}}
                            <li class="pagination"><a href="#" class="btn no-ajaxy md-btn-wave-light"><i class="fa fa-large fa-chevron-right"></i></a></li>
                        {{/is}}
                    </ul>
                </div>
                <div class="pagination uk-float-left uk-clearfix" style="margin-right: 5px;">
                    <div class="onoffswitch uk-float-left" style="margin-right: 5px; position: relative; top: 18px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="refreshSwitch" ng-model="preferences_autoRefreshTicketGrid" ng-change="GridRefreshChanged()"
                            {{#is data.user.preferences.autoRefreshTicketGrid true}} checked {{/is}}>
                        <label class="onoffswitch-label" for="refreshSwitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <ul class="button-group">
                        <li class="pagination"><a id="refreshTicketGrid" href="#" class="btn md-btn-wave-light" style="border-radius: 3px; margin-right: 5px;" ng-click="RefreshTicketGrid($event)"><i class="fa fa-large fa-refresh"></i></a></li>
                        <li class="pagination">
                            <a href="" class="btn no-ajaxy md-btn-wave-light" style="border-radius: 3px;" ng-click="openFilterTicketWindow($event)">
                                <i class="fa fa-large fa-filter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pagination uk-float-left">
                    <ul class="button-group uk-float-left">
                        <li class="pagination relative">
                            <div class="right" data-uk-dropdown="{pos: 'bottom-right', mode: 'click'}" aria-haspopup="true" aria-expanded="false">
                                <a href="#" class="btn no-ajaxy" data-notifications="ticket-actions" style="border-radius: 3px;"><i class="fa fa-large fa-tasks"></i></a>
                                <div class="uk-dropdown uk-dropdown-xsmall uk-dropdown-bottom">
                                    <ul class="uk-nav">
                                        {{#canUser data.user "ticket:delete"}}
                                            <li>
                                                <a class="no-ajaxify" href="#" role="button" ng-click="deleteTickets()">Delete</a>
                                            </li>
                                            <li>
                                                <hr style="margin: 5px 0;">
                                            </li>
                                        {{/canUser}}
                                        {{#canUser data.user "ticket:Edit"}}
                                            <li><a href="#" class="no-ajaxify" ng-click="closeTickets()">Close</a></li>
                                        {{else}}
                                            {{#canUser data.user "ticket:editSelf"}}
                                                <li><a href="#" class="no-ajaxify" ng-click="closeTickets()">Close</a></li>
                                            {{/canUser}}
                                        {{/canUser}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--<ul class="button-group left">-->
                    <!--{{#canUser data.user "ticket:create"}}<li class="active"><a href="/tickets/create/" role="button" class="btn md-btn-wave-light">Create</a></li>{{/canUser}}-->
                <!--</ul>-->
            </div>
        </div>



        <div class="full-height page-content no-border-top" style="position:relative;">
            <div class="ticketList full-height">
                <table id="ticketTable" class="pDataTable stripe">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Status</th>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Created</th>
                        <th>Requester</th>
                        <th>Group</th>
                        <th>Assignee</th>
                        <th>Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.tickets}}
                        {{#if_eq status compare=0}}
                            <tr class="ticket-new" data-ticket="{{uid}}" data-ticketOid="{{_id}}">
                                <td class="ticket-priority ticket-priority-{{priority}}">
                                    <input id="c_{{_id}}" type="checkbox" class="poloCheckbox" />
                                    <label for="c_{{_id}}"></label>
                                </td>
                                <td class="ticket-status ticket-new"><span>New</span></td>
                                <td>{{uid}}</td>
                                <td>{{subject}}</td>
                                <td>{{{formatDate date "MMM DD, YY"}}}</td>
                                <td>{{owner.fullname}}</td>
                                <td>{{group.name}}</td>
                                <td>
                                    {{#isNotNull assignee}}
                                        {{assignee.fullname}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                                <td>
                                    {{#isNotNull updated}}
                                        {{formatDate updated "MMM DD \at h:mma"}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                            </tr>
                        {{/if_eq}}
                        {{#is status 1}}
                            <tr class="ticket-open {{#overdue updated}} overdue {{/overdue}}" data-ticket="{{uid}}" data-ticketOid="{{_id}}">
                                <td class="ticket-priority ticket-priority-{{priority}}">
                                    <input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>
                                    <label for="c_{{_id}}"></label>
                                </td>
                                <td class="ticket-status ticket-open"><span>Open</span></td>
                                <td>{{uid}}</td>
                                <td>{{subject}}</td>
                                <td>{{{formatDate date "MMM DD, YY"}}}</td>
                                <td>{{owner.fullname}}</td>
                                <td>{{group.name}}</td>
                                <td>
                                    {{#isNotNull assignee}}
                                        {{assignee.fullname}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                                <td>
                                    {{#isNotNull updated}}
                                        {{formatDate updated "MMM DD \at h:mma"}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                            </tr>
                        {{/is}}
                        {{#is status 2}}
                            <tr class="ticket-pending" data-ticket="{{uid}}" data-ticketOid="{{_id}}">
                                <td class="ticket-priority ticket-priority-{{priority}}">
                                    <input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>
                                    <label for="c_{{_id}}"></label>
                                </td>
                                <td class="ticket-status ticket-pending"><span>Pending</span></td>
                                <td>{{uid}}</td>
                                <td>{{subject}}</td>
                                <td>{{{formatDate date "MMM DD, YY"}}}</td>
                                <td>{{owner.fullname}}</td>
                                <td>{{group.name}}</td>
                                <td>
                                    {{#isNotNull assignee}}
                                        {{assignee.fullname}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                                <td>
                                    {{#isNotNull updated}}
                                        {{formatDate updated "MMM DD \at h:mma"}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                            </tr>
                        {{/is}}
                        {{#is status 3}}
                            <tr class="ticket-closed" data-ticket="{{uid}}" data-ticketOid="{{_id}}">
                                <td class="ticket-priority ticket-priority-{{priority}}">
                                    <input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>
                                    <label for="c_{{_id}}"></label>
                                </td>
                                <td class="ticket-status ticket-closed"><span>Closed</span></td>
                                <td>{{uid}}</td>
                                <td>{{subject}}</td>
                                <td>{{{formatDate date "MMM DD, YY"}}}</td>
                                <td>{{owner.fullname}}</td>
                                <td>{{group.name}}</td>
                                <td>
                                    {{#isNotNull assignee}}
                                        {{assignee.fullname}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                                <td>
                                    {{#isNotNull updated}}
                                        {{formatDate updated "MMM DD \at h:mma"}}
                                    {{else}}
                                        --
                                    {{/isNotNull}}
                                </td>
                            </tr>
                        {{/is}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['jquery', 'pages/tickets'], function($, t) {
            t.init();
        });
    </script>
{{/contentFor}}