<div id="tickets-container"
     data-view="{{view}}"
     data-current-page="{{data.pagination.currentpage}}"
     data-prev-page="{{data.pagination.prevpage}}"
     data-next-page="{{data.pagination.nextpage}}"
     data-prev-enabled="{{data.pagination.prevEnabled}}"
     data-next-enabled="{{data.pagination.nextEnabled}}"></div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}