<div class="uk-modal" id="addPriorityTicketType-{{_id}}" ng-controller="settingsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="deletePriorityForm-{{_id}}" action="#" method="POST">
            <input type="hidden" id="del_priority_name-{{_id}}" name="del_priority_name" value="{{name}}">
            <div class="uk-margin-medium-bottom uk-clearfix">
                <h2 class="">Add Priorities</h2>
                <span>Please select the priorities you wish to add to type: <strong>{{name}}</strong></span>
            </div>
            <div class="priority-loop zone">

            </div>

            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            </div>
        </form>
    </div>
</div>