<div class="uk-modal" id="ticketCreateModal" ng-controller="ticketsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="createTicketForm" action="#" method="POST">
            <input type="hidden" name="socketId" id="socketId" value="{{data.user.socket.id}}" />
            <div class="uk-margin-medium-bottom">
                <label for="subject">Subject</label>
                <input type="text" class="md-input" id="subject" name="subject"
                       data-validation="length"
                       data-validation-length="min{{data.common.ticketSettings.minSubject}}"
                       data-validation-error-msg="Please enter a valid Subject. Subject must contain at least {{data.common.ticketSettings.minSubject}} characters."
                />
            </div>
            <div class="uk-margin-medium-bottom">
                <label for="group" class="uk-form-label">Group</label>
                <select class="uk-form-width-full selectize selectize-noremove" name="group" id="group" data-md-selectize-inline>
                    {{#each data.common.groups}}
                        <option value="{{{_id}}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <div class="uk-float-left" style="padding-right: 11px; width: 30%;">
                    <label for="type" class="uk-form-label">Type</label>
                    <select class="selectize" name="type" id="type" data-md-selectize-inline data-default="{{{data.common.defaultTicketType._id}}}">
                        {{#each data.common.ticketTypes}}
                            <option value="{{{_id}}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="uk-float-left" style="width: 68%;">
                    <label for="tags" class="uk-form-label">Tags</label>
                    <select name="tags" id="tags" class="chosen-select1 selectize" multiple data-md-selectize-inline data-md-selectize-bottom="true">
                        {{#each data.common.ticketTags}}
                            <option id="TAG__{{_id}}" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="uk-margin-medium-bottom">
                <label for="ticket_priority" class="uk-form-label">Priority</label>
                <div id="priorityLoader" style="display: none; height: 32px; width:32px; position: relative;">
                    <div class="card-spinner" style="background: transparent !important;">
                        <div class="spinner" style="width: 24px; height: 24px;"></div>
                    </div>
                </div>
                <div id="priority-wrapper" data-default-priorities="{{json data.common.defaultTicketType.priorities}}">
                </div>
            </div>

            <div class="uk-margin-medium-bottom">
                <span>Description</span>
                <div class="error-border-wrap uk-clearfix">
                    <textarea id="issue" name="issue"></textarea>
                    <div class="editor-statusbar uk-float-left uk-width-1-1"></div>
                </div>
                <span style="display: inline-block; margin-top: 6px; font-size: 11px;" class="uk-text-muted">Please try to be as specific as possible. Please include any details you think may be relevant, such as troubleshooting steps you've taken.</span>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" id="submitNewTicket" ng-click="submitTicketForm($event)">Create Ticket</button>
            </div>
        </form>
    </div>
</div>