<div class="uk-modal" id="deletePriorityModal-{{_id}}" ng-controller="settingsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="deletePriorityForm-{{_id}}" action="#" method="POST">
            <input type="hidden" id="del_priority_name-{{_id}}" name="del_priority_name" value="{{name}}">
            <div class="uk-margin-medium-bottom uk-clearfix">
                <h2 class="">{{t 'ticket:Remove_Priority'}}</h2>
                <span>{{t 'ticket:remove_priority_desc'}}</span>
                <hr style="margin: 10px 0" />
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <div class="uk-float-left" style="width: 100%;">
                    <label for="priority" class="uk-form-label">{{t 'common:Priority'}}</label>
                    <select class="selectize-white" name="priority" data-md-selectize-inline>
                        {{#each @root.data.common.priorities}}
                            {{#isnot name ../name}}
                                <option value="{{{_id}}}">{{name}}</option>
                            {{/isnot}}
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <span class="uk-text-danger">{{t 'common:WARNING'}}: {{t 'ticket:This_will_change_all_tickets_with_a_priority_of'}}: <strong>{{name}}</strong> {{t 'ticket:to_the_selected_priority_above'}}. <br /><strong>{{t 'common:This_is_permanent'}}</strong></span>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">{{t 'common:Cancel'}}</button>
                <button type="button" class="md-btn md-btn-flat md-btn-flat-danger" data-id="submitDeleteTicketType" ng-click="submitRemovePriority('{{_id}}', $event)">{{t 'common:Delete'}}</button>
            </div>
        </form>
    </div>
</div>