<div class="sidebar nopadding scrollable-dark" style="{{#if data.common.notice}}top: 105px;{{/if}}" data-scroll-opacitymax="0.1">
    <ul class="side-nav">
        <!--<div>-->
            <!--<div class="logo">-->
                <!--<svg style="width: 140px; height: 75px;" viewBox="0 0 288.9 70.1">-->
                    <!--<path d="M28.5,28.4c-0.1,1.6-0.7,3.4-1.6,5.4c-2.4-0.3-4.6-0.4-6.8-0.4h-1.7c-2.9,13.9-4.3,22.6-4.3,26.1 c0,1.8,0.4,2.7,1.2,2.7c0.8,0,2.9-0.8,6.2-2.3l1.7,3.1C17.7,67.7,12.5,70,7.8,70c-2.2,0-4-0.7-5.4-2.1c-1.4-1.4-2.1-3.2-2.1-5.5	c0-2.3,0.3-4.9,0.8-7.7c0.5-2.9,1.3-6.4,2.2-10.6c0.9-4.2,1.6-7.5,2.1-10.1c-2.3,0.2-4,0.4-5.2,0.6c-0.1-0.8-0.2-1.8-0.2-3	c0-1.3,0.1-2.3,0.3-3.1h5.9c0.5-3.4,0.8-6.6,0.8-9.6L6.8,16v-0.3c4.9-1.7,9.5-2.5,13.8-2.5c0.2,1.3,0.4,2.8,0.4,4.7	c0,1.9-0.5,5.4-1.6,10.6H28.5z"/>-->
                    <!--<circle cx="284.9" cy="64.7" r="4"/>-->
                <!--</svg>-->
            <!--</div>-->
        <!--</div>-->
        <li {{#is nav 'dashboard'}} class='active' {{/is}} data-uk-tooltip="{pos: 'left'}" title="Dashboard">
            <a class="navHome" href="/dashboard"><i class="material-icons">dashboard</i><span class="show-for-large-up">Dashboard</span></a>
        </li>
        <li {{#is nav 'tickets'}} class='active' {{/is}} data-nav-id="tickets">
            <a class="navTickets" href="/tickets"><i class="material-icons">assignment</i>Tickets</a>
        </li>
        <li {{#is nav 'messages'}} class='active' {{/is}}>
            <a href="/messages" class="navMessages ajaxify" data-url="/messages" data-sub-menu="side-nav-sub-messages"><i class="material-icons">chat</i>Messages</a>
        </li>
        <!--<li {{#is nav 'calendar'}} class='active' {{/is}}><a href="/calendar"><i class="fa fa-calendar fa-large"></i>Calendar</a></li>-->
        <!--<li {{#is nav 'servers'}} class='active' {{/is}}>-->
            <!--<a href="/servers">-->
                <!--<svg style="width:24px;height:24px;" viewBox="0 0 24 24">-->
                    <!--<path d="M3,1H19A1,1 0 0,1 20,2V6A1,1 0 0,1 19,7H3A1,1 0 0,1 2,6V2A1,1 0 0,1 3,1M3,9H19A1,1 0 0,1 20,10V10.67L17.5,9.56L11,12.44V15H3A1,1 0 0,1 2,14V10A1,1 0 0,1 3,9M3,17H11C11.06,19.25 12,21.4 13.46,23H3A1,1 0 0,1 2,22V18A1,1 0 0,1 3,17M8,5H9V3H8V5M8,13H9V11H8V13M8,21H9V19H8V21M4,3V5H6V3H4M4,11V13H6V11H4M4,19V21H6V19H4M17.5,12L22,14V17C22,19.78 20.08,22.37 17.5,23C14.92,22.37 13,19.78 13,17V14L17.5,12M17.5,13.94L15,15.06V17.72C15,19.26 16.07,20.7 17.5,21.06V13.94Z" />-->
                <!--</svg>-->
                <!--Servers-->
            <!--</a>-->
        <!--</li>-->
        {{#canUser data.user "accounts:view"}}<li {{#is nav 'accounts'}} class='active' {{/is}}><a href="/accounts"><i class="material-icons">&#xE7FD;</i>Accounts</a></li>{{/canUser}}
        {{#canUser data.user "groups:view"}}<li {{#is nav 'groups'}} class='active' {{/is}}><a href="/groups"><i class="material-icons">supervisor_account</i>Groups</a></li>{{/canUser}}
        <!--<li {{#is nav 'chat'}} class='active' {{/is}}><a href="/chat"><i class="fa fa-comments-o fa-large"></i>Chat</a></li>-->
        <!--<li {{#is nav 'invoices'}} class='active' {{/is}}><a href="/invoices"><i class="material-icons">payment</i>Invoices</a></li>-->
        {{#canUser data.user "reports:view"}}
            <li {{#is nav 'reports'}} class='active' {{/is}} data-nav-id="reports">
                <a href="/reports">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M17.45,15.18L22,7.31V19L22,21H2V3H4V15.54L9.5,6L16,9.78L20.24,2.45L21.97,3.45L16.74,12.5L10.23,8.75L4.31,19H6.57L10.96,11.44L17.45,15.18Z" />
                    </svg>
                    Reports
                </a>
            </li>
        {{/canUser}}

        <li {{#is nav 'plugins'}} class='active tether-plugins' {{/is}}>
            <a href="/plugins"><i class="material-icons">select_all</i>Plugins</a>
            <ul id="side-nav-sub-plugins" class="side-nav-sub {{#is nav 'plugins'}} subMenuOpen {{/is}}">
                {{#each data.common.plugins}}
                    {{#hasPluginPerm ../data.user permissions}}
                        <li {{#is ../subnav name}} class='active' {{/is}}><a href="{{menu.main.link}}"><i class="fa-sub-icon {{menu.main.class}}">{{menu.main.icon}}</i><span>{{menu.main.name}}</span></a></li>
                        {{#compare (size menu.sub) '>' 0}}
                            {{#is ../subnav name}}
                                <ul class="side-nav-sub level-2 {{#is ../nav 'plugins'}} subMenuOpen {{/is}}" style="margin: 0; padding: 0;">
                                    {{#each menu.sub.items}}
                                        <li {{#is ../../childnav id}} class='active' {{/is}} style="margin: 0; padding: 0;">
                                            <a href="{{url}}" style="font-size: 12px; padding-left: 30px;">
                                                {{#isNotNull icon}}
                                                    <i class="fa-sub-icon material-icons" style="font-size: 16px; margin-left: 3px;">{{icon}}</i>
                                                {{else}}
                                                    <i class="fa-sub-icon material-icons" style="font-size: 16px; margin-left: 3px;">label_outline</i>
                                                {{/isNotNull}}
                                                <span>{{title}}</span>
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/is}}
                        {{/compare}}
                        {{#unless @last}}
                            <hr style="background: #ccc;"/>
                        {{/unless}}
                    {{/hasPluginPerm}}
                {{/each}}
            </ul>
        </li>

        {{#canUser data.user "notices:view"}}
            <li {{#is nav 'notices'}} class='active' {{/is}}><a href="/notices"><i class="fa fa-exclamation-triangle fa-large"></i>Notices</a></li>
        {{/canUser}}

        <hr>
        {{#canUser data.user "settings:edit"}}
            <li {{#is nav 'settings'}} class="active" {{/is}} data-nav-id="settings"><a href="/settings"><i class="material-icons">settings</i>Settings</a>
            </li>
        {{/canUser}}
            <li {{#is nav 'about'}} class="active" {{/is}}><a href="/about"><i class="material-icons">help</i>About</a></li>
        <!--<hr>-->
            <!--<li {{#is nav 'bugreport'}} class="active" {{/is}}><a href="/bugreport"><i class="material-icons">bug_report</i>Bug Report</a></li>-->

    </ul>
</div>
<div class="sidebar-to-right">
    <ul id="side-nav-sub-tickets" class="side-nav-sub side-nav-floating">
        <li {{#is subnav 'tickets-active'}} class='active' {{/is}}><a href="/tickets/active"><span>Active</span></a></li>
        <li {{#is subnav 'tickets-assigned'}} class='active' {{/is}}><a href="/tickets/assigned"><span>Assigned</span></a></li>
        <hr/>
        <li {{#is subnav 'tickets-new'}} class='active' {{/is}}><a href="/tickets/new"><span>New</span></a></li>
        <li {{#is subnav 'tickets-pending'}} class='active' {{/is}}><a href="/tickets/pending"><span>Pending</span></a></li>
        <li {{#is subnav 'tickets-open'}} class='active' {{/is}}><a href="/tickets/open"><span>Open</span></a></li>
        <li {{#is subnav 'tickets-closed'}} class='active' {{/is}}><a href="/tickets/closed"><span>Closed</span></a></li>
    </ul>
    <ul id="side-nav-sub-reports" class="side-nav-sub side-nav-floating">
        <li {{#is subnav 'reports-overview'}} class='active' {{/is}}><a href="/reports/overview"><i class="fa fa-th fa-sub-icon"></i><span>Overview</span></a></li>
        <li {{#is subnav 'reports-generate'}} class='active' {{/is}}><a href="/reports/generate"><i class="fa fa-cogs fa-sub-icon"></i><span>Generate</span></a></li>
        <hr/>
        <!--<li {{#is subnav 'reports-breakdown'}} class="active" {{/is}}><a href="/reports/breakdown">< i class="material-icons fa-sub-icon fa-sub-icon">note_add</i>Create</a></li>-->
        <li {{#is subnav 'reports-breakdown-group'}} class="active" {{/is}}><a href="/reports/breakdown/group"><i class="material-icons fa-sub-icon">poll</i><span>Group Breakdown</span></a></li>
        <li {{#is subnav 'reports-breakdown-user'}} class="active" {{/is}}><a href="/reports/breakdown/user"><i class="material-icons fa-sub-icon">transfer_within_a_station</i><span>User Breakdown</span></a></li>
        <!--<li {{#is subnav 'reports-active'}} class='active' {{/is}}><a href="/reports/active"><i class="fa fa-refresh fa-sub-icon"></i>Active</a></li>-->
        <!--<li {{#is subnav 'reports-inactive'}} class='active' {{/is}}><a href="/reports/inactive"><i class="fa fa-times-circle fa-sub-icon"></i>Inactive</a></li>-->
        <!--<li {{#is subnav 'reports-completed'}} class='active' {{/is}}><a href="/reports/completed"><i class="fa fa-check-circle fa-sub-icon"></i>Completed</a></li>-->
    </ul>
    <ul id="side-nav-sub-settings" class="side-nav-sub side-nav-floating">
        <li {{#is subnav 'settings-general'}} class='active' {{/is}}><a href="/settings"><i class="material-icons fa-sub-icon">tune</i><span>General</span></a></li>
        <li {{#is subnav 'settings-legal'}} class='active' {{/is}}><a href="/settings/legal"><i class="material-icons fa-sub-icon">gavel</i><span>Legal</span></a></li>
        <hr>
        <li {{#is subnav 'settings-tags'}} class='active' {{/is}}><a href="/settings/tags"><i class="material-icons fa-sub-icon">style</i><span>Tags</span></a></li>
        {{#canUser data.user "settings:logs"}}
            <li {{#is subnav 'settings-logs'}} class='active' {{/is}}><a href="/settings/logs"><i class="material-icons fa-sub-icon">remove_from_queue</i><span>Logs</span></a></li>
        {{/canUser}}
    </ul>
</div>