<div class="sidebar nopadding " style="{{#if data.common.notice}}top: 105px;{{/if}} overflow-x: hidden;" data-scroll-opacitymax="0.1">
    <div class="side-nav-container" style="min-height: 100%; padding-bottom: 50px;">
        <ul class="side-nav">
            {{#compare data.common.loggedInAccount.role '!=' 'user'}}
                <li {{#is nav 'dashboard'}} class='active' {{/is}}>
                    <a class="navHome" href="/dashboard"><i class="material-icons">dashboard</i><span class="show-for-large-up">Dashboard</span></a>
                </li>
            {{/compare}}
            <li class="hasSubMenu{{#is nav 'tickets'}} active {{/is}}" data-nav-id="tickets" style="position: relative;" data-nav-accordion data-nav-accordion-target="side-nav-accordion-tickets">
                <a class="navTickets no-ajaxy" href="/tickets"><i class="material-icons">assignment</i>Tickets</a>

                <ul id="side-nav-accordion-tickets" class="side-nav-sub side-nav-accordion">
                    <li {{#is subnav 'tickets-active'}} class='active' {{/is}}><a href="/tickets/active"><i class="material-icons fa-sub-icon">timer</i>Active</a></li>
                    <li {{#is subnav 'tickets-assigned'}} class='active' {{/is}}>
                        <a href="/tickets/assigned">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path d="M18,16H6V15.1C6,13.1 10,12 12,12C14,12 18,13.1 18,15.1M12,5.3C13.5,5.3 14.7,6.5 14.7,8C14.7,9.5 13.5,10.7 12,10.7C10.5,10.7 9.3,9.5 9.3,8C9.3,6.5 10.5,5.3 12,5.3M19,2H5C3.89,2 3,2.89 3,4V18A2,2 0 0,0 5,20H9L12,23L15,20H19A2,2 0 0,0 21,18V4C21,2.89 20.1,2 19,2Z" />
                            </svg>
                            Assigned
                        </a>
                    </li>
                    <li {{#is subnav 'tickets-unassigned'}} class='active' {{/is}}><a href="/tickets/unassigned"><i class="material-icons fa-sub-icon">person_add_disabled</i>Unassigned</a></li>
                    <hr style="margin: 0 20px;"/>
                    <li {{#is subnav 'tickets-new'}} class='active' {{/is}}><a href="/tickets/new"><i class="material-icons fa-sub-icon">&#xE24D;</i>New</a></li>
                    <li {{#is subnav 'tickets-pending'}} class='active' {{/is}}><a href="/tickets/pending"><i class="material-icons fa-sub-icon">&#xE629;</i>Pending</a></li>
                    <li {{#is subnav 'tickets-open'}} class='active' {{/is}}><a href="/tickets/open"><i class="material-icons fa-sub-icon">&#xE2C8;</i>Open</a></li>
                    <li {{#is subnav 'tickets-closed'}} class='active' {{/is}}><a href="/tickets/closed"><i class="material-icons fa-sub-icon">&#xE2C7;</i>Closed</a></li>
                </ul>
            </li>
            <li {{#is nav 'messages'}} class='active' {{/is}}>
                <a href="/messages" class="navMessages ajaxify" data-url="/messages" data-sub-menu="side-nav-sub-messages"><i class="material-icons">chat</i>Messages</a>
            </li>
            {{#canUser data.user "accounts:view"}}<li {{#is nav 'accounts'}} class='active' {{/is}}><a href="/accounts"><i class="material-icons">&#xE7FD;</i>Accounts</a></li>{{/canUser}}
            {{#canUser data.user "groups:view"}}<li {{#is nav 'groups'}} class='active' {{/is}}><a href="/groups"><i class="material-icons">supervisor_account</i>Groups</a></li>{{/canUser}}
            {{#canUser data.user "reports:view"}}
                <li class="hasSubMenu {{#is nav 'reports'}}active{{/is}}" data-nav-id="reports" data-nav-accordion data-nav-accordion-target="side-nav-accordion-reports">
                    <a class="no-ajaxy" href="/reports/generate">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path d="M17.45,15.18L22,7.31V19L22,21H2V3H4V15.54L9.5,6L16,9.78L20.24,2.45L21.97,3.45L16.74,12.5L10.23,8.75L4.31,19H6.57L10.96,11.44L17.45,15.18Z" />
                        </svg>
                        Reports
                    </a>

                    <ul id="side-nav-accordion-reports" class="side-nav-sub side-nav-accordion">
                        <li {{#is subnav 'reports-generate'}} class='active' {{/is}}><a href="/reports/generate"><i class="fa fa-cogs fa-sub-icon"></i><span>Generate</span></a></li>
                        <hr />
                        <li {{#is subnav 'reports-breakdown-group'}} class="active" {{/is}}><a href="/reports/breakdown/group"><i class="material-icons fa-sub-icon">poll</i><span>Group Breakdown</span></a></li>
                        <li {{#is subnav 'reports-breakdown-user'}} class="active" {{/is}}><a href="/reports/breakdown/user"><i class="material-icons fa-sub-icon">transfer_within_a_station</i><span>User Breakdown</span></a></li>
                    </ul>
                </li>
            {{/canUser}}

            <!--<li {{#is nav 'plugins'}} class='active tether-plugins' {{/is}} >-->
                <!--<a href="/plugins"><i class="material-icons">select_all</i>Plugins</a>-->
                <!--<ul id="side-nav-sub-plugins" class="side-nav-sub {{#is nav 'plugins'}} subMenuOpen {{/is}}">-->
                    <!--{{#each data.common.plugins}}-->
                        <!--{{#hasPluginPerm ../data.user permissions}}-->
                            <!--<li {{#is ../subnav name}} class='active' {{/is}}><a href="{{menu.main.link}}"><i class="fa-sub-icon {{menu.main.class}}">{{menu.main.icon}}</i><span>{{menu.main.name}}</span></a></li>-->
                            <!--{{#compare (size menu.sub) '>' 0}}-->
                                <!--{{#is ../subnav name}}-->
                                    <!--<ul class="side-nav-sub level-2 {{#is ../nav 'plugins'}} subMenuOpen {{/is}}" style="margin: 0; padding: 0;">-->
                                        <!--{{#each menu.sub.items}}-->
                                            <!--<li {{#is ../../childnav id}} class='active' {{/is}} style="margin: 0; padding: 0;">-->
                                                <!--<a href="{{url}}" style="font-size: 12px; padding-left: 30px;">-->
                                                    <!--{{#isNotNull icon}}-->
                                                        <!--<i class="fa-sub-icon material-icons" style="font-size: 16px; margin-left: 3px;">{{icon}}</i>-->
                                                    <!--{{else}}-->
                                                        <!--<i class="fa-sub-icon material-icons" style="font-size: 16px; margin-left: 3px;">label_outline</i>-->
                                                    <!--{{/isNotNull}}-->
                                                    <!--<span>{{title}}</span>-->
                                                <!--</a>-->
                                            <!--</li>-->
                                        <!--{{/each}}-->
                                    <!--</ul>-->
                                <!--{{/is}}-->
                            <!--{{/compare}}-->
                            <!--{{#unless @last}}-->
                                <!--<hr style="background: #ccc;"/>-->
                            <!--{{/unless}}-->
                        <!--{{/hasPluginPerm}}-->
                    <!--{{/each}}-->
                <!--</ul>-->
            <!--</li>-->

            {{#canUser data.user "notices:view"}}
                <li {{#is nav 'notices'}} class='active' {{/is}}><a href="/notices"><i class="material-icons">warning</i>Notices</a></li>
            {{/canUser}}

            <hr>
            {{#canUser data.user "settings:edit"}}
                <li class="hasSubMenu {{#is nav 'settings'}}active{{/is}}" data-nav-id="settings" data-nav-accordion data-nav-accordion-target="side-nav-accordion-settings">
                    <a class="no-ajaxy" href="/settings"><i class="material-icons">settings</i>Settings</a>
                    <ul id="side-nav-accordion-settings" class="side-nav-sub side-nav-accordion">
                        <li {{#is subnav 'settings-general'}} class='active' {{/is}}><a href="/settings/general"><i class="material-icons fa-sub-icon">tune</i><span>General</span></a></li>
                        <li {{#is subnav 'settings-appearance'}} class='active' {{/is}}><a href="/settings/appearance"><i class="material-icons fa-sub-icon">style</i><span>Appearance</span></a></li>
                        <li {{#is subnav 'settings-tickets'}} class="active" {{/is}}><a href="/settings/tickets"><i class="material-icons fa-sub-icon">assignment</i><span>Tickets</span></a></li>
                        <li {{#is subnav 'settings-mailer'}} class="active" {{/is}}><a href="/settings/mailer"><i class="material-icons fa-sub-icon">email</i><span>Mailer</span></a></li>
                        <!--<li {{#is subnav 'settings-notifications'}} class="active" {{/is}}><a href="/settings/notifications"><i class="material-icons fa-sub-icon"></i><span>Notifications</span></a></li>-->
                        <li {{#is subnav 'settings-tps'}} class="active" {{/is}}><a href="/settings/tps"><i class="material-icons fa-sub-icon">mobile_friendly</i><span>Push Service</span></a></li>
                        <li {{#is subnav 'settings-legal'}} class="active" {{/is}}><a href="/settings/legal"><i class="material-icons fa-sub-icon">gavel</i><span>Legal</span></a></li>


                        {{#canUser data.user "settings:logs"}}
                            <hr>
                            <li {{#is subnav 'settings-logs'}} class='active' {{/is}}><a href="/settings/logs"><i class="material-icons fa-sub-icon">remove_from_queue</i><span>Logs</span></a></li>
                        {{/canUser}}
                    </ul>
                </li>
            {{/canUser}}
            <li {{#is nav 'about'}} class="active" {{/is}}><a href="/about" ><i class="material-icons">help</i>About</a></li>
            <!--<hr>-->
        </ul>
    </div>
    <div class="side-nav-bottom-panel" style="position: fixed; bottom: 0; left: 0;">
       <!--<a href="http://trudesk.io/feedback" target="_blank"><i class="material-icons">speaker_phone</i>Feedback</a>-->
        <a id="expand-menu" class="no-ajaxy" href="#"><i class="material-icons">menu</i>Collapse Menu</a>
    </div>
</div>
<div class="sidebar-to-right">
    <ul id="side-nav-sub-tickets" class="side-nav-sub side-nav-floating">
        <li {{#is subnav 'tickets-active'}} class='active' {{/is}}><a href="/tickets/active"><span>Active</span></a></li>
        <li {{#is subnav 'tickets-assigned'}} class='active' {{/is}}><a href="/tickets/assigned"><span>Assigned</span></a></li>
        <li {{#is subnav 'tickets-unassigned'}} class='active' {{/is}}><a href="/tickets/unassigned"><span>Unassigned</span></a></li>
        <hr/>
        <li {{#is subnav 'tickets-new'}} class='active' {{/is}}><a href="/tickets/new"><span>New</span></a></li>
        <li {{#is subnav 'tickets-pending'}} class='active' {{/is}}><a href="/tickets/pending"><span>Pending</span></a></li>
        <li {{#is subnav 'tickets-open'}} class='active' {{/is}}><a href="/tickets/open"><span>Open</span></a></li>
        <li {{#is subnav 'tickets-closed'}} class='active' {{/is}}><a href="/tickets/closed"><span>Closed</span></a></li>
    </ul>
    <ul id="side-nav-sub-reports" class="side-nav-sub side-nav-floating">
        <li {{#is subnav 'reports-generate'}} class='active' {{/is}}><a href="/reports/generate"><i class="fa fa-cogs fa-sub-icon"></i><span>Generate</span></a></li>
        <hr/>
        <li {{#is subnav 'reports-breakdown-group'}} class="active" {{/is}}><a href="/reports/breakdown/group"><i class="material-icons fa-sub-icon">poll</i><span>Group Breakdown</span></a></li>
        <li {{#is subnav 'reports-breakdown-user'}} class="active" {{/is}}><a href="/reports/breakdown/user"><i class="material-icons fa-sub-icon">transfer_within_a_station</i><span>User Breakdown</span></a></li>
    </ul>
    <ul id="side-nav-sub-settings" class="side-nav-sub side-nav-floating">
        <li {{#is subnav 'settings-general'}} class='active' {{/is}}><a href="/settings/general"><i class="material-icons fa-sub-icon">tune</i><span>General</span></a></li>
        <li {{#is subnav 'settings-appearance'}} class='active' {{/is}}><a href="/settings/appearance"><i class="material-icons fa-sub-icon">tune</i><span>Appearance</span></a></li>
        <li {{#is subnav 'settings-tickets'}} class="active" {{/is}}><a href="/settings/tickets"><i class="material-icons fa-sub-icon">style</i><span>Tickets</span></a></li>
        <li {{#is subnav 'settings-mailer'}} class="active" {{/is}}><a href="/settings/mailer"><i class="material-icons fa-sub-icon">style</i><span>Mailer</span></a></li>
        <!--<li {{#is subnav 'settings-notifications'}} class="active" {{/is}}><a href="/settings/notifications"><i class="material-icons fa-sub-icon">style</i><span>Notifications</span></a></li>-->
        <li {{#is subnav 'settings-tps'}} class="active" {{/is}}><a href="/settings/tps"><i class="material-icons fa-sub-icon">style</i><span>Push Service</span></a></li>
        <li {{#is subnav 'settings-legal'}} class="active" {{/is}}><a href="/settings/legal"><i class="material-icons fa-sub-icon">style</i><span>Legal</span></a></li>

        {{#canUser data.user "settings:logs"}}
            <hr />
            <li {{#is subnav 'settings-logs'}} class='active' {{/is}}><a href="/settings/logs"><i class="material-icons fa-sub-icon">remove_from_queue</i><span>Logs</span></a></li>
        {{/canUser}}
    </ul>
</div>