<div id="online-list-sidebar" class="online-list-sidebar uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip scrollable">
        <div class="online-list-head"><h3>Online Users</h3></div>
        <div class="active-now">
            <h5>Active Now</h5>
            <div class="online-list-wrapper">
                <ul class="online-list"></ul>
            </div>
        </div>

        <h5>More Conversations</h5>
        <div class="user-list-wrapper">
            <div class="online-list-search-box search-box" style="border-top: 1px solid rgba(0,0,0,0.1);">
                <input type="text" placeholder="Search" />
            </div>
            <ul class="user-list">
                {{#each data.common.users}}
                    {{#compare username '!=' ../data.common.loggedInAccount.username}}
                        {{#compare ../data.common.loggedInAccount.role '==' 'user'}}
                            {{#compare role '!=' 'user'}}
                                <li data-search-term="{{lowercase fullname}}" data-user-id="{{_id}}">
                                    <a class="no-ajaxy" data-action="startChat" data-chatuser="{{_id}}" href="#" role="button">
                                        <div class="user-list-user">
                                            {{#if image}}
                                                <div class="image"><img src="/uploads/users/{{image}}"></div>
                                            {{else}}
                                                <div class="image"><img src="/uploads/users/defaultProfile.jpg"></div>
                                            {{/if}}
                                            <span class="online-status-offline" data-user-status-id="{{_id}}">{{fromNow lastOnline}}</span>
                                            <div class="user-name">{{fullname}}</div>
                                        </div>
                                    </a>
                                </li>
                            {{/compare}}
                        {{else}}
                            <li data-search-term="{{lowercase fullname}}" data-user-id="{{_id}}">
                                <a class="no-ajaxy" data-action="startChat" data-chatuser="{{_id}}" href="#" role="button">
                                    <div class="user-list-user">
                                        {{#if image}}
                                            <div class="image"><img src="/uploads/users/{{image}}"></div>
                                        {{else}}
                                            <div class="image"><img src="/uploads/users/defaultProfile.jpg"></div>
                                        {{/if}}
                                        <span class="online-status-offline" data-user-status-id="{{_id}}">{{fromNow lastOnline}}</span>
                                        <div class="user-name">{{fullname}}</div>
                                    </div>
                                </a>
                            </li>
                        {{/compare}}
                    {{/compare}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>