<div id="ticketFilterModal" class="uk-modal">
    <div class="uk-modal-dialog uk-clearfix">
        <a class="uk-modal-close uk-close no-ajaxy" aria-label="Close"></a>
        <!--<h2 id="modalTitle">Filter</h2>-->
        <div ng-controller="ticketsCtrl">
            <form id="ticketFilterForm" class="uk-form-stacked" ng-submit="submitFilter()" >
                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-1">
                        <label for="filterSubject">Subject</label>
                        <input class="md-input" name="filterSubject" id="filterSubject" type="text" />
                    </div>
                </div>

                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-2" style="padding: 0 15px 0 0;">
                        <label for="filterDate_Start" class="uk-form-label nopadding nomargin">Date Start</label>
                        <input id="filterDate_Start" class="md-input" name="filterDate_Start" type="text" data-uk-datepicker="{format:'{{data.common.shortDateFormat}}'}" />
                    </div>
                    <div class="uk-width-1-2" style="padding: 0 0 0 15px;">
                        <label for="filterDate_End" class="uk-form-label nopadding nomargin">Date End</label>
                        <input id="filterDate_End" class="md-input" name="filterDate_End" type="text" data-uk-datepicker="{format:'{{data.common.shortDateFormat}}'}" />
                    </div>
                </div>

                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-1">
                        <label for="filterStatus" class="uk-form-label" style="padding-bottom: 0; margin-bottom: 0;">Status:</label>
                        <select name="filterStatus" id="filterStatus" class="selectize" multiple="multiple" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">
                            <option value="0">New</option>
                            <option value="1">Open</option>
                            <option value="2">Pending</option>
                            <option value="3">Closed</option>
                        </select>
                    </div>
                </div>

                <!--<div class="uk-grid uk-grid-collapse uk-margin-small-bottom">-->
                    <!--<div class="uk-width-1-1">-->
                        <!--<label for="filterPriority" class="uk-form-label" style="padding-bottom: 0; margin-bottom: 0;">Priority:</label>-->
                        <!--<select name="filterPriority" id="filterPriority" class="selectize-white" multiple="multiple" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">-->
                            <!--<option value="1">Normal</option>-->
                            <!--<option value="2">Urgent</option>-->
                            <!--<option value="3">Critical</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-1">
                        <label for="filterTags" class="uk-form-label" style="padding-bottom: 0; margin-bottom: 0;">Tags:</label>
                        <select name="filterTags" id="filterTags" class="selectize" multiple="multiple" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">
                            {{#each data.common.ticketTags}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-1">
                        <label for="filterType" class="uk-form-label" style="padding-bottom: 0; margin-bottom: 0;">Type:</label>
                        <select name="filterType" id="filterType" class="selectize" multiple="multiple" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">
                            {{#each data.common.ticketTypes}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-1">
                        <label for="filterGroup" class="uk-form-label" style="padding-bottom: 0; margin-bottom: 0;">Group:</label>
                        <select name="filterGroup" id="filterGroup" class="selectize" multiple="multiple" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">
                            {{#each data.common.groups}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="uk-grid uk-grid-collapse uk-margin-small-bottom">
                    <div class="uk-width-1-1">
                        <label for="filterAssignee" class="uk-form-label" style="padding-bottom: 0; margin-bottom: 0;">Assignee:</label>
                        <select name="filterAssignee" id="filterAssignee" class="selectize" multiple="multiple" data-md-selectize-inline data-md-selectize-bottom="true" data-md-selectize-top-offset="-12">
                            {{#each data.common.users}}
                                {{#canUserRole role "agent:*"}}
                                    <option value="{{_id}}">{{fullname}}</option>
                                {{/canUserRole}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="right" style="margin-top: 15px;">
                    <!--<button class="uk-button" style="margin-right: 5px; background: #777;" type="reset" ng-click="clearFilterForm($event)">Clear</button>-->
                    <button class="uk-button uk-button-primary nomargin" type="submit">Apply Filter</button>
                </div>
            </form>
        </div>
    </div>

</div>