<div class="flash-message" style="display: none;">
    <div class="flash-text" style="
    position: fixed;
    z-index: 111;
    width: 100%;
    background: #29b955;
    height: 48px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-weight: 300;
    opacity: 0.95;
    font-size: 18px;">
        Settings Successfully Saved!
    </div>
    <div class="close" style="position: absolute; top: 12px; right: 15px; cursor: pointer; color: #2c3e50; z-index: 112">
        <i class="fa fa-times"></i>
    </div>
</div>
<div class="row top-nav">
    <div class="small-12 columns">
        <nav class="top-bar" data-topbar>
            <div class="title-area">
                <div class="logo"><img src="/img/logo.png" alt="Logo"/></div>
            </div>

            <section class="top-bar-section clearfix">
                <!-- Right Nav Section -->
                <div class="top-menu right">
                    <ul>
                        <li class="top-bar-icon"><a href="/tickets/create" style="margin-top: 3px;"><i class="fa fa-plus"></i></a></li>
                        <li class="top-bar-icon">
                            <img src="/img/midDots.png" alt="" style="margin-right: 10px; margin-left: 10px; margin-top: -3px"/>
                        </li>
                        <li class="top-bar-icon">
                            <a id="btn_mail-notifications" href="#" class="no-ajaxy" data-notifications="mail-notifications"><i class="fa-envelope"></i>
                                <span class="alert round label {{#compare data.common.messages.unreadCount "==" 0}}hide{{/compare}} ">{{data.common.messages.unreadCount}}</span>
                            </a>
                        </li>
                        <li class="top-bar-icon">
                            <a id="btn_notifications" href="#" class="no-ajaxy" data-updateUi="notifications" data-notifications="notifications"><i class="fa-exclamation-circle"></i>
                                <span class="alert round label {{#compare data.common.notifications.unreadCount "==" 0}}hide{{/compare}} ">{{data.common.notifications.unreadCount}}</span>
                            </a>
                        </li>
                        <li class="top-bar-icon"><a href="#" class="no-ajaxy" data-updateUi="online-Users" data-notifications="online-Users"><i class="fa-comments"></i></a></li>
                        <li class="profile-area profile-name" data-username="{{data.user.username}}" data-userId="{{data.user._id}}"><span>{{data.user.fullname}}</span>
                            <div style="position: relative; display: inline-block;">
                                <a href="#" class="profile-pic no-ajaxy" data-notifications="profile-actions" style="position: relative;">
                                    {{#isNull data.user.image}}
                                        <img src="/uploads/users/defaultProfile.jpg" alt="Profile"/>
                                    {{else}}
                                        <img src="/uploads/users/{{data.user.image}}" alt="Profile"/>
                                    {{/isNull}}
                                </a>

                                <div id="profile-actions" data-scroll="profileAction-list" data-override="true" data-top-offset="78" data-left-offset="-95" class="notifications p-dropdown p-dropdown-xsmall pSmall" ng-controller="profileCtrl">
                                    <div class="actions"><strong>{{data.user.username}}</strong></div>
                                    <div id="profileAction-list" class="notifications-Messages close-on-click">
                                        <ul>
                                            <li>
                                                <a class="messageNotification" href="/profile" role="button">
                                                    <div class="clearfix">
                                                        <div class="messageIcon left"><i class="fa fa-user"></i></div>
                                                        <div class="messageAuthor"><strong>Profile</strong></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="messageNotification no-ajaxify" href="/logout" role="button">
                                                    <div class="clearfix">
                                                        <div class="messageIcon left"><i class="fa fa-sign-out"></i></div>
                                                        <div class="messageAuthor"><strong>Logout</strong></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="online-Users" data-scroll="online-Users-List" class="notifications p-dropdown">
                        <div class="actions"><strong>Online Users</strong><div class="right"><a class="hoverUnderline" href="#">Settings</a></div></div>
                        <div id="online-Users-List" class="notifications-Messages">
                            <ul>
                                <li>
                                    <a class="messageNotification no-ajaxify" href="#" role="button">
                                        <div class="clearfix">
                                            <div class="messageUnread"></div>
                                            <div class="messageIcon left"><i class="fa fa-warning"></i></div>
                                            <div class="messageAuthor"><strong>Ticket #132 Submitted</strong></div>
                                            <div class="messageSnippet">
                                                <span>There is an issue with the printer at the tax office.</span>
                                            </div>
                                            <div class="messageDate">
                                                <time datetime="2014-08-25T12:00" class="timestamp">Aug 25</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{> topbar/notifications }}
                    <div id="mail-notifications" data-scroll="mail-Messages" class="notifications p-dropdown">
                        <div class="actions"><a href="/messages/inbox" class="blackLink">Inbox</a><div class="right"><a href="#" class="hoverUnderline">Send a New Message</a></div></div>
                        <div id="mail-Messages" class="mail-Messages close-on-click">
                            <ul>
                                <li>
                                    <a class="messageNotification" href="#" role="button">
                                        <div class="clearfix">
                                            <div class="profilePic left"><img src="/uploads/users/defaultProfile.jpg" alt="profile"/></div>
                                            <div class="messageAuthor"><strong>Chris Brame</strong></div>
                                            <div class="messageSnippet">
                                                <span>Here is the content</span>
                                            </div>
                                            <div class="messageDate">
                                                <time datetime="2014-08-25T11:00" class="timestamp">Aug 25</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="messageNotification" href="#" role="button">
                                        <div class="clearfix">
                                            <div class="profilePic left"><img src="/uploads/users/defaultProfile.jpg" alt="profile"/></div>
                                            <div class="messageAuthor"><strong>Rick Spencer</strong></div>
                                            <div class="messageSnippet">
                                                <span>Need to order this part for Ticket #172.</span>
                                            </div>
                                            <div class="messageDate">
                                                <time datetime="2014-08-25T11:00" class="timestamp">Aug 23</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="messageNotification" href="#" role="button">
                                        <div class="clearfix">
                                            <div class="profilePic left"><img src="/uploads/users/defaultProfile.jpg" alt="profile"/></div>
                                            <div class="messageAuthor"><strong>Jon Bullock</strong></div>
                                            <div class="messageSnippet">
                                                <span>Don't forget to get on zoe, server was spiking this morning.</span>
                                            </div>
                                            <div class="messageDate">
                                                <time datetime="2014-08-25T11:00" class="timestamp">Aug 23</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="messageNotification" href="#" role="button">
                                        <div class="clearfix">
                                            <div class="profilePic left"><img src="/uploads/users/defaultProfile.jpg" alt="profile"/></div>
                                            <div class="messageAuthor"><strong>Rick Spencer</strong></div>
                                            <div class="messageSnippet">
                                                <span>Don't forget to get on zoe, server was spiking this morning.</span>
                                            </div>
                                            <div class="messageDate">
                                                <time datetime="2014-08-25T11:00" class="timestamp">Aug 23</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="messageNotification" href="#" role="button">
                                        <div class="clearfix">
                                            <div class="profilePic left"><img src="/uploads/users/defaultProfile.jpg" alt="profile"/></div>
                                            <div class="messageAuthor"><strong>Rick Spencer</strong></div>
                                            <div class="messageSnippet">
                                                <span>Don't forget to get on zoe, server was spiking this morning.</span>
                                            </div>
                                            <div class="messageDate">
                                                <time datetime="2014-08-25T11:00" class="timestamp">Aug 23</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
    </div>
</div>