<div class="small-12 large-10 columns nopadding page-right-content" ng-controller="ticketsCtrl">
    <div class="page-title">
        <p class="left">Create Ticket</p>
        <div class="right">
            <ul class="button-group">
                <li><a href="/tickets/" role="button" class="btn">Cancel</a></li>
                <li class="active"><a id="saveTicketBtn" href="#" role="button" class="btn" ng-click="submitTicketForm()">Save</a></li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper scrollable no-overflow-x full-height">
        <div class="row padtop20 padleft30 padright20">
            <div class="small-12 columns">
                <form id="createTicketForm" class="ticket-form" action="#" method="POST">
                    <input id="socketId" name="socketId" type="hidden" value="{{data.user.socket.id}}"/>
                    <label for="subject">Subject</label>
                    <input id="subject" name="subject" type="text" />
                    <div class="row clearfix">
                        <div class="small-2 columns">
                            <label for="type">Type</label>
                            <select name="type" id="type">
                                {{#each data.ticketTypes}}
                                    <option value="{{{_id}}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="small-2 columns">
                            <label for="priority">Priority</label>
                            <select name="priority" id="priority">
                                <option value="1">Normal</option>
                                <option value="2">Urgent</option>
                                <option value="3">Critical</option>
                            </select>
                        </div>
                        <div class="small-4 columns">
                            <label for="group">Group</label>
                            <select name="group" id="group">
                                {{#each data.groups}}
                                    <option value="{{{_id}}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="small-4 columns">
                            <label for="tags" style="display: block;">Tags</label>
                            <div class="search-container">
                                <!--<input type="text" name="tags" id="tags" />-->
                                <select name="tags" id="tags" class="chosen-select" multiple data-placeholder=" " data-noresults="No Tags Found for ">
                                    {{#each data.common.ticketTags}}
                                        <option id="TAG__{{_id}}" value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <button ng-click="showTags($event)"><i class="fa fa-plus" style="margin-right: 0;"></i></button>
                            </div>
                        </div>
                    </div>
                    <label for="issue">Issue</label>
                    <textarea name="issue" id="issue" cols="30" rows="10"></textarea>
                </form>
            </div>
        </div>
    </div>

    <div id="addTagModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="animation:none;">
        <h5 id="modalTitle" style="font-weight: 300;">Add Tags</h5>
        <div>
            <form id="addTagForm" action="#" method="POST" class="nomargin" ng-submit="submitAddTag($event)">
                <input type="text" id="tag" name="tag" />

                <div class="right">
                    <button class="btn nomargin" type="submit">Add Tags</button>
                </div>
            </form>
        </div>

        <a class="close-reveal-modal no-ajaxy" aria-label="Close">&#215;</a>
    </div>

</div>