<div class="small-12 large-10 columns nopadding page-right-content" ng-controller="ticketsCtrl">
    <div class="page-title">
        <p class="left">Create Ticket</p>
        <div class="right">
            <ul class="button-group">
                <li><a href="/tickets/" role="button" class="btn">Cancel</a></li>
                <li class="active"><a id="saveTicketBtn" href="#" role="button" class="btn" ng-click="submitTicketForm()">Save</a></li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper scrollable no-overflow-x full-height">
        <div class="row padtop20 padleft30 padright20">
            <div class="small-12 columns">
                <form id="createTicketForm" class="ticket-form" action="#" method="POST">
                    <input id="socketId" name="socketId" type="hidden" value="{{data.user.socket.id}}"/>
                    <label for="subject">Subject</label>
                    <input id="subject" name="subject" type="text" data-keyBindSubmit="#saveTicketBtn" />
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="type">Type</label>
                            <select name="type" id="type">
                                {{#each data.ticketTypes}}
                                    <option value="{{{_id}}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="small-3 columns">
                            <label for="group">Group</label>
                            <select name="group" id="group">
                                {{#each data.groups}}
                                    <option value="{{{_id}}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="small-3 columns">
                            <label for="priority">Priority</label>
                            <select name="priority" id="priority">
                                <option value="1">Normal</option>
                                <option value="2">Urgent</option>
                                <option value="3">Critical</option>
                            </select>
                        </div>
                        <div class="small-3 columns">
                            <label for="tags">Tags</label>
                            <input type="text" name="tags" id="tags" data-keyBindSubmit="#saveTicketBtn" />
                        </div>
                    </div>
                    <label for="issue">Issue</label>
                    <textarea name="issue" id="issue" cols="30" rows="10" data-keyBindSubmit="#saveTicketBtn"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>