<div class="small-12 large-10 columns nopadding page-right-content">
    <div class="page-title">
        <p class="left">Create Account</p>
        <div class="right">
            <ul class="button-group">
                <li><a href="/accounts" role="button" class="btn">Cancel</a></li>
                <li class="active"><button class="btn" ng-click="submitForm('createAccountForm', $event)">Save</button>
                    <!--<a href="#" role="button" class="btn" data-action="submit" data-form="createAccountForm">Save</a>-->
                </li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper scrollable no-overflow-x full-height" ng-controller="accountsCtrl">
        <div class="row padtop20 padleft30 padright20">
            <div class="small-12 columns">
                <form id="aUploadImageForm" action="/account/uploadimage" method="post" class="form nomargin" enctype="multipart/form-data">
                    <input type="hidden" name="_id" value="{{data.account._id}}" />
                    <input type="hidden" name="username" value="{{data.account.username}}" />
                    <div class="largeProfilePic" style="position: absolute; left: 15px; top: 0;">
                        <img src="/uploads/users/defaultProfile.jpg" alt="Profile Picture"/>
                    </div>
                </form>
                <form id="createAccountForm" class="form nomargin" action="/accounts/create" method="POST">
                    <input name="aId" type="hidden" value="{{data.account._id}}" />
                    <div style="margin-left: 286px;">
                        <label for="aUsername">Username</label>
                        <input id="aUsername" name="aUsername" type="text" value="{{data.account.username}}"/>

                        <label for="aFullname">Name</label>
                        <input id="aFullname" name="aFullname" type="text" value="{{data.account.fullname}}"/>

                        <label for="aTitle">Title</label>
                        <input id="aTitle" name="aTitle" type="text" value="{{data.account.title}}"/>

                        <label for="aPass">Password</label>
                        <input id="aPass" name="aPass" type="password" />

                        <label for="aPassConfirm">Confirm Password</label>
                        <input id="aPassConfirm" name="aPassConfirm" type="password" />

                        <label for="aEmail">Email</label>
                        <input id="aEmail" name="aEmail" type="text" value="{{data.account.email}}"/>

                        <label for="aRole">Role</label>
                        <select name="aRole" id="aRole">
                            {{#each data.roles}}
                                <option value="{{id}}" {{#is ../data.account.role id}}selected{{/is}}>{{name}}</option>
                            {{/each}}
                        </select>

                        <div style="margin-bottom: 85px;">
                            <label for="agrps">Groups</label>
                            <select name="aGrps" id="aGrps" multiple class="chosen-select">
                                {{#each data.groups}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['modules/ajaximgupload', 'pages/editaccount'], function(a, editAccount) {
            a.init();
            editAccount.init();
        });
    </script>
{{/contentFor}}