<div data-user_id="{{data.account._id}}" class="hide"></div>
<div class="small-12 large-10 columns nopadding page-right-content" ng-controller="profileCtrl">
    <div class="page-title">
        <p class="left">{{data.account.fullname}}</p>
        <div class="right">
            <ul class="button-group">
                <li><a href="#" role="button" class="btn no-ajaxy" ng-click="back($event)">Cancel</a></li>
                <li class="active"><button class="btn" ng-click="updateUser()">Save</button>
                    <!--<a href="#" role="button" class="btn" data-action="submit" data-form="createAccountForm">Save</a>-->
                </li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper scrollable no-overflow-x full-height" style="" ng-controller="accountsCtrl">
        <div class="row padtop20 padleft30 padright20">
            <div class="small-12 columns">
                <form id="aUploadImageForm" action="/account/uploadimage" method="post" class="form nomargin" enctype="multipart/form-data">
                    <input type="hidden" name="_id" value="{{data.account._id}}" />
                    <input type="hidden" name="username" value="{{data.account.username}}" />
                    <div class="largeProfilePic cursor-pointer" style="position: absolute; left: 15px; top: 0;" ng-click="accountEditPic()">
                        <input id="profileImageInput" name="aProfile_{{data.account.username}}" type="file" value="{{data.account.image}}" class="hide" />
                        {{#if data.account.image}}
                            <img src="/uploads/users/{{data.account.image}}" alt="{{data.account.username}}"/>
                        {{else}}
                            <img src="/uploads/users/defaultProfile.jpg" alt="{{data.account.username}}"/>
                        {{/if}}
                        <div class="hoverAction">
                            <span>Upload Photo</span>
                        </div>
                    </div>
                </form>
                <form id="createAccountForm" class="form nomargin" action="/accounts/edit" method="POST">
                    <input name="aId" type="hidden" value="{{data.account._id}}" />
                    <div style="margin-left: 286px;">
                        <label for="aUsername">Username</label>
                        <input id="aUsername" name="aUsername" type="text" value="{{data.account.username}}" disabled/>

                        <label for="aFullname">Name</label>
                        <input id="aFullname" name="aFullname" type="text" value="{{data.account.fullname}}"/>

                        <label for="aPass">Password</label>
                        <input id="aPass" name="aPass" type="password" />

                        <label for="aPassConfirm">Confirm Password</label>
                        <input id="aPassConfirm" name="aPassConfirm" type="password" />

                        <label for="aEmail">Email</label>
                        <input id="aEmail" name="aEmail" type="text" value="{{data.account.email}}"/>

                        <div class="small-10 columns" style="padding-left: 0; padding-right: 0;">
                            <label for="aApiKey">API Key</label>
                            <input id="aApiKey" name="aApiKey" type="text" value="{{data.account.accessToken}}" disabled/>
                        </div>
                        <div class="small-2 columns" style="margin-top: 25px; padding-right: 0; padding-left: 0;">
                                <button class="btn right {{#unless data.account.accessToken}} hide {{/unless}} removeApiButton" style="height: 37px;" type="button" ng-click="removeApiKey($event)">Remove Key</button>

                                <button class="btn right {{#if data.account.accessToken}} hide {{/if}} generateApiButton" style="height: 37px;" type="button" ng-click="generateApiKey($event)">Generate Key</button>
                        </div>

                        <!--<div class="small-12 columns" style="padding-left: 0; padding-right: 0;">-->
                            <!--<p style="float: left; font-size: 14px; font-weight: 400; color: #2c3e50;padding-top: 3px;">Receive Emails:</p>-->
                            <!--<div class="onoffswitch onSwitch right">-->
                                <!--<input type="checkbox" name="aPrefReceiveEmails" class="onoffswitch-checkbox" id="aPrefReceiveEmails">-->
                                <!--<label class="onoffswitch-label" for="aPrefReceiveEmails">-->
                                    <!--<span class="onoffswitch-inner onSwitch-inner"></span>-->
                                    <!--<span class="onoffswitch-switch onSwitch-switch"></span>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['modules/ajaximgupload', 'pages/editaccount'], function(a, editAccount) {
            a.init();
            editAccount.init();
        });
    </script>
{{/contentFor}}