<div ng-init="
    ticketType='{{data.ticket.type._id}}';
    ticketPriority='{{data.ticket.priority._id}}';
    ticketGroup='{{data.ticket.group._id}}';
    subscribed={{isSubscribed data.ticket.subscribers data.common.loggedInAccount._id}};
    user='{{data.common.loggedInAccount._id}}';">

    <div ng-controller="singleTicket">
        <div class="page-right-content">
            <div class="uk-float-left page-title page-title-small noshadow nopadding relative" style="width: 360px; max-width: 360px; min-width: 360px;">
                <div class="page-title-border-right relative" style="padding: 0 30px">
                    <p>Ticket #{{data.ticket.uid}}</p>
                    <div id="__ticketId" class="hide">{{data.ticket._id}}</div>
                    <div id="__ticketStatus" class="hide">{{data.ticket.status}}</div>
                    <div class="floating-ticket-status" data-ticketId="{{data.ticket._id}}">
                        {{#is data.ticket.status 0}}
                            {{#canUser data.user "ticket:edit"}}
                                <div class="ticket-status ticket-new cursor-pointer" ng-click="showStatusSelect()"><span>New</span></div>
                            {{else}}
                                <div class="ticket-status ticket-new"><span>New</span></div>
                            {{/canUser}}
                        {{/is}}
                        {{#is data.ticket.status 1}}
                            {{#canUser data.user "ticket:edit"}}
                                <div class="ticket-status ticket-open cursor-pointer" ng-click="showStatusSelect()"><span>Open</span></div>
                            {{else}}
                                <div class="ticket-status ticket-open"><span>Open</span></div>
                            {{/canUser}}
                        {{/is}}
                        {{#is data.ticket.status 2}}
                            {{#canUser data.user "ticket:edit"}}
                                <div class="ticket-status ticket-pending cursor-pointer" ng-click="showStatusSelect()"><span>Pending</span></div>
                            {{else}}
                                <div class="ticket-status ticket-pending"><span>Pending</span></div>
                            {{/canUser}}
                        {{/is}}
                        {{#is data.ticket.status 3}}
                            {{#canUser data.user "ticket:edit"}}
                                <div class="ticket-status ticket-closed cursor-pointer" ng-click="showStatusSelect()"><span>Closed</span></div>
                            {{else}}
                                <div class="ticket-status ticket-closed"><span>Closed</span></div>
                            {{/canUser}}
                        {{/is}}
                        <span class="drop-icon material-icons" style="left: auto; right: 22px; bottom: -18px">keyboard_arrow_down</span>
                        <div id="statusSelect" close-mouse-up class="hide">
                            <ul>
                                <li class="ticket-status ticket-new" ng-click="changeStatus(0)"><span>New</span></li>
                                <li class="ticket-status ticket-open" ng-click="changeStatus(1)"><span>Open</span></li>
                                <li class="ticket-status ticket-pending" ng-click="changeStatus(2)"><span>Pending</span></li>
                                <li class="ticket-status ticket-closed" ng-click="changeStatus(3)"><span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="page-content-left full-height scrollable">
                    <div class="ticket-details-wrap uk-clearfix">
                        <div class="ticket-assignee-wrap uk-clearfix" style="padding-right: 30px;">
                            <h4>Assignee</h4>
                            {{#if data.ticket.assignee}}
                                <div class="ticket-assignee uk-clearfix" data-ticketId="{{data.ticket._id}}">
                                    <a role="button"
                                       {{#canUser data.common.loggedInAccount "ticket:setAssignee"}}
                                           data-notifications="assigneeDropdown"
                                           data-updateui="assigneeList"
                                       {{/canUser}}

                                       style="float: left;" class="relative no-ajaxy">
                                        {{#if data.ticket.assignee.image}}
                                            <img src="/uploads/users/{{data.ticket.assignee.image}}" alt=""/>
                                        {{else}}
                                            <img src="/uploads/users/defaultProfile.jpg" alt=""/>
                                        {{/if}}
                                        <span class="user-offline uk-border-circle" data-user-status-id="{{data.ticket.assignee._id}}"></span>
                                        <span class="drop-icon material-icons" style="">keyboard_arrow_down</span>
                                    </a>
                                    <div class="ticket-assignee-details">
                                        <h3>{{data.ticket.assignee.fullname}}</h3>
                                        <a class="comment-email-link uk-text-truncate" href="mailto:{{{data.ticket.assignee.email}}}">{{{data.ticket.assignee.email}}}</a>
                                        <span>{{{data.ticket.assignee.title}}}</span>
                                    </div>
                                </div>
                            {{else}}
                                <div class="ticket-assignee uk-clearfix" data-ticketId="{{data.ticket._id}}">
                                    <a role="button"
                                        {{#canUser data.common.loggedInAccount "ticket:setAssignee"}}
                                           data-notifications="assigneeDropdown"
                                           data-updateui="assigneeList"
                                        {{/canUser}}

                                       style="float: left;" class="relative no-ajaxy">
                                        <img src="/uploads/users/defaultProfile.jpg" alt="" />
                                        <span class="drop-icon material-icons" style="">keyboard_arrow_down</span>
                                    </a>
                                    <div class="ticket-assignee-details">
                                        <h3>No User Assigned</h3>
                                    </div>
                                </div>
                            {{/if}}

                            <div id="assigneeDropdown" data-scroll="assigneeDropdown-content"
                                 data-override="true"
                                 data-left-offset="35"
                                 data-top-offset="200"
                                 class="notifications p-dropdown p-dropdown-left"
                                 style="display: block !important;">
                                <div class="actions"><strong>Select Assignee</strong><div class="right"><a role="button" class="no-ajaxy" ng-click="clearAssignee()">Clear Assignee</a></div></div>
                                <div id="assigneeDropdown-content" class="" style="height: 215px;">
                                    <ul>
                                        <li style="width: 295px; text-align: center; font-size: 16px; padding-top: 80px; background: white !important;">LOADING...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1 padding-left-right-15">
                            <div class="tru-card ticket-details uk-clearfix">
                                <div class="uk-width-1-2 uk-float-left nopadding">
                                    <div class="marginright5">
                                        <span>Type</span>
                                        {{#canUser data.user "ticket:edit"}}
                                            <select name="tType" id="tType" class="chosen-select1"
                                                    ng-model="selectedType"
                                                    ng-options="t.name for t in types track by t._id"
                                                    ng-change="updateTicketType()"
                                                    data-ticketId="{{data.ticket._id}}" {{#compare data.ticket.status '==' 3}}disabled{{/compare}}>
                                            </select>
                                        {{else}}
                                            <div id="tType" class="input-box" data-ticketId="{{data.ticket._id}}">{{data.ticket.type.name}}</div>
                                        {{/canUser}}
                                    </div>
                                </div>
                                <div class="uk-width-1-2 uk-float-left nopadding">
                                    <div class="marginleft5">
                                        <span>Priority</span>
                                        {{#canUser data.user "ticket:edit"}}
                                            <select name="tPriority" id="tPriority"
                                                    ng-model="selectedPriority"
                                                    ng-options="p.name for p in selectedType.priorities track by p._id"
                                                    ng-change="updateTicketPriority()"
                                                    data-ticketId="{{data.ticket._id}}" {{#compare data.ticket.status '==' 3}}disabled{{/compare}}>

                                            </select>
                                        {{else}}
                                            <div id="tPriority" class="input-box" data-ticketId="{{data.ticket._id}}">{{data.ticket.priorityname}}</div>
                                        {{/canUser}}
                                    </div>
                                </div>

                                <div class="uk-width-1-1 nopadding uk-clearfix">
                                        <span>Group</span>
                                        {{#canUser data.user "ticket:edit"}}
                                            <select name="tGroup" id="tGroup"
                                                    ng-model="selectedGroup"
                                                    ng-options="g.name for g in groups track by g._id"
                                                    ng-change="updateTicketGroup()"
                                                    data-ticketId="{{data.ticket._id}}" {{#compare data.ticket.status '==' 3}}disabled{{/compare}}>

                                            </select>
                                        {{else}}
                                            <div id="tGroup" class="input-box" data-ticketId="{{data.ticket._id}}">{{data.ticket.group.name}}</div>
                                        {{/canUser}}
                                </div>
                                <div class="uk-width-1-1 nopadding">
                                    <span>Tags
                                        {{#canUser data.user "ticket:edit"}}
                                            <div id="editTags" style="display: inline;" {{#compare data.ticket.status '==' 3}}class="hide"{{/compare}}>-
                                                <a href="#" style="font-size: 11px;" class="no-ajaxy" ng-click="showTags($event)" data-uk-modal="{bgclose:false}">Edit Tags</a>
                                            </div>
                                        {{else}}
                                            <!-- Once a new modal is in place to prevent adding of tags -->
                                            <!-- the end user will be allowed to assign tags to their own tickets -->
                                            <!--{{#canEditSelf data.user data.ticket.owner 'ticket'}}-->
                                                <!--<div id="editTags" style="display: inline;" {{#compare data.ticket.status '==' 3}}class="hide"{{/compare}}>--->
                                                    <!--<a href="#" style="font-size: 11px;" class="no-ajaxy" ng-click="showTags($event)" data-uk-modal="{bgclose:false}">Edit Tags</a>-->
                                                <!--</div>-->
                                            <!--{{/canEditSelf}}-->
                                        {{/canUser}}

                                    </span>
                                    <div class="tag-list uk-clearfix" data-ticketId="{{data.ticket._id}}">
                                        {{#each data.ticket.tags}}
                                            <div class="__TAG_SELECTED hide" style="display:none; opacity: 0; visibility: hidden;">{{_id}}</div>
                                            <div class="item">{{name}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#canUser data.user "ticket:viewHistory"}}
                            <div class="uk-width-1-1 padding-left-right-15">
                                <div class="tru-card ticket-details" style="height: 250px; padding-right: 0 !important; padding-bottom: 0 !important;">
                                    Ticket History
                                    <hr style="padding: 0; margin: 0;"/>
                                    <div class="history-items scrollable" style="padding-top: 12px;">
                                        {{#each data.ticket.history}}
                                            <div class="history-item">
                                                <time datetime="{{formatDate date "YYYY-MM-DD hh:mm"}}">{{formatDate date "MMM DD, h:mma"}}</time>
                                                <em>Action by: <span>{{owner.fullname}}</span></em>
                                                <p>{{description}}</p>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        {{/canUser}}
                    </div>
                </div>
            </div>
            <div class="page-message nopadding" style="margin-left: 360px;">
                <div class="page-title-right noshadow">
                    <div class="page-top-comments uk-float-right">
                        <a href="#" class="btn no-ajaxy" data-action="scrolltobottom" data-targetScroll=".page-content-right" data-preventDefault="true">
                            Add Comment
                        </a>
                    </div>
                    <div class="onoffswitch subscribeSwitch uk-float-right" style="margin-right: 10px; position: relative; top: 18px;">
                        <input type="checkbox" name="subscribeSwitch" class="onoffswitch-checkbox" id="subscribeSwitch" ng-model="subscribed" ng-change="SubscriberChange()"
                               data-subscribe-userId="{{data.common.loggedInAccount._id}}" >
                        <label class="onoffswitch-label" for="subscribeSwitch">
                            <span class="onoffswitch-inner subscribeSwitch-inner"></span>
                            <span class="onoffswitch-switch subscribeSwitch-switch"></span>
                        </label>
                    </div>
                    <div class="pagination uk-float-right" style="margin-right: 5px;">
                        <ul class="button-group">
                            <li class="pagination">
                                <a href="/tickets/print/{{data.ticket.uid}}" class="btn no-ajaxy" style="border-radius: 3px; margin-right: 5px;" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
                                    <i class="material-icons">&#xE8AD;</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-content-right full-height scrollable">
                    <div class="comments-wrapper">
                        <div class="initial-issue" data-ticketid="{{data.ticket._id}}">
                            <div class="ticket-owner-picture relative uk-clearfix uk-display-inline-block uk-float-left">
                                {{#if data.ticket.owner.image}}
                                    <img src="/uploads/users/{{data.ticket.owner.image}}" alt=""/>
                                {{else}}
                                    <img src="/uploads/users/defaultProfile.jpg" alt=""/>
                                {{/if}}

                                <span class="user-offline uk-border-circle" data-user-status-id="{{data.ticket.owner._id}}"></span>
                            </div>
                            <div class="issue-text">
                                <h3 class="subject-text">{{data.ticket.subject}}</h3>
                                <!--<input id="subjectText" name="subjectText" type="text" value="{{data.ticket.subject}}" />-->
                                <a href="mailto:{{data.ticket.owner.email}}">{{{data.ticket.owner.fullname}}} &lt;{{{data.ticket.owner.email}}}&gt;</a>
                                <time datetime="{{formatDate data.ticket.date "YYYY-MM-DD hh:mm"}}">{{formatDate data.ticket.date "MMM DD, h:mma"}}</time>
                                <ul class="attachments" data-ticketid="{{data.ticket._id}}">
                                    {{#each data.ticket.attachments}}
                                        <li>
                                            <a href="{{path}}" class="no-ajaxy" target="_blank">{{name}}</a>
                                            {{#canUser ../data.user "ticket:removeAttachment"}}
                                                <a href="#" class="remove-attachment" data-attachmentId="{{_id}}"><i class="fa fa-remove"></i></a>
                                            {{/canUser}}
                                        </li>
                                    {{/each}}
                                </ul>
                                <div class="issue-body">
                                    {{{data.ticket.issue}}}
                                </div>
                            </div>
                            {{#canUser data.user "ticket:edit"}}
                                <div class="edit-issue-form uk-clearfix hide" style="margin-bottom: 15px;">
                                    <form id="edit-issue-form" ng-submit="updateTicketIssue()" data-abide>
                                        <div class="edit-issue-box">
                                            <textarea name="issueText" id="issueText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                      data-validation="length"
                                                      data-validation-length="min10"
                                                      data-validation-error-msg="Please enter a valid Issue. Issue must contain at least 10 characters."
                                            ></textarea>
                                        </div>
                                        <div class="right">
                                            <button class="uk-button" type="reset" ng-click="editIssueCancelClicked($event)">Cancel</button>
                                            <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit-issue {{#compare data.ticket.status '==' 3}}hide{{/compare}}"><i class="material-icons">&#xE254;</i></div>
                            {{else}}
                                {{#canEditSelf data.user data.ticket.owner 'ticket'}}
                                    <div class="edit-issue-form uk-clearfix hide" style="margin-bottom: 15px;">
                                        <form id="edit-issue-form" ng-submit="updateTicketIssue()">
                                            <div class="edit-issue-box">
                                                <textarea name="issueText" id="issueText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                          data-validation="length"
                                                          data-validation-length="min10"
                                                          data-validation-error-msg="Please enter a valid Issue. Issue must contain at least 10 characters."
                                                ></textarea>
                                            </div>
                                            <div class="right">
                                                <button type="reset" ng-click="editIssueCancelClicked($event)">Cancel</button>
                                                <button type="submit" data-preventDefault="false">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="edit-issue {{#compare data.ticket.status '==' 3}}hide{{/compare}}"><i class="material-icons">&#xE254;</i></div>
                                {{/canEditSelf}}
                            {{/canUser}}
                            <form id="attachmentForm" action="/ticket/uploadattachment" method="post" class="form nomargin" enctype="multipart/form-data">
                                <div class="add-attachment {{#compare data.ticket.status '==' 3}}hide{{/compare}}" ng-click="showUploadAttachment($event)"><i class="material-icons">&#xE226;</i></div>

                                <input type="hidden" name="ticketId" value="{{data.ticket._id}}" />
                                <input type="hidden" name="ownerId" value="{{data.user._id}}" />
                                <input class="attachmentInput hide" name="ticket_{{data.ticket.uid}}_attachment" type="file" value="" />
                            </form>
                        </div>
                        <div class="tru-tabs comments-notes-tab uk-clearfix {{#compare (size data.ticket.commentsAndNotes) '<' 1}} hide {{/compare}}" style="padding: 20px 0 !important;" data-ticketId="{{data.ticket._id}}">
                            <div class="tru-tab-selectors" style="margin-left: 110px;">
                                <a id="tab-all-comments" href="#" class="tru-tab-selector no-ajaxy active" data-tabid="0" data-ticketid="{{data.ticket._id}}">All
                                    <span class="uk-badge uk-badge-grey uk-badge-small">{{size data.ticket.commentsAndNotes}}</span>
                                </a>
                                <a id="tab-public-comments" href="#" class="tru-tab-selector no-ajaxy" data-tabid="1" data-ticketid="{{data.ticket._id}}">Comments
                                    <span class="uk-badge uk-badge-grey uk-badge-small">{{size data.ticket.comments}}</span>
                                </a>
                                <a id="tab-internal-notes" href="#" class="tru-tab-selector no-ajaxy" data-tabid="2" data-ticketid="{{data.ticket._id}}">Notes
                                    <span class="uk-badge uk-badge-grey uk-badge-small">{{size data.ticket.notes}}</span>
                                </a>

                                <span class="tru-tab-highlighter"></span>
                                <span class="tru-tab-hr tru-tab-hr-lighten"></span>
                            </div>

                            <!-- All -->
                            <div class="tru-tab-section" data-tabid="0" style="padding-top: 20px;">
                                <div class="all-comments" data-ticketId="{{data.ticket._id}}">
                                    {{#foreach data.ticket.commentsAndNotes}}
                                        {{#is isComment true}}
                                            <div class="ticket-comment" data-commentId="{{_id}}">
                                                <div class="ticket-comment-image relative uk-clearfix uk-float-left uk-display-inline-block">
                                                    {{#if owner.image}}
                                                        <img src="/uploads/users/{{owner.image}}" alt=""/>
                                                    {{else}}
                                                        <img src="/uploads/users/defaultProfile.jpg" alt="" />
                                                    {{/if}}
                                                    <span class="user-offline uk-border-circle" data-user-status-id="{{owner._id}}"></span>
                                                </div>
                                                <div class="issue-text">
                                                    <h3>Re: {{../data.ticket.subject}}</h3>
                                                    <a class="comment-email-link" href="mailto:{{owner.email}}">{{{owner.fullname}}} &lt;{{{owner.email}}}&gt;</a>
                                                    <time datetime="{{formatDate data "YYYY-MM-DD hh:mm"}}">{{formatDate date "MMM DD, h:mma"}}</time>
                                                    {{#is isNote true}}
                                                        <span class="uk-badge uk-badge-small nomargin-left-right">NOTE</span>
                                                    {{/is}}
                                                    <div class="comment-body">
                                                        {{#is isNote true}}
                                                            <p>{{{note}}}</p>
                                                        {{else}}
                                                            <p>{{{comment}}}</p>
                                                        {{/is}}
                                                    </div>
                                                </div>
                                                {{#canUser ../data.common.loggedInAccount "comment:edit"}}
                                                    <div class="edit-comment-form uk-clearfix hide" data-commentid="{{_id}}" style="margin-bottom: 15px;">
                                                        <form data-commentid="{{_id}}" data-abide>
                                                            <div class="edit-comment-box">
                                                    <textarea name="commentText" id="commentText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                              data-validation="length"
                                                              data-validation-length="min5"
                                                              data-validation-error-msg="Please enter a valid comment. Comment must contain at least 5 characters."
                                                    ></textarea>
                                                            </div>
                                                            <div class="right">
                                                                <button class="uk-button resetForm" type="reset">Cancel</button>
                                                                <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {{else}}
                                                    {{#canEditSelf ../data.common.loggedInAccount owner 'comment'}}
                                                        <div class="edit-comment-form uk-clearfix hide" data-commentid="{{_id}}" style="margin-bottom: 15px;">
                                                            <form data-commentid="{{_id}}" data-abide>
                                                                <div class="edit-comment-box">
                                                        <textarea name="commentText" id="commentText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                                  data-validation="length"
                                                                  data-validation-length="min5"
                                                                  data-validation-error-msg="Please enter a valid comment. Comment must contain at least 5 characters."
                                                        ></textarea>
                                                                </div>
                                                                <div class="right">
                                                                    <button class="uk-button resetForm" type="reset">Cancel</button>
                                                                    <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {{/canEditSelf}}
                                                {{/canUser}}
                                                <div class="comment-actions {{#compare ../data.ticket.status '==' 3}}hide{{/compare}}">
                                                    {{#canUser ../data.common.loggedInAccount "comment:delete"}}
                                                        <div class="remove-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                    {{else}}
                                                        {{#canEditSelf ../data.common.loggedInAccount owner 'comment'}}
                                                            <div class="remove-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                        {{/canEditSelf}}
                                                    {{/canUser}}
                                                    {{#canUser ../data.common.loggedInAccount "comment:edit"}}
                                                        <div class="edit-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                    {{else}}
                                                        {{#canEditSelf ../data.common.loggedInAccount owner 'comment'}}
                                                            <div class="edit-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                        {{/canEditSelf}}
                                                    {{/canUser}}
                                                </div>
                                            </div>
                                        {{/is}}
                                        {{#is isNote true}}
                                            <div class="ticket-note" data-noteid="{{_id}}">
                                                <div class="ticket-comment-image relative uk-clearfix uk-float-left uk-display-inline-block">
                                                    {{#if owner.image}}
                                                        <img src="/uploads/users/{{owner.image}}" alt=""/>
                                                    {{else}}
                                                        <img src="/uploads/users/defaultProfile.jpg" alt="" />
                                                    {{/if}}
                                                    <span class="user-offline uk-border-circle" data-user-status-id="{{owner._id}}"></span>
                                                </div>
                                                <div class="issue-text">
                                                    <h3>Re: {{../data.ticket.subject}}</h3>
                                                    <a class="comment-email-link" href="mailto:{{owner.email}}">{{{owner.fullname}}} &lt;{{{owner.email}}}&gt;</a>
                                                    <time datetime="{{formatDate data "YYYY-MM-DD hh:mm"}}">{{formatDate date "MMM DD, h:mma"}}</time>
                                                    <span class="uk-badge uk-badge-small nomargin-left-right">NOTE</span>
                                                    <div class="comment-body">
                                                        <p>{{{note}}}</p>
                                                    </div>
                                                </div>
                                                {{#canUser ../data.common.loggedInAccount "note:edit"}}
                                                    <div class="edit-note-form uk-clearfix hide" data-noteid="{{_id}}" style="margin-bottom: 15px;">
                                                        <form data-noteid="{{_id}}" data-abide>
                                                            <div class="edit-comment-box">
                                                    <textarea name="noteText" id="noteText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                              data-validation="length"
                                                              data-validation-length="min5"
                                                              data-validation-error-msg="Please enter a valid note. A note must contain at least 5 characters.">
                                                    </textarea>
                                                            </div>
                                                            <div class="right">
                                                                <button class="uk-button resetForm" type="reset">Cancel</button>
                                                                <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {{else}}
                                                    {{#canEditSelf ../data.common.loggedInAccount owner 'note'}}
                                                        <div class="edit-comment-form uk-clearfix hide" data-commentid="{{_id}}" style="margin-bottom: 15px;">
                                                            <form data-noteid="{{_id}}" data-abide>
                                                                <div class="edit-comment-box">
                                                        <textarea name="commentText" id="commentText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                                  data-validation="length"
                                                                  data-validation-length="min5"
                                                                  data-validation-error-msg="Please enter a valid note. A note must contain at least 5 characters."
                                                        ></textarea>
                                                                </div>
                                                                <div class="right">
                                                                    <button class="uk-button resetForm" type="reset">Cancel</button>
                                                                    <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {{/canEditSelf}}
                                                {{/canUser}}
                                                <div class="comment-actions note-actions {{#compare ../data.ticket.status '==' 3}}hide{{/compare}}">
                                                    {{#canUser ../data.common.loggedInAccount "note:delete"}}
                                                        <div class="remove-note" data-noteid="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                    {{else}}
                                                        {{#canEditSelf ../data.common.loggedInAccount owner 'note'}}
                                                            <div class="remove-note" data-noteid="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                        {{/canEditSelf}}
                                                    {{/canUser}}
                                                    {{#canUser ../data.common.loggedInAccount "note:edit"}}
                                                        <div class="edit-note" data-noteid="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                    {{else}}
                                                        {{#canEditSelf ../data.common.loggedInAccount owner 'note'}}
                                                            <div class="edit-note" data-noteid="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                        {{/canEditSelf}}
                                                    {{/canUser}}
                                                </div>
                                            </div>
                                        {{/is}}
                                    {{/foreach}}
                                </div>
                            </div>
                            <!-- Comments -->
                            <div class="tru-tab-section hidden" data-tabid="1" style="padding-top: 20px;">
                                <div class="comments" data-ticketId="{{data.ticket._id}}">
                                    {{#foreach data.ticket.comments}}
                                        <div class="ticket-comment" data-commentId="{{_id}}">
                                            <div class="ticket-comment-image relative uk-clearfix uk-float-left uk-display-inline-block">
                                                {{#if owner.image}}
                                                    <img src="/uploads/users/{{owner.image}}" alt=""/>
                                                {{else}}
                                                    <img src="/uploads/users/defaultProfile.jpg" alt="" />
                                                {{/if}}
                                                <span class="user-offline uk-border-circle" data-user-status-id="{{owner._id}}"></span>
                                            </div>
                                            <div class="issue-text">
                                                <h3>Re: {{../data.ticket.subject}}</h3>
                                                <a class="comment-email-link" href="mailto:{{owner.email}}">{{{owner.fullname}}} &lt;{{{owner.email}}}&gt;</a>
                                                <time datetime="{{formatDate data "YYYY-MM-DD hh:mm"}}">{{formatDate date "MMM DD, h:mma"}}</time>
                                                <div class="comment-body">
                                                        <p>{{{comment}}}</p>
                                                </div>
                                            </div>
                                            {{#canUser ../data.common.loggedInAccount "comment:edit"}}
                                                <div class="edit-comment-form uk-clearfix hide" data-commentid="{{_id}}" style="margin-bottom: 15px;">
                                                    <form data-commentid="{{_id}}" data-abide>
                                                        <div class="edit-comment-box">
                                                    <textarea name="commentText" id="commentText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                              data-validation="length"
                                                              data-validation-length="min5"
                                                              data-validation-error-msg="Please enter a valid comment. Comment must contain at least 5 characters."
                                                    ></textarea>
                                                        </div>
                                                        <div class="right">
                                                            <button class="uk-button resetForm" type="reset">Cancel</button>
                                                            <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            {{else}}
                                                {{#canEditSelf ../data.common.loggedInAccount owner 'comment'}}
                                                    <div class="edit-comment-form uk-clearfix hide" data-commentid="{{_id}}" style="margin-bottom: 15px;">
                                                        <form data-commentid="{{_id}}" data-abide>
                                                            <div class="edit-comment-box">
                                                        <textarea name="commentText" id="commentText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                                  data-validation="length"
                                                                  data-validation-length="min5"
                                                                  data-validation-error-msg="Please enter a valid comment. Comment must contain at least 5 characters."
                                                        ></textarea>
                                                            </div>
                                                            <div class="right">
                                                                <button class="uk-button resetForm" type="reset">Cancel</button>
                                                                <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {{/canEditSelf}}
                                            {{/canUser}}
                                            <div class="comment-actions {{#compare ../data.ticket.status '==' 3}}hide{{/compare}}">
                                                {{#canUser ../data.common.loggedInAccount "comment:delete"}}
                                                    <div class="remove-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                {{else}}
                                                    {{#canEditSelf ../data.common.loggedInAccount owner 'comment'}}
                                                        <div class="remove-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                    {{/canEditSelf}}
                                                {{/canUser}}
                                                {{#canUser ../data.common.loggedInAccount "comment:edit"}}
                                                    <div class="edit-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                {{else}}
                                                    {{#canEditSelf ../data.common.loggedInAccount owner 'comment'}}
                                                        <div class="edit-comment" data-commentId="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                    {{/canEditSelf}}
                                                {{/canUser}}
                                            </div>
                                        </div>
                                    {{/foreach}}
                                </div>
                            </div>

                            <!-- Notes -->
                            <div class="tru-tab-section hidden" data-tabid="2" style="padding-top: 20px;">
                                <div class="notes" data-ticketId="{{data.ticket._id}}">
                                    {{#foreach data.ticket.notes}}
                                        <div class="ticket-note" data-noteid="{{_id}}">
                                            <div class="ticket-comment-image relative uk-clearfix uk-float-left uk-display-inline-block">
                                                {{#if owner.image}}
                                                    <img src="/uploads/users/{{owner.image}}" alt=""/>
                                                {{else}}
                                                    <img src="/uploads/users/defaultProfile.jpg" alt="" />
                                                {{/if}}
                                                <span class="user-offline uk-border-circle" data-user-status-id="{{owner._id}}"></span>
                                            </div>
                                            <div class="issue-text">
                                                <h3>Re: {{../data.ticket.subject}}</h3>
                                                <a class="comment-email-link" href="mailto:{{owner.email}}">{{{owner.fullname}}} &lt;{{{owner.email}}}&gt;</a>
                                                <time datetime="{{formatDate data "YYYY-MM-DD hh:mm"}}">{{formatDate date "MMM DD, h:mma"}}</time>
                                                <span class="uk-badge uk-badge-small nomargin-left-right">NOTE</span>
                                                <div class="comment-body">
                                                    <p>{{{note}}}</p>
                                                </div>
                                            </div>
                                            {{#canUser ../data.common.loggedInAccount "note:edit"}}
                                                <div class="edit-note-form uk-clearfix hide" data-noteid="{{_id}}" style="margin-bottom: 15px;">
                                                    <form data-noteid="{{_id}}" data-abide>
                                                        <div class="edit-comment-box">
                                                    <textarea name="noteText" id="noteText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                              data-validation="length"
                                                              data-validation-length="min5"
                                                              data-validation-error-msg="Please enter a valid note. A note must contain at least 5 characters.">
                                                    </textarea>
                                                        </div>
                                                        <div class="right">
                                                            <button class="uk-button resetForm" type="reset">Cancel</button>
                                                            <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            {{else}}
                                                {{#canEditSelf ../data.common.loggedInAccount owner 'note'}}
                                                    <div class="edit-comment-form uk-clearfix hide" data-commentid="{{_id}}" style="margin-bottom: 15px;">
                                                        <form data-noteid="{{_id}}" data-abide>
                                                            <div class="edit-comment-box">
                                                        <textarea name="commentText" id="commentText" cols="2" rows="5" data-clearOnSubmit="true" class="md-input" required
                                                                  data-validation="length"
                                                                  data-validation-length="min5"
                                                                  data-validation-error-msg="Please enter a valid note. A note must contain at least 5 characters."
                                                        ></textarea>
                                                            </div>
                                                            <div class="right">
                                                                <button class="uk-button resetForm" type="reset">Cancel</button>
                                                                <button class="uk-button" type="submit" data-preventDefault="false">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {{/canEditSelf}}
                                            {{/canUser}}
                                            <div class="comment-actions note-actions {{#compare ../data.ticket.status '==' 3}}hide{{/compare}}">
                                                {{#canUser ../data.common.loggedInAccount "note:delete"}}
                                                    <div class="remove-note" data-noteid="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                {{else}}
                                                    {{#canEditSelf ../data.common.loggedInAccount owner 'note'}}
                                                        <div class="remove-note" data-noteid="{{_id}}"><i class="material-icons">&#xE5CD;</i></div>
                                                    {{/canEditSelf}}
                                                {{/canUser}}
                                                {{#canUser ../data.common.loggedInAccount "note:edit"}}
                                                    <div class="edit-note" data-noteid="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                {{else}}
                                                    {{#canEditSelf ../data.common.loggedInAccount owner 'note'}}
                                                        <div class="edit-note" data-noteid="{{_id}}"><i class="material-icons">&#xE254;</i></div>
                                                    {{/canEditSelf}}
                                                {{/canUser}}
                                            </div>
                                        </div>
                                    {{/foreach}}
                                </div>
                            </div>
                        </div>

                        <!-- Comments / Notes Form -->
                        <div class="uk-width-1-1 ticket-reply uk-clearfix {{#is data.ticket.status 3}}hide{{/is}}">
                            {{#if data.common.loggedInAccount.image}}
                                <img src="/uploads/users/{{data.common.loggedInAccount.image}}" alt=""/>
                            {{else}}
                                <img src="/uploads/users/defaultProfile.jpg" alt="" />
                            {{/if}}
                            <div class="tru-tabs uk-clearfix" style="padding-left: 85px">
                                <div class="tru-tab-selectors">
                                    <a href="#" class="tru-tab-selector no-ajaxy active" data-tabid="0">Comment</a>
                                    {{#canUser data.common.loggedInAccount 'notes:create'}}
                                        <a href="#" class="tru-tab-selector no-ajaxy" data-tabid="1">Internal Note</a>
                                    {{/canUser}}

                                    <span class="tru-tab-highlighter"></span>
                                </div>

                                <div class="tru-tab-section" data-tabid="0">
                                    <form id="comment-reply" action="#" method="post" class="uk-form-stacked" ng-submit="submitComment($event);">
                                        <input name="ticketId" type="hidden" value="{{data.ticket._id}}"/>
                                        <div class="comment-box" style="padding: 0; width: 100%;">
                                            <!--<label for="commentReply" class="uk-form-label">Comment</label>-->
                                            <textarea name="commentReply" id="commentReply" cols="2" rows="5" data-clearOnSubmit="true" class="comment-textarea"
                                                      data-keyBindSubmit="#comment-reply-submit-button"
                                                      data-validation="length"
                                                      data-validation-length="min5"
                                                      data-validation-error-msg="Please enter a valid comment. Comments must contain at least 5 characters."
                                                      style="background: inherit; border-width: 0; border-bottom-width: 1px;"></textarea>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <div class="uk-float-right">
                                                <button id="comment-reply-submit-button" type="submit" class="uk-button uk-button-accent" style="padding: 10px 15px;"
                                                        data-action="scrolltobottom"
                                                        data-targetScroll=".page-content-right"
                                                        data-preventDefault="false">Post Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                {{#canUser data.common.loggedInAccount 'notes:create'}}
                                    <div class="tru-tab-section hidden" data-tabid="1">
                                        <form id="internal-note" action="#" method="post" class="uk-form-stacked" ng-submit="submitInternalNote($event);">
                                            <input name="ticketId" type="hidden" value="{{data.ticket._id}}"/>
                                            <div class="comment-box" style="padding: 0; width: 100%;">
                                                <!--<label for="ticket-note" class="uk-form-label">Internal Note</label>-->
                                                <textarea name="ticket-note" id="ticket-note" cols="2" rows="5" data-clearOnSubmit="true" class="comment-textarea"
                                                          data-keyBindSubmit="#internal-note-submit-button"
                                                          data-validation="length"
                                                          data-validation-length="min5"
                                                          data-validation-error-msg="Please enter a valid note. Notes must contain at least 5 characters."
                                                          style="background: inherit; border-width: 0; border-bottom-width: 1px;"></textarea>
                                            </div>
                                            <div class="uk-float-right">
                                                <button id="internal-note-submit-button" type="submit" class="uk-button uk-button-accent" style="padding: 10px 15px;"
                                                        data-action="scrolltobottom"
                                                        data-targetScroll=".page-content-right"
                                                        data-preventDefault="false">Save Note</button>
                                            </div>
                                        </form>
                                    </div>
                                {{/canUser}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addTagModal" class="uk-modal" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="uk-modal-dialog uk-clearfix">
                <a class="uk-modal-close uk-close no-ajaxy"></a>
                <h5 style="font-weight: 300;">Add Tags</h5>
                <div>
                    <form id="addTagForm" action="#" method="POST" class="nomargin" ng-submit="submitAddTags($event)">
                        <!--<label for="tags">Tag:</label>-->
                        <div class="search-container">
                            <!--<input type="text" name="tags" id="tags" />-->
                            <select name="tags" id="tags" class="chosen-select" multiple data-placeholder=" " data-noresults="No Tags Found for ">
                                {{#each data.common.ticketTags}}
                                    <option id="TAG__{{_id}}" value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <button type="button" ng-click="showCreateTags($event)" style="border-radius: 0; -moz-border-radius: 0;"><i class="fa fa-plus" style="margin-right: 0;"></i></button>
                        </div>

                        <div class="left" style="margin-top: 15px;">
                            <button class="uk-button red nomargin" type="button" ng-click="clearTags($event)">Clear</button>
                        </div>
                        <div class="right" style="margin-top: 15px;">
                            <button class="uk-button uk-button-secondary cancel nomargin uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-success nomargin" type="submit">Save Tags</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="createTagModal" class="uk-modal" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="uk-modal-dialog uk-clearfix">
                <a class="uk-modal-close uk-close no-ajaxy"></a>
                <h5 style="font-weight: 300;">Create Tag</h5>
                <div>
                    <form id="createTagForm" action="#" method="POST" class="nomargin" ng-submit="submitAddNewTag($event)">
                        <input type="text" id="tag" name="tag" class="md-input" />

                        <div class="right" style="margin-top: 15px;">
                            <button class="uk-button uk-button-success nomargin" type="submit">Create Tag</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}